<template>
  <div>
    <Header :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Header>
    <Notifications></Notifications>
    <section class="frame">
      <!-- Sidebar -->
      <Sidebar></Sidebar>
      
      <!-- Content Side -->
      <div class="contSec">
        <div class="cntSd" style="height:100%;">
          <h3 class="blackHd">Submit a bug</h3>
          <button
            style="margin-bottom:20px;"
            class="btn btn_card t_Btn float-left btnBug"
            data-canny-changelog
          >View Changelog</button>
          <button
            class="btn btn_card t_Btn btnBug"
            onclick="window.open('https://sustainably-run-meetings.canny.io/', '_blank')"
            id="roadmap"
          >View Roadmap</button>
          <div style="height:100%;" data-canny />
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Trialdays from "~/components/Trialdays";
import Header from "~/components/Header";
import Footer from "~/components/Footer.vue";
import Notifications from "~/components/Notifications";
import moment from "moment";
import Sidebar from "../../components/Sidebar.vue";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Trialdays,
    Footer,
    Sidebar,
    Notifications
  },
  data() {
    return {
      dialog: false,
      plugin_download: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" },
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,
      isTrialPeriod: false,
      trialCount: 0,
      cannyAppId: "5e9d50c2a3d7a043c1bf3875",
      boardToken: "c2d0f50b-277d-2e60-2a9a-0c2931f72f35",
    };
  },

  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
  },
  async beforeMount() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    }
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      (function (w, d, i, s) {
        function l() {
          if (!d.getElementById(i)) {
            var f = d.getElementsByTagName(s)[0],
              e = d.createElement(s);
            (e.type = "text/javascript"),
              (e.async = !0),
              (e.src = "https://canny.io/sdk.js"),
              f.parentNode.insertBefore(e, f);
          }
        }
        if ("function" != typeof w.Canny) {
          var c = function () {
            c.q.push(arguments);
          };
          (c.q = []),
            (w.Canny = c),
            "complete" === d.readyState
              ? l()
              : w.attachEvent
              ? w.attachEvent("onload", l)
              : w.addEventListener("load", l, !1);
        }
      })(window, document, "canny-jssdk", "script");
    }

    let user = {};
    this.$axios
      .post("USER_URL/canny-setup1", "")
      .then((response) => {
        //console.log("feeback response", response);

        this.cannyRender(response.data.ssoToken);
        Canny("identify", {
          appID: this.cannyAppId,
          user: {
            email: response.data.cannyID.email,
            name: response.data.cannyID.name,
            id: response.data.cannyID.id,
          },
        });
        // this.afterChange();
      })
      .catch((e) => {
        console.log(e);
        this.$store.dispatch("snackbar/setSnackbar", {
          text: "Error in Canny",
          timeout: 2000,
        });
      });
    // Changelog
    Canny("initChangelog", {
      appID: "5e9314e918fe8b594610bb84",
      position: "bottom",
      align: "left",
    });
  },
  beforeDestroy() {
    Canny("closeChangelog");
  },
  methods: {
    cannyRender(token) {
      Canny("render", {
        boardToken: this.boardToken,
        basePath: "/bugs",
        ssoToken: token,
      });
    },
    close() {
      this.plugin_download = false;
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
        //console.log("Desktop plugin selected");
      }
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Web Outlook Plugin"
      ) {
        //console.log("Webplugin plugin selected");
        window.location.href = "USER_URL/download/outlook-web-plugin";
      }
      //console.log(this.select.state);
    },
  },
  //   head() {
  //     return {
  //       script: [
  //         { src: "https://canny.io/sdk.js" }
  //       ]
  //     };
  //   }
};
</script>

