<template>
  <div>
    <header>
      <div class="row justify-content-between" style="flex: 0 0 auto;">
        <div class="col-12 col-sm-3 nFlx d-flex align-items-center justify-content-between p-0">
          <nuxt-link to="/userDashboard">
            <img src="../../assets/images/srlogo.png" class="img-fluid logo" style="width:158px;" />
          </nuxt-link>

          <label class="switchhead switchheadMob" style="display: none">
            <input
              class="switch-input"
              type="checkbox"
              data-toggle="toggle"
              id="togBtn"
              @input="ToggleChange"
            />
            <div class="togic round ml-2">
              <span class="on">COMPANY</span>
              <span class="off">MY</span>
            </div>
          </label>

          <div class="MenuBr">
            <h6>Menu</h6>
            <button
              class="btn btn-default navBtn navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
            >
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="col-12 col-sm-9 p-0">
          <ul v-if="$auth.loggedIn" class="top_count m-0 p-0">
            <li>
              <div class="top_image">
                <img src="../../assets/images/calendar-icon.svg" class="img-fluid" />
              </div>

              <h3>
                <small>SUSTAINABLY RUN MEETINGS</small>
              </h3>

              <ul class="numberBx">
                <li>{{ meetingCount[0] }}</li>
                <li>{{ meetingCount[1] }}</li>
                <li>{{ meetingCount[2] }}</li>
                <li>{{ meetingCount[3] }}</li>

                <!-- <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>-->
              </ul>
            </li>
            <li>
              <div class="top_image">
                <img src="../../assets/images/plant-trees.svg" class="img-fluid" />
              </div>
              <h3>
                <small>TREES PLANTED</small>
              </h3>
              <ul class="numberBx">
                <li>{{ treeCount[0] }}</li>
                <li>{{ treeCount[1] }}</li>
                <li>{{ treeCount[2] }}</li>
                <li>{{ treeCount[3] }}</li>
                <!-- <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>-->
              </ul>
            </li>
            <li>
              <label class="switchhead d-block" style="display: none">
                <input
                  class="switch-input"
                  type="checkbox"
                  data-toggle="toggle"
                  id="togBtn"
                  @input="ToggleChange"
                />
                <div class="togic round ml-2">
                  <span class="on">COMPANY</span>
                  <span class="off">MY</span>
                </div>
              </label>
            </li>

            <li>
              <div class="top_image lg">
                <img src="../../assets/images/account-details.svg" class="img-fluid" />
              </div>
              <h3>
                <v-btn @click="Logout()">LOGOUT</v-btn>
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header -->

    <section class="frameMob">
      <!-- Sidebar -->

      <div class="conSidebar res_nav collapse navbar-collapse" id="collapsibleNavbar">
        <div style="height:100%;">
          <ul class="navigation_bar p-0" v-if="$auth.loggedIn">
            <!-- <li class="lgCls">
              <img src="../../assets/images/mbl_logo.png" class="img-fluid" />
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close <span>
              &times;</span></a>
            </li>-->

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <n-link to="/userDashboard" no-prefetch>
                <img src="../../assets/images/dashboard.svg" class="img-fluid" />Dashboard
              </n-link>
            </li>

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <n-link to="/userPassword">
                <img src="../../assets/images/invite-users.svg" class="img-fluid" />Change Password
              </n-link>
            </li>

            <li @click="Logout()" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a>
                <img src="../../assets/images/account-details.svg" class="img-fluid" />Log Out
              </a>
            </li>
            <li>
              <div class="dropdown mbInrDrp">
                <button
                  class="btn btn-secondary"
                  type="button"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >Help</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="/userFeedback">Request a Feature</a>
                  <a class="dropdown-item" href="/userBugs">Submit a Bug</a>
                  <a class="dropdown-item" href="#">Docs/FAQ</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Sidebar -->
    </section>

    <Notifications></Notifications>

    <!-- -------Content Section----------------- -->
    <section class="frame">
      <!-- Sidebar -->

      <div class="conSidebar">
        <ul class="navigation_bar">
          <li>
            <nuxt-link to="/userDashboard">
              <img src="../../assets/images/dashboard.svg" class="img-fluid" />Dashboard
            </nuxt-link>
          </li>

          <li>
            <nuxt-link to="/userPassword">
              <img src="../../assets/images/account-details.svg" class="img-fluid" />Change Password
            </nuxt-link>
          </li>
          <!-- <li @click="Logout()">
                <img
                  src="../../assets/images/account-details.svg"
                  class="img-fluid"
                />Log Out
          </li>-->
        </ul>

        <footer style="border:none;">
          <div class="sdbr_ftr">
            <p>Download/Install Sustainably Run Meetings Plugin</p>
            <button class="btn btn_card s_m_downloadbutton" @click.stop="dialog = true">Download</button>
            <v-layout row justify-center>
              <v-dialog v-model="dialog" max-width="430">
                <v-card class="p-3 p-md-4 dwnldModal">
                  <v-card-title class="headline justify-centre pl-0">
                    <h4>Sustainably Run Meetings Plugin</h4>
                  </v-card-title>

                  <v-row align="center">
                    <v-col cols="12">
                      <v-subheader class="justify-centre pl-0">Choose Meeting Platform</v-subheader>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" class="py-0">
                      <v-select
                        v-model="select"
                        @change="selectPlugin"
                        :items="items"
                        item-text="state"
                        label="Select"
                        persistent-hint
                        return-object
                        single-line
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-card-actions class="popbtn">
                    <v-spacer></v-spacer>

                    <v-btn
                      color="green darken-1"
                      class="btn btn_card t_Btn"
                      @click="close()"
                    >{{ downloadText }}</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-layout>
          </div>
        </footer>
        <ul class="navigation_bar helpBar">
          <li>
            <div class="btn-group w-100">
              <a
                type
                href
                class="w-100 active"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >Help</a>
              <div
                class="dropdown-menu"
              >
                <ul class="navigation_bar p-0">
                  <li>
                    <nuxt-link to="/userFeedback">Request a Feature</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/userBugs">Submit a Bug</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="#">Docs/FAQ</nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-------------------------------- Sidebar end ------------------------------------------->

      <!-- Content Side -->
      <div class="contSec">
        <ul class="d-block d-sm-block d-md-none top_count m-0 p-0">
          <li>
            <div class="top_image">
              <img src="../../assets/images/calendar-icon.svg" class="img-fluid" />
            </div>

            <ul class="numberBx">
              <li>{{ meetingCount[0] }}</li>
              <li>{{ meetingCount[1] }}</li>
              <li>{{ meetingCount[2] }}</li>
              <li>{{ meetingCount[3] }}</li>
              <!-- <li>0</li>
              <li>0</li>
              <li>0</li>
              <li>0</li>-->
            </ul>
          </li>
          <li>
            <div class="top_image">
              <img src="../../assets/images/plant-trees.svg" class="img-fluid" />
            </div>
            <ul class="numberBx">
              <li>{{ treeCount[0] }}</li>
              <li>{{ treeCount[1] }}</li>
              <li>{{ treeCount[2] }}</li>
              <li>{{ treeCount[3] }}</li>
              <!-- <li>0</li>
              <li>0</li>
              <li>0</li>
              <li>0</li>-->
            </ul>
          </li>
        </ul>

        <div class="cntSd" style="height:100%;">
          <h3 class="blackHd">Request a feature</h3>
          <button
            style="margin-bottom:20px;"
            class="btn btn_card t_Btn float-left btnBug"
            data-canny-changelog
          >View Changelog</button>
          <button
            class="btn btn_card t_Btn btnBug"
            onclick="window.open('https://sustainably-run-meetings.canny.io/', '_blank')"
            id="roadmap"
          >View Roadmap</button>
          <div style="height:100%;" data-canny />
        </div>
      </div>
      <!-- Content Side -->
    </section>
    <Footer></Footer>
  </div>
</template>
<script>
import Footer from "~/components/Footer.vue";
import Header from "~/components/userHeader";
import Notifications from "~/components/Notifications";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Footer,
    Notifications
  },

  data() {
    return {
      validPwd: false,
      isUser: true,

      valid: false,
      dialog: false,
      downloadText: 'Download',
      select: { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
      items: [
        { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
        { state: "Sustainably Run Meetings for Microsoft Web Plugin" },
        { state: "Sustainably Run Meetings Google Calendar Plugin" },
      ],
      // meetingcount: this.$store.state.user.count,
      // treecount: this.$store.state.user.treecount
      treeCount: [0, 0, 0, 0],
      meetingCount: [0, 0, 0, 0],
      urlOption: "",
      cannyAppId: "5e9d50c2a3d7a043c1bf3875",
      boardToken: "c48646ba-2cce-f73f-02da-98a2908c3505",
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
  },

  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      const CountInfo = await this.$axios.post(
        "USER_URL/meetings/countUser-reskin"
      );
      this.getCount(CountInfo);

      //Canny
      (function (w, d, i, s) {
        function l() {
          if (!d.getElementById(i)) {
            var f = d.getElementsByTagName(s)[0],
              e = d.createElement(s);
            (e.type = "text/javascript"),
              (e.async = !0),
              (e.src = "https://canny.io/sdk.js"),
              f.parentNode.insertBefore(e, f);
          }
        }
        if ("function" != typeof w.Canny) {
          var c = function () {
            c.q.push(arguments);
          };
          (c.q = []),
            (w.Canny = c),
            "complete" === d.readyState
              ? l()
              : w.attachEvent
              ? w.attachEvent("onload", l)
              : w.addEventListener("load", l, !1);
        }
      })(window, document, "canny-jssdk", "script");
    }
    let user = {};
    this.$axios
      .post("USER_URL/canny-setup1", "")
      .then((response) => {
        // console.log("feeback response", response);

        this.cannyRender(response.data.ssoToken);
        Canny("identify", {
          appID: this.cannyAppId,
          user: {
            email: response.data.cannyID.email,
            name: response.data.cannyID.name,
            id: response.data.cannyID.id,
          },
        });
        // this.afterChange();
      })
      .catch((e) => {
        console.log(e);
        this.$store.dispatch("snackbar/setSnackbar", {
          text: "Error in Canny",
          timeout: 2000,
        });
      });
    // Changelog
    Canny("initChangelog", {
      appID: "5e9314e918fe8b594610bb84",
      position: "bottom",
      align: "left",
    });
  },
  beforeDestroy() {
    Canny("closeChangelog");
  },
  methods: {
    //update account details
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Desktop Outlook Plugin"
      ) {
        window.location.href = "/download/plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings for Microsoft Web Plugin"
      ) {
        window.open(process.env.OUTLOOK_WEB_PLUGIN_URL, "_blank");
        // window.location.href = "/download/outlook-web-plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Google Calendar Plugin"
      ) {
        window.open(process.env.GMAIL_PLUGIN_URL, '_blank');
      }
    },
    selectPlugin() {
      console.log(this.select);
      switch (this.select.state) {
        case "Sustainably Run Meetings Desktop Outlook Plugin":
          this.downloadText = "Download";
          break;
        case "Sustainably Run Meetings for Microsoft Web Plugin":
        case "Sustainably Run Meetings Google Calendar Plugin":
          this.downloadText = "Install";
          break;
      }
    },
    cannyRender(token) {
      Canny("render", {
        boardToken: this.boardToken,
        basePath: "/userFeedback",

        ssoToken: token,
      });
    },
    async ToggleChange() {
      this.isUser = !this.isUser;
      var result = this.isUser;

      if (result === true) {
        this.urlOption = "?user=yes";

        //get count
        const CountInfo = await this.$axios.post(
          "USER_URL/meetings/countUser-reskin"
        );
        this.getCount(CountInfo);
      } else if (result === false) {
        this.urlOption = "";

        //get count
        const CountInfo = await this.$axios.post(
          "USER_URL/meetings/count-reskin"
        );
        this.getCount(CountInfo);
      }
    },
    Logout() {
      this.$auth.logout();
      this.$router.push("/");
    },

    // --------------- GEt Count in header-----------------------
    getCount(response) {
      if (
        response === undefined ||
        response.data === undefined ||
        response.data.meetingCount === undefined
      ) {
        var no_of_meetings = 0;
      } else {
        var no_of_meetings = response.data.meetingCount;
      }
      //console.log("no_of_meetings", no_of_meetings);
      var str_meeting = no_of_meetings.toString();
      var res = [];
      for (var i = 0, len = str_meeting.length; i < len; i += 1) {
        res.push(+str_meeting.charAt(i));
      }
      //console.log("res", res);
      var meeting_arr = new Array(4);
      if (res.length == 4) {
        for (var j = 0; j < 4; j++) {
          meeting_arr[j] = res[j];
        }
      }
      if (res.length == 3) {
        meeting_arr[0] = 0;
        for (var j = 1; j < 4; j++) {
          meeting_arr[j] = res[j - 1];
        }
      }
      if (res.length == 2) {
        meeting_arr[0] = 0;
        meeting_arr[1] = 0;
        meeting_arr[2] = res[0];
        meeting_arr[3] = res[1];
      }
      if (res.length == 1) {
        meeting_arr[3] = res[0];
        for (var j = 0; j < 3; j++) {
          meeting_arr[j] = 0;
        }
      }
      this.meetingCount = meeting_arr;

      // commit("SET_MEETINGS_COUNT", meeting_arr);

      if (
        response === undefined ||
        response.data === undefined ||
        response.data.treeCount === undefined ||
        response.data.treeCount[0].treeCount === undefined ||
        response.data.treeCount[0].treeCount === null
      ) {
        var no_of_trees = 0;
      } else {
        var no_of_trees = response.data.treeCount[0].treeCount;
      }
      //console.log("no_of_trees", no_of_trees);
      var str_tree = no_of_trees.toString();
      var res_tree = [];
      for (var i = 0, len = str_tree.length; i < len; i += 1) {
        res_tree.push(+str_tree.charAt(i));
      }
      var trees_arr = new Array(4);
      if (res_tree.length == 4) {
        for (var j = 0; j < 4; j++) {
          trees_arr[j] = res_tree[j];
        }
      }
      if (res_tree.length == 3) {
        trees_arr[0] = 0;
        for (var j = 1; j < 4; j++) {
          trees_arr[j] = res_tree[j - 1];
        }
      }
      if (res_tree.length == 2) {
        trees_arr[0] = 0;
        trees_arr[1] = 0;
        trees_arr[2] = res_tree[0];
        trees_arr[3] = res_tree[1];
      }
      if (res_tree.length == 1) {
        trees_arr[3] = res_tree[0];
        for (var j = 0; j < 3; j++) {
          trees_arr[j] = 0;
        }
      }
      this.treeCount = trees_arr;
    },
  },
};
</script>
