<template>
  <div>
    <Header :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Header>
    <section class="frame">
      <!-- Sidebar -->
      <Sidebar></Sidebar>

      <!-- Content Side -->
      <div class="contSec">
        <Countboard :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Countboard>

        <div class="cntSd" style="height: 100%;">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="card whtBx domainver_sec">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="dmnTop">
                      <h2>Domain: {{ dname }}</h2>
                      <p>Instructions</p>
                      <p>1. Copy the verification key provided below and add in your Domain as TXT record.</p>
                      <p>2. After adding the key in your domain, you can manually verify using verify option below.</p>
                      <p>3. Otherwise, Once you added the TXT record in your domain it will automatically verify after one hour.</p>
                    </div>
                    <hr />
                  </div>

                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="verificationsec">
                      <h2>Verification Key</h2>
                      <div class="ver_tp d-flex align-items-center">
                        <div class="veriBx">
                          <p>{{ verifyKey }}</p>
                        </div>
                        <div class="verifyBtn" v-if="statusVal">
                          <v-btn
                            @click="verifyDomain(dname)"
                            :disabled="!statusVal"
                            class="btn btn_card t_Btn ml-4"
                          >Verify</v-btn>
                        </div>
                      </div>
                      <p v-if="!statusVal">{{ messageDomain }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
  </div>
</template>
<script>
import Trialdays from "~/components/Trialdays";
import Footer from "~/components/Footer.vue";
import Header from "~/components/Header";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";
import Sidebar from "../../components/Sidebar.vue";
import Countboard from "../../components/Countboard.vue";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Trialdays,
    Footer,
    Sidebar,
    Countboard,
  },

  data() {
    return {
      valid: false,
      dname: "",
      verifyKey: "",
      statusVal: false,
      messageDomain: "",

      dialog: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" },
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,

      isTrialPeriod: false,
      trialCount: 0,
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      //console.log("this.$route", this.$route);
      let urlVal = this.$route;
      if (urlVal.query.domain) {
        let paramVal = urlVal.query.domain;
        this.dname = paramVal;
        const data = {
          domainName: paramVal,
        };
        await this.$axios
          .post("AUTH_URL/v1/getDomainByDname", data)
          .then((response) => {
            if (
              response.status === 201 &&
              response.data.resultData.length > 0
            ) {
              this.verifyKey = response.data.resultData[0].verification_key;
              let inStatus = response.data.resultData[0].status;
              if (inStatus === 0) {
                this.statusVal = true;
              } else {
                this.statusVal = false;
                this.messageDomain = "Your Domain is Verified";
              }
            } else {
              this.statusVal = false;
              this.$store.dispatch("snackbar/setSnackbar", {
                text: "Something went wrong... please provide a valid domain",
                color: "red",
              });
            }
          })
          .catch((e) => {
            this.statusVal = false;
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Something went wrong or the invalid domian...!",
              color: "red",
            });
          });
      } else {
        this.$router.push("/dnsVerification");
      }
    }
  },

  methods: {
    //update account details
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
        //console.log("Desktop plugin selected");
      }
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Web Outlook Plugin"
      ) {
        //console.log("Webplugin plugin selected");
        window.location.href = "USER_URL/download/outlook-web-plugin";
      }
      //console.log(this.select.state);
    },

    async verifyDomain(domainName) {
      //console.log("asas", domainName);
      this.statusVal = false;
      const data = {
        domainName: domainName,
      };
      //console.log("sending data   :", data);
      await this.$axios
        .post("AUTH_URL/v1/verifyDomainSingle", data)
        .then((response) => {
          //console.log("response, responseresponseresponse", response);
          if (
            response.status === 201 &&
            response.data.resultData.status === "verified"
          ) {
            this.statusVal = false;
            this.messageDomain = "Your Domain is Verified";

            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Domain verified successfully",
              timeout: 2000,
            });
            setTimeout(function () {
              window.location.href = "/dnsVerification";
            }, 2000);
          }
          if (
            response.status === 201 &&
            response.data.resultData.status === "nokey"
          ) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Verification key is not found... check your key",
              timeout: 2000,
              color: "red",
            });
            setTimeout(function () {
              window.location.href = "/dnsVerification";
            }, 2000);
          }
          if (
            response.status === 201 &&
            response.data.resultData.status === "nodomain"
          ) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Domain is not in our system.. please add",
              timeout: 2000,
              color: "red",
            });
          }
        })
        .catch((e) => {
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Something went wrong, Please try after sometime...!",
            color: "red",
          });
        });
    },
  },
};
</script>
