<template>
  <div>
    <Header :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Header>
    <section class="frame">
      <!-- Sidebar -->
      <Sidebar></Sidebar>
      <!-- Content Side -->
      <div class="contSec">
        <Countboard :meetingcount="meetingcount" :treecount="treecount"  :ambassadorTree="ambassadorTree"></Countboard>
        <div class="cntSd" style="height: 100%;">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="card whtBx domainver_sec">
                <h2>Domain verification</h2>

                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <v-form
                      v-model="DomainValid"
                      class="d-flex align-items-center justify-content-left"
                      @submit="addDomainName(domainInfo)"
                    >
                      <div class="form-group d-flex align-items-center m-0 w-100">
                        <label for="usr">Enter your domain</label>
                        <v-text-field
                          v-model="domainInfo.domainName"
                          placeholder="(eg: test.com)"
                          class="paddTop"
                          :rules="[rules.domailUrl]"
                        />
                      </div>
                      <div class="domainBtn">
                        <v-btn
                          type="submit"
                          @click="addDomainName(domainInfo)"
                          :disabled="!DomainValid"
                          class="btn btn_card t_Btn ml-4"
                        >Add domain</v-btn>
                      </div>
                    </v-form>
                    <hr />
                  </div>

                  <!-- <div class="col-12 col-sm-12 col-md-12 py-0">
                    <div class="card whtBx">
                      <ul>
                        <div v-for="item in domainAll">
                          {{ item.id }} - {{ item.domain_name }}
                        </div>
                      </ul>
                    </div>
                  </div>-->
                  <div class="col-12 col-sm-12 col-md-12" style="margin-bottom: 40px">
                    <h2>Your Domains</h2>
                    <ul class="domainList list-unstyled mb-0">
                      <li>
                        <div class="list_FHd">
                          <h6>Name</h6>
                        </div>
                        <div class="list_hd">
                          <h6>Status</h6>
                        </div>
                        <div class="list_hd">
                          <h6>Delete</h6>
                        </div>
                      </li>
                      <li v-for="item in domainAll">
                        <div class="list_FHd">
                          <p>{{ item.domain_name }}</p>
                        </div>
                        <div class="list_hd w100 d-flex justify-content-center">
                          <button class="btn btn_card t_Btn minWd" v-if="item.status===1">Verified</button>
                          <button
                            class="btn btn_card t_Btn orangeColBtn"
                            v-if="item.status===0"
                            @click="redirectDetails(item.domain_name)"
                          >Not Verified</button>
                        </div>
                        <div class="list_hd">
                          <img
                            @click="deleteDomain(item.domain_name)"
                            src="../../assets/images/closeBtn.png"
                            class="img-fluid domainDel"
                          />
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
    <div id="loading" style="display: none;">
      <img id="loading-image" src="../../assets/images/loader.gif" alt="Loading..." />
    </div>
  </div>
</template>
<script>
import Trialdays from "~/components/Trialdays";
import Footer from "~/components/Footer.vue";
import Header from "~/components/Header";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";
import Sidebar from "../../components/Sidebar.vue";
import Countboard from "../../components/Countboard.vue";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Trialdays,
    Footer,
    Sidebar,
    Countboard
  },

  data() {
    return {
      valid: false,
      DomainValid: false,
      domainAll: [],
      domainInfo: {
        domainName: ""
      },

      ...validations,

      rules: {
        domailUrl: value => {
          if (value === "" || value === undefined || value === null) {
            this.DomainValid = false;
            return "";
          } else {
            this.DomainValid = false;
            const pattern = /^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$/;
            let Check = pattern.test(value);
            if (Check === true) {
              this.DomainValid = true;

              return pattern.test(value);
            } else if (Check === false) {
              this.DomainValid = false;
              return "Enter valid domain";
            }
          }
        }
      },

      valid: false,
      dialog: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" }
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,

      isTrialPeriod: false,
      trialCount: 0
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      await this.$store.dispatch("user/getAllDomains");
      this.domainAll = this.$store.state.user.domainItems;
      // console.log("domainAll", this.domainAll);
      // console.log("this.sadaer", this.$store.state.user.domainItems);
    }
  },

  methods: {
    //update account details
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
        // console.log("Desktop plugin selected");
      }
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Web Outlook Plugin"
      ) {
        // console.log("Webplugin plugin selected");
        window.location.href = "USER_URL/download/outlook-web-plugin";
      }
      // console.log(this.select.state);
    },

    //add Domain
    async addDomainName(domainInfo) {
      $("#loading").show();
      this.DomainValid = false;
      const data = {
        domainName: domainInfo.domainName
      };
      // console.log("sending data   :", data);
      this.domainInfo.domainName = "";
      await this.$axios
        .post("AUTH_URL/v1/addDomain", data)
        .then(response => {
          // console.log("response, response", response);
          if (
            response.status === 201 &&
            response.data.resultData.status === "new"
          ) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Domain added successfully",
              timeout: 1500
            });
            setTimeout(function() {
              window.location.href =
                "/dnsVerification/details?domain=" +
                response.data.resultData.domainName;
              $("#loading").hide();
            }, 1500);
          }
          if (
            response.status === 201 &&
            response.data.resultData.status === "old"
          ) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "The domain already exist...",
              color: "red",
              timeout: 2000
            });
            this.DomainValid = false;
            $("#loading").hide();
          }
        })
        .catch(e => {
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Something went wrong, Please try after sometime...!",
            color: "red"
          });
          $("#loading").hide();
        });
    },

    async deleteDomain(domainName) {
      $("#loading").show();
      // console.log("ddd,ddd", domainName);
      const data = {
        domainName: domainName
      };
      // console.log("sending data   :", data);
      this.domainInfo.domainName = "";
      await this.$axios
        .post("AUTH_URL/v1/deleteDomain", data)
        .then(async response => {
          // console.log("response, response", response);
          if (response.status === 201 && response.data.resultData) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Domain deleted successfully",
              timeout: 1500
            });
            await this.$store.dispatch("user/getAllDomains");
            this.domainAll = this.$store.state.user.domainItems;
            setTimeout(function() {
              $("#loading").hide();
            }, 1000);
          }
        })
        .catch(e => {
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Something went wrong, Please try after sometime...!",
            color: "red"
          });
          $("#loading").hide();
        });
    },
    async redirectDetails(domainName) {
      window.location.href = "/dnsVerification/details?domain=" + domainName;
    }
  }
};
</script>
<style>
.v-input input::-webkit-input-placeholder {
  /* Edge */
  color: #a9a9a9 !important;
}
.v-input input:-ms-input-placeholder {
  /* Internet Explorer */
  color: #a9a9a9 !important;
}
.v-input input::placeholder {
  color: #a9a9a9 !important;
}
</style>