<template>
  <div>
    <Accountdetails :submitAccountForm="userLogin"></Accountdetails>
    <Footer></Footer>
  </div>
</template>

<script>
import Accountdetails from "~/components/Accountdetails.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Accountdetails,
    Footer
  },
  methods: {
    async userLogin(accountInfo) {
      accountInfo.email = this.$store.state.user.user.firstName;
    }
  },
  async fetch({ store }) {
    await store.dispatch("user/loadUser");
    // console.log("in test....:", user);
  }
};
</script>

<style></style>
