<template>
  <div>
    <Header
      :meetingcount="meetingcount"
      :treecount="treecount"
      :ambassadorTree="ambassadorTree"
    ></Header>
    <section class="card_sec">
      <div class="content_side c_cntBx" id="stripeApp">
        <div id="paymentForm" style="text-align: center">
          <v-form ref="paymentForm">
            <h2>An one-off payment of &#163; {{ invoiceAmount }}</h2>

            <h5 for="card-element" style="font-weight: bold; font-size: medium">
              Enter your Card Details below
            </h5>

            <!-- <div class="form-group">
              <input class="form-control" type="text" id="uname" placeholder="Name On Card" required>
            </div>-->

            <div id="card-element" ref="card" class="form-control mb-3 cardFrm">
              <!-- Elements will create input elements here -->
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div>
            <div class="pyBtn">
              <v-btn
                class="btn btn_card t_Btn"
                id="submit"
                @click="submitPayment"
                >Pay Now</v-btn
              >
            </div>
          </v-form>
        </div>
        <!-- <div id="paymentFailure" style="display: none;">
                Your payment has failed. Please try again or go <a href="/invoicehistory">back</a> to the previous page
        </div>-->
        <div id="loading">
          <img
            id="loading-image"
            src="../../assets/images/loader.gif"
            alt="Loading..."
          />
        </div>
      </div>
    </section>
    <!-- Modal 1 -->
    <div
      id="paymentModal"
      class="modal fade"
      role="dialog"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog">
        <!-- Modal  content-->
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title" id="paymentTitle"></h4>
          </div>
          <div class="modal-body want_to_delete">
            <p class="m-0"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default delete_dlogbox paymentModalBtn btn_card"
              data-dismiss="modal"
              onclick="window.location.href='/invoice'"
            ></button>
            <button
              type="button"
              class="btn btn-default delete_dlogbox fail_btn"
              data-dismiss="modal"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div
      id="paymentModal2"
      class="modal fade"
      role="dialog"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog">
        <!-- Modal  content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">ERROR</h4>
          </div>
          <div class="modal-body">
            <p class="m-0">
              Oops! Some error occured. Please refresh the page and try again or
              Go Back to Invoices page
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default delete_dlogbox btn_card t_Btn"
              data-dismiss="modal"
              onclick="window.location.href='/invoice'"
            >
              GO BACK
            </button>
            <button
              type="button"
              class="btn btn-default delete_dlogbox btn_card t_Btn"
              data-dismiss="modal"
              onclick="window.location.reload()"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>
<script>
import Footer from "~/components/Footer.vue";
import Header from "~/components/Header";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Footer,
  },

  data() {
    return {
      invoiceAmount: 0,
      stripePublicKey: "",
      stripe: "",
      stripeClientSecret: "",
      card: "",
      //Header variables
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,
    };
  },

  // fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    // await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async beforeMount() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      //console.log("invoice number:", this.$route.params.invoicenumber);
      // this.$nuxt.$loading.start();
      $("#loading").show();

      /* Script for stripe */
      const script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://js.stripe.com/v3/";
      document.head.appendChild(script);

      await this.$axios
        .get(`USER_URL/stripeSetup/${this.$route.params.invoicenumber}`)
        .then((response) => {
          // console.log("response", response.data);
          this.invoiceAmount = response.data.amount;
          this.stripePublicKey = response.data.stripe_pk;
          this.stripeClientSecret = response.data.secret;
          this.stripeInit();
          $("#loading").hide();
        })
        .catch((error) => {
          console.log("error in stripe setup", error);
          $("#loading").hide();
          $("#paymentModal2").modal("show");
        });
    }
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      // this.$nextTick(() => {
      //   this.$nuxt.$loading.start();
      //   setTimeout(() => this.$nuxt.$loading.finish(), 2000);
      // });
    }
  },
  // head() {
  //   return {
  //   script: [{ src: "https://js.stripe.com/v3/" }]
  //   }
  // },
  methods: {
    stripeInit() {
      // console.log("pk", this.stripePublicKey);
      this.stripe = Stripe(this.stripePublicKey);
      // console.log("stripe", this.stripe);
      var elements = this.stripe.elements();

      var style = {
        base: {
          iconColor: "#679266",
          color: "#679266",
          fontWeight: 500,
          fontFamily: "Montserrat-Bold, sans-serif",
          fontSize: "16px",
          fontSmoothing: "antialiased",
          ":-webkit-autofill": {
            color: "#679266",
          },
          "::placeholder": {
            color: "#679266",
          },
        },
        invalid: {
          iconColor: "red",
          color: "red",
          fontWeight: 500,
          fontSize: "16px",
        },
      };
      this.card = elements.create("card", { style: style });
      this.card.mount("#card-element");
      this.card.addEventListener("change", ({ error }) => {
        const displayError = document.getElementById("card-errors");
        if (error) {
          displayError.textContent = error.message;
        } else {
          displayError.textContent = "";
        }
      });
    },
    submitPayment() {
      //console.log("submitting payment");
      // console.log("secret", this.stripeClientSecret, this.card);
      this.stripe
        .confirmCardPayment(this.stripeClientSecret, {
          payment_method: {
            card: this.card,
            // billing_details: {
            //     name: 'Example',
            //     address: {
            //         line1: '44 Eaton Square',
            //         city: 'London',
            //         state: 'LD',
            //         country:'GB'
            //     }
            // }
          },
        })
        .then(function (result) {
          if (result.error) {
            // Show error to your customer (e.g., insufficient funds)
            if (result.error.type == "validation_error") {
              console.log(result.error);
            } else {
              // alert(result.error.message);
              $(".want_to_delete p").text(
                result.error.message +
                  " Click OK to try again. Or GO BACK to return to the previous page"
              );
              $(".fail_btn").html("OK");
              $(".fail_btn").show();
              $(".paymentModalBtn").html("GO BACK");
              $("#paymentTitle").text("Payment Failed");
              $("#paymentModal").modal("show");
              console.log(result.error);
            }
          } else if (result.paymentIntent.status === "succeeded") {
            $(".want_to_delete p").text(
              "Your Payment was successfully completed."
            );
            $(".paymentModalBtn").html("OK");
            $(".fail_btn").hide();
            $("#paymentTitle").text("Payment Successful");
            $("#paymentModal").modal("show");
            //console.log("result", result);
          }
        })
        .catch((error) => {
          console.log("error in stripe payment", error);
        });
    },
  },
};
</script>

<style>
/*-------- Loader start --------------- */
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  padding-top: 182px;
  top: 100px;
  left: 240px;
  z-index: 100;
}
/*-------- Loader end --------------- */

/* Padding for Stripe Element containers */
.stripe-element-container {
  padding-top: 0.55rem;
  padding-bottom: 0.5rem;
}

/* Blue outline on focus */
.StripeElement--focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Can't see what I type without this */
#card-number.form-control,
#card-cvc.form-control,
#card-exp.form-control {
  display: inline-block;
}
#card-errors {
  font-size: 14px;
  color: red;
  text-align: left;
}
.c_cntBx {
  width: 700px !important;
  padding: 45px 35px;
  background-color: #fff;
  margin-top: 125px;
  margin-bottom: 105px;
}
.c_cntBx h2 {
  font-size: 36px !important;
  margin-bottom: 15px;
}
.c_cntBx h5 {
  font-size: 20px !important;
  margin-bottom: 20px;
}
.card_sec {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f9f8f3;
}
.cardFrm {
  border-radius: 50px;
  background: transparent;
  border: solid 2px #cad6ad;
}
.pyBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cardFrm:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}

@media (max-width: 1440px) {
  .c_cntBx {
    width: 546px !important;
    margin-top: 115px;
    margin-bottom: 95px;
    padding: 40px 30px;
  }
  .c_cntBx h2 {
    font-size: 26px !important;
  }
  .c_cntBx h5 {
    font-size: 18px !important;
  }
}
@media (max-width: 1024px) {
  .c_cntBx h2 {
    font-size: 22px !important;
  }
  .c_cntBx {
    width: 440px !important;
    margin-top: 105px;
    margin-bottom: 85px;
    padding: 35px 30px;
  }
  .c_cntBx h5 {
    font-size: 16px !important;
  }
}
@media (max-width: 767px) {
  .c_cntBx h5 {
    font-size: 14px !important;
  }
  .c_cntBx {
    width: 440px !important;
    margin-top: 100px;
    margin-bottom: 45px;
  }
  footer label {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .c_cntBx {
    width: 320px !important;
    padding: 25px 15px;
  }
  footer label {
    font-size: 11px;
  }
}
@media (max-width: 360px) {
  .c_cntBx {
    width: 301px !important;
  }
  footer label {
    font-size: 10px;
  }
}
</style>