<template>
  <div>
    <!-- <v-app>
    <v-container>
    <h1>helloo</h1>-->
    <Header
      :meetingcount="meetingcount"
      :treecount="treecount"
      :ambassadorTree="ambassadorTree"
    ></Header>
    <Notifications></Notifications>

    <Inviteusers
      :meetingcount="meetingcount"
      :treecount="treecount"
      :ambassadorTree="ambassadorTree"
      :submitForm="inviteuser"
      :deleteUSer="deleteUser"
      :deleteUSerId="deleteUSerId"
      :saveTreeNumber="saveTreeNumber"
      :closeModal="closeModal"
      :handleFileUpload="uploadHandler"
      :submitFile="submission"
      :downloadPlugin="downloadPlugin"
      :treeConfig="treeConfig"
      :treeConfigDisabled="treeConfigDisabled"
      :ipTreeNumber="ipTreeNumber"
      :saveTreeConfig="saveTreeConfig"
      :employeeId="employeeId"
      :employeeName="employeeName"
      :employeeTreeConfig="employeeTreeConfig"
      :refreshList="refreshList"
      :resendMail="resendMail"
    />
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
    <!-- </v-container>
    </v-app>-->
  </div>
</template>
<script>
import Header from "../../components/Header.vue";
import Inviteusers from "../../components/Inviteusers";
import Trialdays from "../../components/Trialdays";
import Notifications from "../../components/Notifications";
import Footer from "~/components/Footer.vue";
import { mapState } from "vuex";
import { mapMutations } from "vuex";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Inviteusers,
    Trialdays,
    Footer,
    Notifications,
  },
  data() {
    return {
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,
      users: [],
      isTrialPeriod: false,
      trialCount: 0,
      userId: "",
      treeConfig: false,
      treeConfigDisabled: true,
      ipTreeNumber: 1,
      employeeId: 0,
      employeeName: "",
      employeeTreeConfig: 1,
      isIPActive: false,
      refreshList: false,
    };
  },
  async fetch({ store }) {
    await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async beforeMount() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      //For free trial end
      const trialEnd = this.$store.state.invoiceHistory.subscribe.trialEnd;
      // console.log("ip details", this.$store.state.invoiceHistory.subscribe);
      this.isIPActive =
        this.$store.state.invoiceHistory.subscribe.status == "inactive"
          ? false
          : true;
      // console.log("in Subscribe details...:", trialEnd);
      if (trialEnd) {
        const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        const firstDate = new Date().setHours(23, 59, 58, 0);
        const secondDate = new Date(trialEnd);
        if (secondDate > firstDate) {
          this.isTrialPeriod = true;
          this.trialCount =
            Math.round(Math.abs((firstDate - secondDate) / oneDay)) + 1;
        }
        // console.log("isTrialPeriod", this.isTrialPeriod);
        // console.log("trialCount", this.trialCount);
      }
      // Plan check
      await this.$axios
        .post("AUTH_URL/v1/planDetailsByOrg")
        .then((response) => {
          let checkArray = response.data.data.includes(3);
          // console.log("response in plan", response, checkArray);
          if (response.data.data === [] || response.data.data === undefined) {
            this.treeConfig = false;
          } else if (response.data.data.length > 0) {
            if (checkArray === true) {
              this.treeConfig = true;
            } else if (checkArray === false) {
              this.treeConfig = false;
            }
          }
        });
    }
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      $("#loading").show();
      // await this.$store.dispatch("inviteUsers/getAllusers");
      await this.$store.dispatch("inviteUsers/getIPTreeConfig");
      await this.$store.dispatch("user/getCount");
      await this.$store.dispatch("user/getAmbassadorCount");
      this.meetingcount = this.$store.state.user.count;
      this.treecount = this.$store.state.user.treecount;
      this.ambassadorTree = this.$store.state.user.ambassador_trees;
      // this.users = this.$store.state.inviteUsers.inviteduser;
    }

    this.ipTreeNumber = this.$store.state.inviteUsers.ipTreeNumber;
    if (this.isTrialPeriod || !this.isIPActive) {
      this.treeConfigDisabled = true;
      this.ipTreeNumber = 1;
    } else {
      this.treeConfigDisabled = false;
    }
    this.refreshList = !this.refreshList;
    // console.log("data returned getAll users", this.users);
    $("#loading").hide();
  },

  computed: {
    updateUser: function () {
      return this.datas();
    },
    ipTreeNumbers: function () {
      return this.ipTreeNumber;
    },
  },
  methods: {
    async inviteuser(setInfo) {
      this.valid = false;
      $("#loading").show();
      const userdetails = {
        first_name: setInfo.first_name,
        last_name: setInfo.last_name,
        email: setInfo.email,
      };
      await this.$axios
        .post("AUTH_URL/v1/inviteuserReskin", userdetails)
        .then((response) => {
          $("#loading").hide();
          if (response.status == 202) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "User already exists",
              timeout: 3000,
              color: "red",
            });
          }
          if (response.status == 200) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "User Added Successfully",
              timeout: 3000,
            });
            // this.afterChange();
            this.refreshList = !this.refreshList;
          }
        })
        .catch((e) => {
          $("#loading").hide();
          console.log("error");
        });
      setInfo.first_name = "";
      setInfo.last_name = "";
      setInfo.email = "";
      document.getElementById("myForm").reset();
    },

    async afterChange() {
      const response = await this.$axios.get("AUTH_URL/v1/getAllUser");
      this.users = response.data.data;
    },

    deleteUSerId(id) {
      this.userId = id;
    },
    saveTreeConfig(id, fname, lname, tree) {
      if (fname == "ip") {
        this.employeeName = "your";
      } else {
        this.employeeName = fname + " " + lname + "'s";
      }
      this.employeeId = id;
      this.employeeTreeConfig = tree;

      $("#exampleModalCenter2").modal("show");
    },
    async saveTreeNumber() {
      $("#exampleModalCenter2").modal("hide");
      // console.log("saving tree number", this.employeeTreeConfig, this.employeeId);
      await this.$axios
        .post("AUTH_URL/v1/saveTreePerMeeting", {
          id: this.employeeId,
          treeNumber: this.employeeTreeConfig,
        })
        .then((response) => {
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Saved Tree Config Successfully",
            timeout: 3000,
          });
          if (this.employeeId != 0) {
            // console.log("USER config");
            // var response = this.afterChange();
            this.refreshList = !this.refreshList;
          } else {
            // console.log("IP config");
            // await this.$store.dispatch("inviteUsers/getIPTreeConfig");
            this.ipTreeNumber = this.employeeTreeConfig;
          }
        })
        .catch((e) => {
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Updating trees per meeting failed",
            timeout: 2000,
            color: "red",
          });
        });
    },
    closeModal() {
      $("#exampleModalCenter3").modal("hide");
    },
    async deleteUser() {
      $("#exampleModalCenter3").modal("hide");
      $("#loading").show();
      document.getElementById("deletebutton").disabled = true;
      // var elems = document.getElementsByClassName("deleteBtn");
      // for (var i = 0; i < elems.length; i++) {
      //   elems[i].disabled = true;
      // }
      await this.$axios
        .post("AUTH_URL/v1/deleteUserReskin", { id: this.userId })
        .then((response) => {
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "User Deleted Successfully",
            timeout: 3000,
          });
          // var response = this.afterChange();
          this.refreshList = !this.refreshList;
          // if (response) {
          //   for (var i = 0; i < elems.length; i++) {
          //     elems[i].disabled = false;
          //   }
          // }
        })
        .catch((e) => {
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "User Deletion Failed",
            timeout: 2000,
            color: "red",
          });
          // for (var i = 0; i < elems.length; i++) {
          //   elems[i].disabled = false;
          // }
        });
    },

    async submission() {
      const realfilebtn = document.getElementById("file");
      realfilebtn.click();
    },

    async uploadHandler() {
      const selectedFile = document.getElementById("file").files[0];
      //console.log(selectedFile);
      let formData = new FormData();
      formData.append("file", selectedFile);
      formData.append("data", "reskin");
      document.getElementById("uploadcsv").disabled = true;
      this.bulkInvite(formData);
    },

    async bulkInvite(formData) {
      $("#loading").show();
      await this.$axios
        .post("AUTH_URL/v1/bulkuUserinvite", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          $("#loading").hide();
          let msgColor = "green";
          if (response.data.error == true) {
            msgColor = "red";
          }
          this.$store.dispatch("snackbar/setSnackbar", {
            text: response.data.success,
            timeout: 4000,
            color: msgColor,
          });
          // this.afterChange();
          this.refreshList = !this.refreshList;
        })
        .catch((e) => {
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Some error occured",
            timeout: 3000,
            color: "red",
          });
          // window.location.reload();
        });
      document.getElementById("file").value = "";
      document.getElementById("uploadcsv").disabled = false;
    },
    downloadPlugin() {
      // console.log("Downloading");
      window.open(window.location.origin + "/download/plugin", "_self");
    },

    async resendMail(email, id) {
      $("#loading").show();
      await this.$axios
        .post("AUTH_URL/v1/resendUserInvite", {
          userEmail: email,
          userId: id,
        })
        .then((response) => {
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Invitation re-sent Successfully",
            timeout: 3000,
          });
          this.refreshList = !this.refreshList;
        })
        .catch((e) => {
          $("#loading").hide();
          console.log("error", e.response);
          let message = e.response.data.data;
          this.$store.dispatch("snackbar/setSnackbar", {
            text: message,
            timeout: 3000,
            color: red,
          });
        });
    },
  },
};
</script>
