<template>
<v-app>
  <div>
    <section class="frame">
      <!-- Sidebar -->

      <div class="conSidebar d-none d-sm-none d-md-block">
        <ul class="navigation_bar">
          <li>
            <a href="" class="active">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              >Dashboard
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              >Invite Users
            </a>
          </li>
          <li>
            <a href="">
              <img src="../assets/images/setup.svg" class="img-fluid">Setup
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              >Account Details
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              >Invoice History
            </a>
          </li>
        </ul>

        <footer style="border:none;">
          <div class="sdbr_ftr">
            <p>
              Download Sustainable Meeting Plugin
            </p>
            <button class="btn btn_card s_m_downloadbutton">
              Download
            </button>
          </div>
        </footer>
      </div>

      <div
        id="collapsibleNavbar"
        class="conSidebar res_nav collapse navbar-collapse"
      >
        <ul class="navigation_bar p-0">
          <li>
            <a href="" class="active">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              >Dashboard
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              >Invite Users
            </a>
          </li>
          <li>
            <a href="">
              <img src="../assets/images/setup.svg" class="img-fluid">Setup
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              >Account Details
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              >Invoice History
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              >Log out
            </a>
          </li>
        </ul>

        <footer>
          <div class="sdbr_ftr">
            <p>
              Download Sustainable Meeting Plugin
            </p>
            <button class="btn btn_card s_m_downloadbutton">
              Download
            </button>
          </div>
        </footer>
      </div>

      <!-- Sidebar -->

      <!-- Content Side -->
      <div class="contSec">
        <ul class="d-block d-sm-block d-md-none top_count m-0 p-0">
          <li>
            <div class="top_image">
              <img src="../assets/images/event.svg" class="img-fluid">
            </div>

            <ul class="numberBx">
              <li>0</li>
              <li>0</li>
              <li>3</li>
              <li>2</li>
            </ul>
          </li>
          <li>
            <div class="top_image">
              <img src="../assets/images/plant-trees.svg" class="img-fluid">
            </div>
            <ul class="numberBx">
              <li>0</li>
              <li>1</li>
              <li>1</li>
              <li>1</li>
            </ul>
          </li>
        </ul>

        <div class="cntSd">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="row">

 <!-- --------------------------Start account-------------------------------------------------- -->

                  <v-card>
                  <v-container>
                   <h2>Account Details</h2>
                    <v-row justify="space-between">
                    <v-form>
                            <v-col xl="12">
                                <v-text-field v-model="accountInfo.firstName"
                                class="input-wrap" 
                                    label="Firstname" 
                                    :rules="[required('Firstname')]"
                                >{{}} </v-text-field>
                                <v-text-field v-model="accountInfo.lastName" 
                                        label="lasname" 
                                        class="input-wrap"
                                        :rules="[required('Lastname')]"
                                />

                              <v-text-field v-model="accountInfo.email" 
                                        label="Email" 
                                        class="input-wrap"
                                        :rules="[required('email'), emailFormat()]"/>

                              <v-text-field v-model="accountInfo.phone"
                              class="input-wrap"
                                          label="Phone"
                                          :rules="[required('password'), maxLength('password', 10)]"/>

                            </v-col>
                           <v-btn @click="submitAccountForm(accountInfo)">SAVE</v-btn>
                    </v-form>
                   </v-row>

                  </v-container>

                  </v-card>


<!-- --------------------------End acoount-------------------------------------------------- -->


                <div class="col-12 col-sm-12 col-md-12 mblMb">
                  <div class="card whtBx">
                    <h2>Change Email</h2>

                    <form class="ltrBld">
                      <div class="form-group mycustom mb-0">
                        <input
                          id="validationDefaultUsername"
                          type="text"
                          class="form-control rounded-0"
                          placeholder="lewis@www.converted.co.uk"
                          aria-describedby="inputGroupPrepend2"
                          required
                        >
                        <div class="input-group-prepend">
                          <button
                            type="button"
                            vlaue="Save"
                            class="btn btn-sm t_Btn rounded-0"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
              <div class="card whtBx">
                <h2>Change Password</h2>
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Old Password"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="New Password"
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Confirm New Password"
                    >
                  </div>
                </form>
                <div class="bxBtn">
                  <button class="btn btn_card t_Btn">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
  </div>
</v-app>
</template>

<script>
import validations from "@/utils/validations";
import { mapState } from "vuex";

export default {
  data() {
    return {
      valid: false,
      accountInfo: {
        firstName: "",
        lastName: "",
        email: "",
        phone: ""
      },
      ...validations
    };
  },

  // async fetch({ store }) {
  //   await store.dispatch("user/loadUser");
  // },

  // computed: {
  //   user() {
  //     return this.$store.state.user.user;
  //   }
  // },
  // mounted() {
  //   console.log("object in anoo.............:", this.$store.state.user.user);
  // },

  props: ["submitAccountForm"]

  // props: ["submitAccountForm","FirstName","LastName","Email"]
};
</script>
