
<template>
  <v-app style="background-color: #fff;">
    <header class="cert_header">
      <div class="row">
        <div class="col-6 col-sm-9 col-md-9 p-0 d-flex align-items-center">
          <figure class="mb-0 header_logo">
            <a href="https://www.sustainably.run/meeting" target="_blank">
              <img src="../assets/images/srlogo.png" class="img-fluid" style="width:200px;" />
            </a>
          </figure>

          <ul class="top_count m-0 hd_Lst align-items-center">
            <li>
              <h3>
                <!-- <a href="#">WHY SUSTAINABLE MEETING</a> -->
                <a
                  href="https://www.sustainably.run/meeting/why-sustainable-meeting"
                  target="_blank"
                >WHY SUSTAINABLY RUN MEETINGS</a>
              </h3>
            </li>
            <li>
              <h3>
                <!-- <a href="#">HOW IT WORKS</a> -->
                <a
                  href="https://www.sustainably.run/meeting/how-it-works"
                  target="_blank"
                >HOW IT WORKS</a>
              </h3>
            </li>
            <li>
              <h3>
                <!-- <a href="#">HOW YOU HELP</a> -->
                <a
                  href="https://www.sustainably.run/meeting/how-you-help"
                  target="_blank"
                >HOW YOU HELP</a>
              </h3>
            </li>
            <li>
              <h3>
                <!-- <a href="#">CSR</a> -->
                <a href="https://www.sustainably.run/meeting/csr" target="_blank">CSR</a>
              </h3>
            </li>
            <li>
              <h3>
                <a style="text-decoration:none; cursor:default; color:black">MORE</a>
              </h3>
              <div class="btn-group grnApl_mnbr">
                <button
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                  <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu">
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.sustainably.run/meeting/green-earth-appeal"
                  >Green Earth Appeal</a>
                  <a class="dropdown-item" target="_blank" href="#">Resource Centre</a>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.sustainably.run/meeting/installation"
                  >Installation</a>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://www.sustainably.run/meeting/set-up"
                  >Set-up</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 col-md-3 p-0 d-flex align-items-center justify-content-end">
          <ul class="top_count m-0 p-0 cert">
            <li class="cer_login">
              <div class="top_image lg">
                <img src="../assets/images/account-details.svg" class="img-fluid" />
              </div>
              <h3>
                <a href="/">LOGIN</a>
              </h3>
            </li>
            <li v-if="isSignup!=true">
              <v-btn onclick="location.href = '/signup';" class="btn green_btn">CREATE FREE ACCOUNT</v-btn>
            </li>
            <li class="d-block d-sm-block d-md-none">
              <div class="MenuBr">
                <button
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsibleNavbar"
                  autofocus="autofocus"
                  class="btn btn-default navBtn navbar-toggler collapsed"
                  aria-expanded="false"
                >
                  <i class="fa fa-bars"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header -->

    <section class="frameMob">
      <div id="collapsibleNavbar" class="conSidebar res_nav navbar-collapse collapse cerMbNv">
        <div style="height:100%;">
          <ul class="navigation_bar p-0">
            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <a
                href="https://www.sustainably.run/meeting/why-sustainable-meeting"
                aria-current="page"
                class="active nuxt-link-exact-active nuxt-link-active"
              >WHY SUSTAINABLY RUN MEETINGS</a>
            </li>
            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <a href="https://www.sustainably.run/meeting/how-it-works" class>HOW IT WORKS</a>
            </li>
            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <a href="https://www.sustainably.run/meeting/how-you-help" class>HOW YOU HELP</a>
            </li>
            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <a href="https://www.sustainably.run/meeting/csr" class>CSR</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      isSignup: false,
    };
  },
  async mounted() {
    var currentUrl = window.location.pathname;
    if (currentUrl === "/signup") {
      this.isSignup = true;
    }
  },
};
</script>