<template>
  <v-app>
    <div class="mb_count">
      <ul class="d-md-none top_count m-0 p-0">
        <!-- <li>
          <div class="d-flex align-center">
            <div class="top_image">
              <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
            </div>
            <ul class="numberBx">
              <li>{{ meetingcount[0] }}</li>
              <li>{{ meetingcount[1] }}</li>
              <li>{{ meetingcount[2] }}</li>
              <li>{{ meetingcount[3] }}</li>
            </ul>
          </div>

          <div class="md_blk_count">
            <h3>
              <small>SUSTAINABLE MEETINGS</small>
            </h3>
          </div>
        </li>-->
        <li>
          <div class="top_image">
            <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
          </div>
          <div class="d-flex align-center flex-column">
            <ul class="numberBx">
              <li v-for='(count,i) in meetingcount' :key="count+i">
                {{count}}
              </li>
            </ul>

            <div class="md_blk_count">
              <h3>
                <small>SUSTAINABLY RUN MEETINGS</small>
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div class="top_image">
            <img src="../assets/images/plant-trees.svg" class="img-fluid" />
          </div>
          <div class="d-flex align-center flex-column">
            <ul class="numberBx">
              <li v-for='(count,i) in treecount' :key="count+i">
                {{count}}
              </li>
            </ul>

            <div class="md_blk_count">
              <h3>
                <small>TREES PLANTED</small>
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div class="top_image">
            <img src="../assets/images/plant-trees.svg" class="img-fluid" />
          </div>
          <div class="d-flex align-center flex-column">
            <ul class="numberBx">
               <li v-for='(count,i) in ambassadorTree' :key="count+i">
                  {{count}}
                </li>
            </ul>

            <div class="md_blk_count">
              <h3>
                <small>AMBASSADOR TREES</small>
              </h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </v-app>
</template>

<script>
export default {
  props: ["meetingcount", "treecount", "ambassadorTree"],
};
</script>