<template>
  <div>
    <section class="frame">
      <!-- Sidebar -->

      <div class="conSidebar d-none d-sm-none d-md-block">
        <ul class="navigation_bar p-0">
          <li>
            <a href="" class="active">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              />Dashboard
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              />Invite Users
            </a>
          </li>
          <li>
            <a href="">
              <img src="../assets/images/setup.svg" class="img-fluid" />Setup
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Account Details
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              />Invoice History
            </a>
          </li>
        </ul>

        <footer style="border:none;">
          <div class="sdbr_ftr">
            <p>
              Download Sustainable Meeting Plugin
            </p>
            <button class="btn btn_card s_m_downloadbutton">
              Download
            </button>
          </div>
        </footer>
      </div>

      <div
        class="conSidebar res_nav collapse navbar-collapse"
        id="collapsibleNavbar"
      >
        <ul class="navigation_bar p-0">
          <li>
            <a href="" class="active">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              />Dashboard
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              />Invite Users
            </a>
          </li>
          <li>
            <a href="">
              <img src="../assets/images/setup.svg" class="img-fluid" />Setup
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Account Details
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              />Invoice History
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Log out
            </a>
          </li>
        </ul>

        <footer>
          <div class="sdbr_ftr">
            <p>
              Download Sustainable Meeting Plugin
            </p>
            <button class="btn btn_card s_m_downloadbutton">
              Download
            </button>
          </div>
        </footer>
      </div>

      <!-- Sidebar -->

      <!-- Content Side -->
      <div class="contSec">
        <ul class="d-block d-sm-block d-md-none top_count m-0 p-0">
          <li>
            <div class="top_image">
              <img src="../assets/images/event.svg" class="img-fluid" />
            </div>

            <ul class="numberBx">
              <li>0</li>
              <li>0</li>
              <li>3</li>
              <li>2</li>
            </ul>
          </li>
          <li>
            <div class="top_image">
              <img src="../assets/images/plant-trees.svg" class="img-fluid" />
            </div>
            <ul class="numberBx">
              <li>0</li>
              <li>1</li>
              <li>1</li>
              <li>1</li>
            </ul>
          </li>
        </ul>

        <div class="cntSd">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="card">
                <ul class="filterWrap">
                  <li>
                    <label>
                      Time Scale :
                    </label>
                    <select class="form-control">
                      <option>
                        Monthly
                      </option>
                      <option>
                        Yearly
                      </option>
                      <option>
                        Weekly
                      </option>
                      <option>
                        Dialy
                      </option>
                    </select>
                  </li>
                  <li>
                    <label>
                      Show :
                    </label>
                    <div class="d-flex">
                      <button class="btn btn_card">
                        Meetings
                      </button>
                      <button class="btn btn_card t_Btn">
                        Trees planted
                      </button>
                    </div>
                  </li>
                </ul>

                <!-- Graph Content -->
                <div class="mt-4"></div>
                <!-- Graph Content -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
  </div>
</template>
