<template>
  <footer>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-3 py-0">
        <figure class="ftr_img">
          <img
            src="../assets/images/srlogo.png"
            class="img-fluid logoImg"
            style="width: 220px"
          />
        </figure>
      </div>

      <div class="col-12 col-md-12 col-lg-9">
        <ul class="navig_ftr">
          <li>
            <a href="https://www.sustainably.run/meeting/" target="_blank"
              >Home</a
            >
          </li>
          <li>
            <a
              href="https://www.sustainably.run/meeting/why-sustainable-meeting"
              target="_blank"
              >Why Sustainably Run Meetings</a
            >
          </li>
          <li>
            <a
              href="https://www.sustainably.run/meeting/how-it-works"
              target="_blank"
              >How It Works</a
            >
          </li>
          <li class="d-block d-sm-block d-md-none">
            <a
              href="https://www.sustainably.run/meeting/how-you-help"
              target="_blank"
              >How You Help</a
            >
          </li>
          <li class="d-block d-sm-block d-md-none">
            <a href="https://www.sustainably.run/meeting/csr" target="_blank"
              >CSR</a
            >
          </li>
          <li class="d-none d-sm-none d-md-block">
            <a href="https://www.sustainably.run/meeting/csr" target="_blank"
              >CSR Solution</a
            >
          </li>
          <li class="d-none d-sm-none d-md-block">
            <a
              href="https://www.sustainably.run/meeting/how-you-help"
              target="_blank"
              >How You Help</a
            >
          </li>
          <li>
            <a
              href="https://www.sustainably.run/meeting/?hs_preview=ubTlVcfD-30763235768"
              target="_blank"
              >Green Earth Appeal</a
            >
          </li>
          <li>
            <a>Resource Centre</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-12">
        <div class="ftrCnt">
          <div class="conDetl">
            <h6>
              <span>
                Phone:
                <a href="tel:020 8895 6583">020 8895 6583</a>
              </span>
            </h6>
            <h6>
              <span>
                Email:
                <a href="mailto: partners@sustainably.run"
                  >partners@sustainably.run</a
                >
              </span>
            </h6>
          </div>

          <div class="btm_ftr">
            <a class="copyright" style="pointer-events: none; cursor: default"
              >© {{currYear}} Sustainably Run Meetings</a
            >
            <!-- <a href="#" class="pl-0">©2020 Sustainable Meeting</a> -->
            <div class="adr">
              <!-- <span>The Green Earth Appeal</span> -->
              Hollinwood Business Centre, Albert Street, Oldham, OL8 3QL -
            </div>
            <!-- <a href="#">Terms and Conditions</a> -->
            <a
              href="https://www.sustainably.run/meeting/privacy-policy"
              target="_blank"
              class="pr-0"
              style="border: none"
              >Privacy Policy.</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      currYear: "",
    }
  },
  mounted() {
    this.currYear = new Date().getFullYear();
  }
}
</script>
