<template>
  <v-app>
    <!-- Header -->
    <!-- Header -->
    <header>
      <div class="row justify-content-between" style="flex: 0 0 auto;">
        <div class="col-12 col-sm-3 nFlx d-flex align-items-center justify-content-between p-0">
          <nuxt-link v-if="isDemoIp()===false" to="/dashboard">
            <img src="../assets/images/srlogo.png" class="img-fluid logo" />
          </nuxt-link>
          <img
            v-if="isDemoIp()===true"
            src="../assets/images/srlogo.png"
            class="img-fluid logo"
          />

          <div class="MenuBr">
            <h6>Menu</h6>
            <button
              class="btn btn-default navBtn navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
              autofocus
            >
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="col-12 col-sm-9 p-0">
          <ul v-if="$auth.loggedIn" class="top_count m-0 p-0">
            <li v-if="isDemoIp()===false">
              <div class="top_image">
                <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
              </div>

              <h3 class="headerText">
                <small>SUSTAINABLY RUN MEETINGS</small>
              </h3>
              <div class="headerCount">
                <ul class="numberBx">
                  <li v-for='(count,i) in meetingcount' :key="count+i">
                    {{count}}
                  </li>
                </ul>
                <div class="md_blk_count">
                  <h3>
                    <small>SUSTAINABLY RUN MEETINGS</small>
                  </h3>
                </div>
              </div>
            </li>

            <li v-if="isDemoIp()===false">
              <div class="top_image">
                <img src="../assets/images/plant-trees.svg" class="img-fluid" />
              </div>
              <h3 class="headerText">
                <small>TREES PLANTED</small>
              </h3>
              <div class="headerCount">
                <ul class="numberBx">
                  <li v-for='(count,i) in treecount' :key="count+i">
                    {{count}}
                  </li>
                </ul>
                <div class="md_blk_count">
                  <h3>
                    <small>TREES PLANTED</small>
                  </h3>
                </div>
              </div>
            </li>
            <li v-if="isDemoIp()===false">
              <div class="top_image">
                <img src="../assets/images/plant-trees.svg" class="img-fluid" />
              </div>
              <h3 class="headerText">
                <small>AMBASSADOR TREES</small>
              </h3>
              <div class="headerCount">
                <ul class="numberBx">
                  <li v-for='(count,i) in ambassadorTree' :key="count+i">
                    {{count}}
                  </li>
                </ul>
                <div class="md_blk_count">
                  <h3>
                    <small>AMBASSADOR TREES</small>
                  </h3>
                </div>
              </div>
            </li>
            <!-- <label class="switchhead switchheadMob" style="display: none">
              <input
                class="switch-input"
                type="checkbox"
                data-toggle="toggle"
                id="togBtn"
                @input="toggleCounter"
              />
              <div class="togic round ml-2">
                <span class="on">AMBASSADOR</span>
                <span class="off">MY COMPANY</span>
              </div>
            </label>-->
            <li>
              <div class="top_image lg">
                <img src="../assets/images/account-details.svg" class="img-fluid" />
              </div>
              <h3>
                <v-btn @click="Logout()">LOGOUT</v-btn>
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header -->

    <section class="frameMob">
      <!-- Sidebar -->

      <div class="conSidebar res_nav collapse navbar-collapse" id="collapsibleNavbar">
        <div style="height:100%;">
          <ul class="navigation_bar p-0" v-if="$auth.loggedIn">
            <!-- <li class="lgCls">
              <nuxt-link to="/dashboard">
                <img src="../assets/images/mbl_logo.png" class="img-fluid" />
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close <span>
                &times;</span></a>
              </nuxt-link>
            </li>-->

            <li
              v-if="isDemoIp()===false"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
            >
              <nuxt-link v-if="isDemoIp()===false" to="/Dashboard" class="active">
                <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
              </nuxt-link>
            </li>

            <li
              v-if="isDemoIp()===false"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
            >
              <nuxt-link to="/Inviteusers">
                <img src="../assets/images/invite-users.svg" class="img-fluid" />Invite Users
              </nuxt-link>
            </li>

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <nuxt-link to="/setup">
                <img src="../assets/images/setup.svg" class="img-fluid" />Setup
              </nuxt-link>
            </li>

            <li
              v-if="isDemoIp()===false"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
            >
              <nuxt-link to="/account">
                <img src="../assets/images/account-details.svg" class="img-fluid" />Account Details
              </nuxt-link>
            </li>

            <li
              v-if="isDemoIp()===false"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
            >
              <nuxt-link to="/invoice">
                <img src="../assets/images/invoices-history.svg" class="img-fluid" />Invoices History
              </nuxt-link>
            </li>
            <li 
              style="display:none;"
              v-if="isDemoIp()===false"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
            >
              <nuxt-link to="/dnsVerification">
                <img src="../assets/images/domain-dns.svg" class="img-fluid" />Domain Verification
              </nuxt-link>
            </li>
            <li v-if="isDemoIp()===true" data-toggle="collapse" data-target=".navbar-collapse.show">
              <nuxt-link to="/meeting">
                <img src="../assets/images/invite-users.svg" class="img-fluid" />Meeting Setup
              </nuxt-link>
            </li>
            <li @click="Logout()" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a>
                <img src="../assets/images/account-details.svg" class="img-fluid" />Log Out
              </a>
            </li>
            <li v-if="isDemoIp()===false">
              <div class="dropdown mbInrDrp">
                <button
                  class="btn btn-secondary"
                  type="button"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >Help</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="/feedback">Request a Feature</a>
                  <a class="dropdown-item" href="/bugs">Submit a Bug</a>
                  <a class="dropdown-item" href="#">Docs/FAQ</a>
                </div>
              </div>
            </li>
          </ul>
          <!-- <ul class="navigation_bar p-0" v-else>
            <li data-toggle="collapse" data-target=".navbar-collapse.show">
                <a href="/signup">
                   SignUp
                </a>
            </li>
             <li data-toggle="collapse" data-target=".navbar-collapse.show">
                <a href="/forgotPassword">
                   Forgot Password
                </a>
            </li>
          </ul>-->
        </div>
      </div>

      <!-- Sidebar -->
    </section>
  </v-app>
</template>

<script>
export default {
  methods: {
    Logout: function () {
      // var cookies = document.cookie.split(";");
      // const vuex = JSON.parse(localStorage.getItem("vuex"));
      // for (var i = 0; i < cookies.length; i++) {
      //   var cookie = cookies[i];
      //   var eqPos = cookie.indexOf("=");
      //   var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
      //   document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
      // }
      // this.$auth = "";
      localStorage.removeItem("UserDetails");
      this.$auth.logout();
      this.$router.push("/");
    },
    isDemoIp() {
      var user = JSON.parse(localStorage.getItem("UserDetails"));
      let userType = user.type;
      if (userType == "demo_ip") {
        return true;
      } else {
        return false;
      }
    },
  },
  props: ["meetingcount", "treecount", "ambassadorTree"],
};
</script>
