<template>
  <v-app>
    <div>
      <section class="frame">
        <!-- Sidebar -->
        <Sidebar></Sidebar>
        <!-- --------------------- Mobile nav---------------------------------------- -->

        <!----------------------- Sidebar ------------------------------>

        <!-- Content Side -->
        <div class="contSec">
          <Countboard
            :meetingcount="meetingcount"
            :treecount="treecount"
            :ambassadorTree="ambassadorTree"
          ></Countboard>
          <div class="cntSd">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-5 mblRes pt-0">
                <div class="card whtBx">
                  <div class="sdbr_ftr upldBx mb-4">
                    <p>Upload your list of team members</p>
                    <span>
                      <a
                        href="/documents/samplecsvfile.csv"
                        download="sample-invite-new.csv"
                        >Download CSV template</a
                      >
                    </span>
                    <label style="display: none">
                      File
                      <input
                        type="file"
                        accept=".csv"
                        id="file"
                        ref="file"
                        style="display: none"
                        v-on:change="handleFileUpload()"
                      />
                    </label>
                    <button
                      class="btn btn_card"
                      id="uploadcsv"
                      :disabled="!validUpload"
                      v-on:click="submitFile()"
                    >
                      Upload CSV
                    </button>
                  </div>

                  <div style="width: 100%">
                    <h2>Add Users Manually</h2>
                  </div>
                  <v-form
                    name="inviteform"
                    v-model="valid"
                    id="myForm"
                    ref="form"
                    :lazy-validation="lazy"
                    @submit="submitForm(setInfo)"
                  >
                    <v-text-field
                      class="input-wrap"
                      v-model="setInfo.first_name"
                      placeholder="First Name"
                      :rules="[rules.mincheck, required('First Name')]"
                    />
                    <v-text-field
                      class="input-wrap"
                      v-model="setInfo.last_name"
                      placeholder="Last Name"
                      :rules="[rules.mincheck, required('Last Name')]"
                    />
                    <v-text-field
                      class="input-wrap"
                      v-model="setInfo.email"
                      placeholder="Email Address"
                      :rules="[rules.mincheck, emailFormatinvite()]"
                    />
                    <div class="bxBtn">
                      <!-- <v-btn
                        type="reset"
                        @click="
                          disabling();
                          submitForm(setInfo);
                        "
                        :disabled="!valid"
                        class="btn_card t_Btn"
                        >Submit</v-btn
                      >-->
                      <v-btn
                        type="submit"
                        id="deletebutton"
                        @click="
                          disabling();
                          submitForm(setInfo);
                        "
                        :disabled="!valid"
                        class="btn_card t_Btn d-none d-sm-none d-md-block"
                        >Submit</v-btn
                      >
                      <v-btn
                        type="reset"
                        id="deletebutton"
                        @click="
                          disabling();
                          submitForm(setInfo);
                        "
                        :disabled="!valid"
                        class="btn_card t_Btn d-block d-sm-block d-md-none"
                        >Submit</v-btn
                      >
                    </div>
                  </v-form>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-7 pt-0">
                <div v-if="treeConfig" class="card whtBx">
                  <div class="w-100">
                    <h2>My Trees Per Meeting</h2>
                  </div>
                  <v-form
                    ref="ipTreeNumberForm"
                    @submit.prevent="formValid(0, 'ip', '', ipTreeNumber)"
                  >
                    <div class="form-group mycustom mb-0">
                      <v-text-field
                        v-model="ipTreeNumber"
                        type="number"
                        :disabled="treeConfigDisabled"
                        :rules="[rules.treeNumber]"
                        class="input-wrap"
                      ></v-text-field>
                      <div class="input-group-prepend">
                        <v-btn
                          :disabled="treeConfigDisabled"
                          @click="formValid(0, 'ip', '', ipTreeNumber)"
                          class="deleteBtn btn btn-sm rounded-0"
                        >
                          <img
                            src="../assets/images/tick-icon.jpg"
                            class="img-fluid"
                          />
                        </v-btn>
                      </div>
                    </div>
                  </v-form>
                </div>
                <div class="table-responsive tbWrap inviteUser">
                  <v-data-table
                    :headers="headers"
                    :page.sync="page"
                    :items="userData"
                    :options.sync="options"
                    class="inv_tbl"
                    :server-items-length="totalusers"
                    @page-count="pageCount = $event"
                    :mobile-breakpoint="0"
                  >
                    <template v-slot:item="raws">
                      <tr>
                        <td>{{ raws.item.id }}</td>
                        <td>{{ raws.item.firstName }}</td>
                        <td>{{ raws.item.email }}</td>
                        <td v-if="treeConfig">
                          <v-form
                            ref="treeNumberForm"
                            @submit.prevent="
                              formValid(
                                raws.item.id,
                                raws.item.firstName,
                                raws.item.lastName,
                                raws.item.tree_number
                              )
                            "
                          >
                            <div class="form-group mycustom mb-0">
                              <v-text-field
                                v-model="raws.item.tree_number"
                                type="number"
                                :disabled="treeConfigDisabled"
                                class="input-wrap"
                                :rules="[rules.treeNumber]"
                              ></v-text-field>
                              <div class="input-group-prepend">
                                <v-btn
                                  :disabled="treeConfigDisabled"
                                  @click="
                                    formValid(
                                      raws.item.id,
                                      raws.item.firstName,
                                      raws.item.lastName,
                                      raws.item.tree_number
                                    )
                                  "
                                  class="deleteBtn btn btn-sm rounded-0"
                                >
                                  <img
                                    src="../assets/images/tick-icon.jpg"
                                    class="img-fluid"
                                  />
                                </v-btn>
                              </div>
                            </div>
                          </v-form>
                        </td>
                        <td>
                          <span class="yesBadge" v-if="raws.item.status == 'yes'">Active</span>
                          <span class="yesBadge pend_bdg" v-if="raws.item.status != 'yes' && raws.item.status != 'inactive'">Invited</span>
                          <span class="yesBadge pend_bdg" v-if="raws.item.status != 'yes' && raws.item.status == 'inactive'">Inactive</span>
                        </td>
                        <td class="rushBn custome_button">
                          <div class="resendMailBtn button_set">
                            <v-tooltip top>
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  @click="
                                    resendMail(raws.item.email, raws.item.id)"
                                  :class="
                                    raws.item.isMailVerified != 1
                                      ? 'deleteBtn'
                                      : 'hidebtn'
                                  "
                                  class="deleteBtn massage_button"
                                  id="basketbutton"
                                  data-toggle="modal"
                                  data-backdrop="static"
                                  data-keyboard="false"
                                  v-bind="attrs"
                                  v-on="on"
                                >
                                  <img
                                    src="../assets/images/resend-mainl.png"
                                    class="img-fluid"
                                  />
                                </v-btn>
                              </template>
                              <span>Resend Invite</span>
                            </v-tooltip>
                            <v-btn
                              @click="deleteUSerId(raws.item.id)"
                              class="deleteBtn delete_button"
                              id="basketbutton"
                              data-toggle="modal"
                              data-target="#exampleModalCenter3"
                              data-backdrop="static"
                              data-keyboard="false"
                            >
                              <img
                                src="../assets/images/rubbish-bin.svg"
                                class="img-fluid"
                              />
                            </v-btn>
                          </div>
                          <!-- </div> -->
                        </td>
                      </tr>
                    </template>
                  </v-data-table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Side -->
      </section>
    </div>

    <!-- Delete Modal Start-->
    <div
      class="modal fade mediaS-pop"
      id="exampleModalCenter3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cropModalTitle"
      aria-hidden="true"
      style="overflow-x: hidden"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content cmn_modal dtlBtnSec">
          <div
            class="modal-header d-flex align-items-center justify-content-center"
          >
            <img src="../assets/images/deleteIcon.png" class="img-fluid" />
            <h3>Do you want to delete the record</h3>
          </div>
          <div class="modal-body">
            <!-- <p>Are you sure you want to delete CSR content {{selectedCSRId}} ?</p> -->
            <div class="bxBtn viewcsrbtnWrp">
              <button
                class="btn btn_card t_Btn"
                type="button"
                @click="deleteUSer"
              >
                YES
              </button>
              <button
                class="btn btn_card m-0 deletBtn"
                type="button"
                data-dismiss="modal"
                @click="closeModal"
              >
                NO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Modal End-->

    <!-- Trees Config Modal Start -->
    <div
      class="modal fade mediaS-pop"
      id="exampleModalCenter2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cropModalTitle"
      aria-hidden="true"
      style="overflow-x: hidden"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content cmn_modal dtlBtnSec">
          <div
            class="modal-header d-flex align-items-center justify-content-center"
          >
            <h3>Do you want to make the following changes?</h3>
            <br />
            <p>
              You are about to change
              <b>{{ employeeName }}</b> number of trees planted per meeting per
              person to
              <b>{{ employeeTreeConfig }} number of trees</b>
            </p>
          </div>
          <div class="modal-body">
            <!-- <p>Are you sure you want to delete CSR content {{selectedCSRId}} ?</p> -->
            <div class="bxBtn viewcsrbtnWrp">
              <button
                class="btn btn_card t_Btn"
                type="button"
                @click="saveTreeNumber"
              >
                YES
              </button>
              <button
                class="btn btn_card m-0 deletBtn"
                type="button"
                data-dismiss="modal"
              >
                NO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Trees Config Modal End -->

    <!-- Loader -->
    <div id="loading" style="display: none">
      <img
        id="loading-image"
        src="../assets/images/loader.gif"
        alt="Loading..."
      />
    </div>
  </v-app>
</template>
<script>
import Sidebar from "../components/Sidebar.vue";
import Countboard from "../components/Countboard.vue";
import validations from "@/utils/validations";
import JQuery from "jquery";
let $ = JQuery;

export default {
  components: {
    Sidebar,
    Countboard,
  },

  data() {
    return {
      validUpload: true,
      valid: false,
      setInfo: {
        first_name: "",
        last_name: "",
        email: "",
      },
      ...validations,
      dialog: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" },
      ],
      lazy: false,
      rules: {
        mincheck: (value) => {
          if (value === "" || value === undefined) {
            return false;
          } /* else {
            let lengthCheck = value.length >=1;
            if (lengthCheck === true) {
              return true;
            } else if (lengthCheck === false) {
              return "Phone number must be less than 8 digit";
            }
          } */
        },
        treeNumber: (value) => {
          if (!value) {
            return "Please enter Tree Count";
          } else if (value <= 0) {
            return "Please enter a positive number";
          }
          let regex = /^[0-9]+$/;
          if (!regex.test(value)) {
            return "Please enter a whole number";
          }
          return true;
        },
      },
      headers: this.headersVal(),
      options: {
        sortBy: ["userId"],
        sortDesc: [true],
      },
      userData: [],
      totalusers: 0,
      page: 1,
      pageCount: 0,
    };
  },
  props: [
    "submitForm",
    "deleteUSer",
    "deleteUSerId",
    "saveTreeConfig",
    "saveTreeNumber",
    "closeModal",
    "handleFileUpload",
    "submitFile",
    "downloadPlugin",
    "meetingcount",
    "treecount",
    "ambassadorTree",
    "treeConfig",
    "treeConfigDisabled",
    "ipTreeNumber",
    "employeeId",
    "employeeName",
    "employeeTreeConfig",
    "refreshList",
    "resendMail",
  ],
  methods: {
    disabling() {
      this.valid = false;
    },
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
        //console.log("Desktop plugin selected");
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings for Microsoft Web Plugin"
      ) {
        //console.log("Webplugin plugin selected");
        window.location.href = "USER_URL/download/webPlugin";
      }
      //console.log(this.select.state);
    },
    headersVal() {
      let arrReturn = [
        { text: "ID", value: "userId" },
        { text: "USER NAME", value: "userName" },
        { text: "USER EMAIL", value: "userMail" },
        { text: "STATUS", value: "userStatus", sortable: false },
        { text: "", value: "userAction", sortable: false },
      ];
      //console.log("this.treeConfig", this.treeConfig);
      if (this.treeConfig) {
        arrReturn.splice(3, 0, {
          text: "TREES PER MEETING",
          value: "userTreesPlant",
        });
      }
      return arrReturn;
    },
    formValid(id, fname, lname, tree) {
      //console.log("tree-----------", tree);
      if (!tree) return;
      if (this.rules.treeNumber(tree) != true) return;
      this.saveTreeConfig(id, fname, lname, tree);
    },
    async getAllUserData() {
      await this.$axios
        .get("AUTH_URL/v1/getAllUser", { params: this.options })
        .then((data) => {
          this.userData = data.data.data;
          this.totalusers = data.data.totalusers;
          //console.log("Users----", this.userData, "tree config disabled", this.treeConfigDisabled);
          if (this.treeConfigDisabled == true) {
            for (var i = 0; i < this.userData.length; i++) {
              this.userData[i].tree_number = 1;
            }
            //console.log("changed to default tree number", this.userData);
          }
        });
    },
  },
  watch: {
    options: {
      handler() {
        this.getAllUserData();
      },
      deep: true,
    },
    treeConfig() {
      let itemToPush = { text: "TREES PER MEETING", value: "userTreesPlant" };
      let itemExist = this.headers.find((x) => x.text == itemToPush.text);
      if (typeof itemExist != "object" && this.treeConfig) {
        this.headers.splice(3, 0, itemToPush);
      }
    },
    refreshList: {
      handler() {
        this.getAllUserData();
      },
      deep: true,
    },
  },
};
</script>
<style>
.v-application--wrap,
.v-application--wrap > div {
  height: 100% !important;
}
.show {
  display: block;
}
.hidebtn {
  visibility: hidden;
}
.deleteModelText {
  margin-left: 20px;
}
</style>