<template>
<div>
<section class="frame">

        <!-- Sidebar -->

        <div class="conSidebar d-none d-sm-none d-md-block">
            <ul class="navigation_bar p-0">
                <li>
                    <a href="" class="active">
                        <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/invite-users.svg" class="img-fluid" />Invite Users
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/setup.svg" class="img-fluid" />Setup
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/account-details.svg" class="img-fluid" />Account Details
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/invoices-history.svg" class="img-fluid" />Invoice History
                    </a>
                </li>
            </ul>

            <footer style="border:none;">
                <div class="sdbr_ftr">
                    <p>
                        Download Sustainable Meeting Plugin v1.10
                    </p>
                    <button class="btn btn_card s_m_downloadbutton">
                        Download
                    </button>
                </div>
            </footer>
        </div>


        <div class="conSidebar res_nav collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navigation_bar p-0">
                <li>
                    <a href="" class="active">
                        <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/invite-users.svg" class="img-fluid" />Invite Users
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/setup.svg" class="img-fluid" />Setup
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="images/account-details.svg" class="img-fluid" />Account Details
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/invoices-history.svg" class="img-fluid" />Invoice History
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/images/account-details.svg" class="img-fluid" />Log out
                    </a>
                </li>
            </ul>

            <footer>
                <div class="sdbr_ftr">
                    <p>
                        Download Sustainable Meeting Plugin v1.10
                    </p>
                    <button class="btn btn_card s_m_downloadbutton">
                        Download
                    </button>
                </div>
            </footer>
        </div>

        <!-- Sidebar -->

        <!-- Content Side -->
        <div class="contSec">
            <ul class="d-block d-sm-block d-md-none top_count m-0 p-0">
                <li>
                    <div class="top_image">
                        <img src="../assets/images/event.svg" class="img-fluid" />
                    </div>

                    <ul class="numberBx">
                        <li>0</li>
                        <li>0</li>
                        <li>3</li>
                        <li>2</li>
                    </ul>
                </li>
                <li>
                    <div class="top_image">
                        <img src="../assets/images/plant-trees.svg" class="img-fluid" />
                    </div>
                    <ul class="numberBx">
                        <li>0</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </li>
            </ul>

            <div class="cntSd invoice">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 mb-4">


                        <div class="card whtBx">

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 d-flex align-items-center">
                                    <h2 class="filter">Invoices History blah</h2>
                                    <h2>Hello </h2>
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-4 col-xl-5">
                                    <div class="form-group filter">
                                        <input type="text" class="form-control"
                                            placeholder="Filter by invoice number, status....">
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                                    <select class="form-control">
                                        <option>
                                            Short By...
                                        </option>
                                        <option>
                                            Short
                                        </option>
                                        <option>
                                            Short
                                        </option>
                                        <option>
                                            Short
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                                    <select class="form-control">
                                        <option>
                                            Ascending
                                        </option>
                                        <option>
                                            Short
                                        </option>
                                        <option>
                                            Short
                                        </option>
                                        <option>
                                            Short
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="table-responsive tbWrap">
                            <table class="table ">
                                <thead>
                                    <tr class="theader">
                                        <th>
                                            INVOICE NUMBER
                                        </th>
                                        <th>
                                            INVOICE DATE
                                        </th>
                                        <th>
                                            PERIOD
                                        </th>
                                        <th>
                                            NO TREES
                                        </th>
                                        <th>
                                            AMOUNT
                                        </th>
                                        <th>
                                            STATUS
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            #044
                                        </td>
                                        <td nowrap="">
                                            30/04/20
                                        </td>
                                        <td nowrap="">
                                            01/04/20-30/04/20
                                        </td>
                                        <td nowrap="">
                                            25
                                        </td>
                                        <td nowrap="">
                                            <span>&#8356</span> 0.00
                                        </td>
                                        <td nowrap="">
                                            PAID
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #044
                                        </td>
                                        <td nowrap="">
                                            30/04/20
                                        </td>
                                        <td nowrap="">
                                            01/04/20-30/04/20
                                        </td>
                                        <td nowrap="">
                                            25
                                        </td>
                                        <td nowrap="">
                                            <span>&#8356</span> 0.00
                                        </td>
                                        <td nowrap="">
                                            PAID
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #044
                                        </td>
                                        <td nowrap="">
                                            30/04/20
                                        </td>
                                        <td nowrap="">
                                            01/04/20-30/04/20
                                        </td>
                                        <td nowrap="">
                                            25
                                        </td>
                                        <td nowrap="">
                                            <span>&#8356</span> 0.00
                                        </td>
                                        <td nowrap="">
                                            PAID
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #044
                                        </td>
                                        <td nowrap="">
                                            30/04/20
                                        </td>
                                        <td nowrap="">
                                            01/04/20-30/04/20
                                        </td>
                                        <td nowrap="">
                                            25
                                        </td>
                                        <td nowrap="">
                                            <span>&#8356</span> 0.00
                                        </td>
                                        <td nowrap="">
                                            PAID
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Content Side -->
    </section>
</div>
</template>