<template>
  <v-form v-model="valid" style="margin-top:300px; background-color:white">
    <v-card>
      <v-text-field
        v-model="userInfo.name"
        placeholder="Name"
        :rules="[required('name')]"
        v-if="hasName"
      />

      <v-text-field
        v-model="userInfo.email"
        placeholder="Email Address"
        :rules="[required('email'), emailFormat()]"
      />

      <v-text-field
        v-model="userInfo.password"
        placeholder="Password"
        :type="showPassword ? 'text' : 'password'"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        @click:append="showPassword = !showPassword"
        counter="true"
        :rules="[required('password'), minLength('password', 6)]"
      />

      <v-btn
        @click="submitForm(userInfo)"
        :disabled="!valid"
        class="btn_card t_Btn btn"
        >{{ buttonText }}</v-btn
      >
    </v-card>
  </v-form>
</template>

<script>
import validations from "@/utils/validations";
export default {
  data() {
    return {
      valid: false,
      showPassword: false,
      userInfo: {
        email: "",
        password: ""
      },
      ...validations
    };
  },
  props: ["submitForm", "buttonText", "hasName"]
};
</script>

<style lang="scss" scoped></style>
