<template>
  <v-app style="background-color: #fff">
    <ComHeader></ComHeader>
    <section class="cert_frame">
      <div class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>Login</h2>
            <div class="cnt_card">
              <v-form
                class="login_form"
                ref="loginform"
                @submit.prevent="userLogin(userInfo)"
              >
                <div class="form-group">
                  <!-- <input type="text" class="form-control" placeholder="Email Address" /> -->
                  <v-text-field
                    class="form-control"
                    placeholder="Email Address"
                    name="email"
                    v-on:keyup.enter="test1"
                    id="username"
                    @focus="btnDisable = false"
                    v-model="userInfo.email"
                    :rules="[required('email'), emailFormat()]"
                  />
                </div>
                <div class="form-group">
                  <!-- <input type="password" class="form-control" placeholder="Password" /> -->
                  <v-text-field
                    v-model="userInfo.password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    v-on:keyup.enter="test2"
                    id="pass"
                    @focus="btnDisable = false"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                    counter="true"
                    :rules="[
                      required('password'),
                      minLength('Password', 7),
                      maxLength('Password', 20),
                    ]"
                  />
                </div>

                <label class="form-check-label remembercheckbox">
                  <input type="checkbox" class="form-check-input" value />
                  Remember me
                </label>
                <div class="bxBtn">
                  <!-- <button class="btn green_btn">LOGIN</button> -->
                  <v-btn
                    class="btn green_btn"
                    type="submit"
                    :disabled="btnDisable"
                    @click="userLogin(userInfo)"
                    >{{ buttonText }}</v-btn
                  >
                </div>
              </v-form>
            </div>
            <div class="mt-4">
              <!-- <a href="#" class="pswrdLink">Forgot password?</a> -->
              <nuxt-link to="/forgotPassword" class="pswrdLink"
                >Forgot Password?</nuxt-link
              >
            </div>

            <v-snackbar v-model="snackbar" :timeout="timeout" :color="color">
              {{ text }}
              <template>
                <v-btn :color="color" text @click="snackbar = false"
                  >Close</v-btn
                >
              </template>
            </v-snackbar>
          </div>
        </div>
      </div>
    </section>

    <!-- <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    -->
    <!-- Footer -->
    <Footer></Footer>
  </v-app>
</template>
<script>
import validations from "@/utils/validations";
import ComHeader from "../components/ComHeader";
import Footer from "../components/Footer";

export default {
  /* middleware: "auth", */
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      snackbar: false,
      text: "",
      color: "",
      timeout: 3000,

      btnDisable: false,
      showPassword: false,
      userInfo: {
        email: "",
        password: "",
      },
      ...validations,
    };
  },
  props: ["submitForm", "buttonText", "hasName"],
  methods: {
    test1() {
      if (this.userInfo.password && this.userInfo.email) {
        var info = {
          email: this.userInfo.email,
          password: this.userInfo.password,
        };
        this.userLogin(info);
      }
    },
    test2() {
      if (this.userInfo.password && this.userInfo.email) {
        var info = {
          email: this.userInfo.email,
          password: this.userInfo.password,
        };
        this.userLogin(info);
      }
    },
    async userLogin(loginInfo) {
      // console.log(" INF)))) :", loginInfo);
      try {
        if (this.$refs.loginform.validate()) {
          this.btnDisable = true;
          await this.$auth
            .loginWith("local", {
              data: loginInfo,
            })
            .then((response) => {
              const info = {
                type: response.data.type,
              };
              // localStorage.setItem("UserDetails", info);
              localStorage.setItem("UserDetails", JSON.stringify(info));

              // console.log("login Token details:", response.data);
              let token = response.data.token;
              this.$auth.setToken("local", "token=" + token);

              this.$axios.setHeader("Authorization", "token=" + token);
              this.$auth.ctx.app.$axios.setHeader(
                "Authorization",
                "token=" + token
              );

              // this.$auth.$storage.setLocalStorage(key, response.data, isJson);
              // let LoggedUSer = this.$auth.$storage.getLocalStorage(key);

              // console.log("LOGGED USER :", LoggedUSer);

              // localStorage.setItem("pwd", JSON.stringify(data.password));
              // var retrievedObject = JSON.parse(localStorage.getItem("authToken"));
              // console.log("retrievedObject: ", retrievedObject);
              // this.$store.dispatch("snackbar/setSnackbar", {
              //   text: "Thanks for signing in",
              //   timeout: 2000
              // });

              this.snackbar = true;
              this.text = "Thanks for signing in";
              this.color = "green";

              if (this.$auth.loggedIn === true) {
                if (response.data.type === "initiative_partner") {
                  let redirect_url = this.$route.query.redirect || "/setup";
                  // console.log("redirect_url ............ :", redirect_url);
                  this.$router.push(redirect_url);
                } else if (response.data.type === "employee") {
                  this.$router.push("/userDashboard");
                } else if (response.data.type == "demo_ip") {
                  this.$router.push("/setup");
                } else {
                  this.$router.push("/");
                }
              } else {
                this.$router.push("/");
              }
            })
            .catch((e) => {
              this.btnDisable = true;
              console.log("error", e.status, e.message);
              // this.$store.dispatch("snackbar/setSnackbar", {
              //   text: "Invalid Username/Password",
              //   timeout: 2000,
              //   color: "red"
              // });

              this.snackbar = true;
              this.text = "Invalid Username/Password";
              this.color = "red";

              this.$router.push("/");
            });
        }
      } catch {
        this.$router.push("/");
      }
    },
  },
};
</script>
