<template>
  <v-app class="notification-bar">
    <div v-for="item in computedObj" :key="item.id">
      <v-alert
        dense
        elevation="4"
        :type="item.type == 'info' ? 'success' : item.type"
        icon="fa-bell"
        v-if="item.read_status == 0"
        style="margin-left: 10px; margin-right: 10px"
      >
        {{ item.message }}
        <i
          class="fa fa-times pull-right"
          aria-hidden="true"
          style="color: white; font-size: 20px; cursor: pointer"
          @click="
            item.read_status = 1;
            changeReadStatus(item.id);
          "
        ></i>
      </v-alert>
    </div>
    <button v-if="notifications.length > 3" class="showMoreBtn" @click="changeLimit">{{ showText }}</button>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      notifications: [],
      limit: 3,
      showText: ">>> Show More",
    };
  },
  async mounted() {
    const response = await this.$axios.get("AUTH_URL/v1/getNotifications");
    // console.log("response in notif", response.data);
    this.notifications = response.data;
  },
  computed: {
    computedObj() {
        return this.limit ? this.notifications.slice(0, this.limit) : this.notifications;
    },
  },
  methods: {
    async changeReadStatus(notificationId) {
      await this.$axios.post("AUTH_URL/v1/changeNotificationStatus", {
        id: notificationId,
      });
      const response = await this.$axios.get("AUTH_URL/v1/getNotifications");
      //console.log("response in notif", response);
      this.notifications = response.data;
    },
    changeLimit() {
      if (this.limit == null) {
        this.limit = 3;
        this.showText = ">>> Show More";
      } else {
        this.limit = null;
        this.showText = "<<< Show Less";
      }
    },
  },
};
</script>
<style>
.showMoreBtn {
  display: block;
  margin-left: auto;
  margin-right: 20px;
}
</style>