<template>
  <div>
    <section class="frame">
      <!-- Sidebar -->

      <div class="conSidebar d-none d-sm-none d-md-block">
        <ul class="navigation_bar p-0">
          <li>
            <a href="" class="active">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              />Dashboard
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              />Invite Users
            </a>
          </li>
          <li>
            <a href="">
              <img src="../assets/images/setup.svg" class="img-fluid" />Setup
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Account Details
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              />Invoice History
            </a>
          </li>
        </ul>

        <footer style="border:none;">
          <div class="sdbr_ftr">
            <p>
              Download Sustainable Meeting Plugin v1.10
            </p>
            <button class="btn btn_card s_m_downloadbutton">
              Download
            </button>
          </div>
        </footer>
      </div>

      <div
        class="conSidebar res_nav collapse navbar-collapse"
        id="collapsibleNavbar"
      >
        <ul class="navigation_bar p-0">
          <li>
            <a href="" class="active">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              />Dashboard
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              />Invite Users
            </a>
          </li>
          <li>
            <a href="">
              <img src="../assets/images/setup.svg" class="img-fluid" />Setup
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Account Details
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              />Invoice History
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Log out
            </a>
          </li>
        </ul>

        <footer>
          <div class="sdbr_ftr">
            <p>
              Download Sustainable Meeting Plugin v1.10
            </p>
            <button class="btn btn_card s_m_downloadbutton">
              Download
            </button>
          </div>
        </footer>
      </div>

      <!-- Sidebar -->

      <!-- Content Side -->
      <div class="contSec">
        <ul class="d-block d-sm-block d-md-none top_count m-0 p-0">
          <li>
            <div class="top_image">
              <img src="../assets/images/event.svg" class="img-fluid" />
            </div>

            <ul class="numberBx">
              <li>0</li>
              <li>0</li>
              <li>3</li>
              <li>2</li>
            </ul>
          </li>
          <li>
            <div class="top_image">
              <img src="../assets/images/plant-trees.svg" class="img-fluid" />
            </div>
            <ul class="numberBx">
              <li>0</li>
              <li>1</li>
              <li>1</li>
              <li>1</li>
            </ul>
          </li>
        </ul>

        <div class="cntSd">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 mb-4">
                  <div class="card whtBx" style="height: 100%;">
                    <h2>Notification Emails</h2>
                    <p>
                      Choose when you would like meeting attendees to receive
                      the email with their tree planting certificate from you
                    </p>
                    <ul class="nmFld">
                      <li>
                        <label>Hours</label>
                        <input type="number" value="0" min="0" max="24" />
                      </li>
                      <li>
                        <label>Minutes</label>
                        <input type="number" value="30" min="0" max="60" />
                      </li>
                      <li>
                        <label>Before/After Meeting</label>
                        <select class="form-control">
                          <option>
                            Before Meeting
                          </option>
                          <option>
                            After Meeting
                          </option>
                        </select>
                      </li>
                    </ul>

                    <div class="bxBtn">
                      <button class="btn btn_card t_Btn">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 mb-4">
                      <div class="card whtBx">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <h2 class="mb-0">Include Internal Meetings</h2>
                          <div class="togglebox">
                            <label class="switch d-block">
                              <input
                                type="checkbox"
                                data-toggle="toggle"
                                id="togBtn"
                                onclick="show()"
                              />
                              <div class="slider round ml-2"></div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 mb-4">
                      <div class="card whtBx">
                        <h2>Change URL</h2>
                        <p>
                          Within outlook, which website would you like users to
                          be taken to when they click "info"?
                        </p>
                        <form>
                          <div class="form-group mycustom mb-0">
                            <input
                              type="text"
                              class="form-control rounded-0"
                              id="validationDefaultUsername"
                              placeholder="(eg:test.com)"
                              aria-describedby="inputGroupPrepend2"
                              required=""
                            />
                            <div class="input-group-prepend">
                              <button
                                type="button"
                                class="btn btn-sm t_Btn rounded-0"
                              >
                                Save
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12">
              <div class="card whtBx">
                <h2>Edit Email Footer</h2>
                <p>
                  When you sent out a meeting invite, what would you like ti
                  display in the user footer?
                </p>
                <div class="mt-4"></div>
                <div class="bxBtn">
                  <button class="btn btn_card t_Btn">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
  </div>
</template>
