<template>
  <v-app>
    <div>
      <!-- Sidebar -->

      <div class="conSidebar">
        <ul class="navigation_bar">
          <li v-if="isDemoIp() === false">
            <nuxt-link to="/Dashboard" :class="{ active: dashboard }">
              <img
                src="../assets/images/dashboard.svg"
                class="img-fluid"
              />Dashboard
            </nuxt-link>
          </li>
          <li v-if="isDemoIp() === false">
            <nuxt-link to="/Inviteusers" :class="{ active: Inviteusers }">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              />Invite Users
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/setup" :class="{ active: setup }">
              <img src="../assets/images/setup.svg" class="img-fluid" />Setup
            </nuxt-link>
          </li>
          <li v-if="isDemoIp() === false">
            <nuxt-link to="/account" :class="{ active: account }">
              <img
                src="../assets/images/account-details.svg"
                class="img-fluid"
              />Account Details
            </nuxt-link>
          </li>
          <li v-if="isDemoIp() === false">
            <nuxt-link to="/invoice" :class="{ active: invoice }">
              <img
                src="../assets/images/invoices-history.svg"
                class="img-fluid"
              />Invoices History
            </nuxt-link>
          </li>
          <li style="display: none" v-if="isDemoIp() === false">
            <nuxt-link
              to="/dnsVerification"
              :class="{ active: dnsVerification }"
            >
              <img
                src="../assets/images/domain-dns.svg"
                class="img-fluid"
              />Domain Verification
            </nuxt-link>
          </li>

          <li v-if="isDemoIp() === true">
            <nuxt-link to="/meeting" :class="{ active: meeting }">
              <img
                src="../assets/images/invite-users.svg"
                class="img-fluid"
              />Meeting Setup
            </nuxt-link>
          </li>
        </ul>

        <footer v-if="isDemoIp() === false" style="border: none">
          <div class="sdbr_ftr">
            <p>Download/Install Sustainably Run Meetings Plugin</p>
            <button
              class="btn btn_card s_m_downloadbutton"
              @click.stop="plugin_download = true"
            >
              Download
            </button>
            <v-layout row justify-center>
              <v-dialog v-model="plugin_download" max-width="430">
                <v-card class="p-3 p-md-4 dwnldModal">
                  <v-card-title class="headline justify-centre pl-0">
                    <h4>Sustainably Run Meetings Plugin</h4>
                  </v-card-title>

                  <v-row align="center">
                    <v-col cols="12">
                      <v-subheader class="justify-centre pl-0"
                        >Choose Meeting Platform</v-subheader
                      >
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" class="py-0">
                      <v-select
                        v-model="select"
                        @change="selectPlugin"
                        :items="items"
                        item-text="state"
                        label="Select"
                        persistent-hint
                        return-object
                        single-line
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-card-actions class="popbtn">
                    <v-spacer></v-spacer>

                    <v-btn
                      color="green darken-1"
                      class="btn btn_card t_Btn"
                      @click="close()"
                      >{{ downloadText }}</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-layout>
          </div>
        </footer>

        <ul v-if="isDemoIp() === false" class="navigation_bar helpBar">
          <li>
            <div class="btn-group w-100">
              <a
                type
                href
                :class="{ active: help }"
                class="w-100"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                >Help</a
              >
              <div class="dropdown-menu">
                <ul class="navigation_bar p-0 inrDrp">
                  <li>
                    <nuxt-link to="/feedback">Request a Feature</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/bugs">Submit a Bug</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="#">Docs/FAQ</nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- ------------------Mobile nav-------------------------------- -->
    </div>
  </v-app>
</template>


<script>
export default {
  data() {
    return {
      downloadText: "Download",
      dialog: false,
      plugin_download: false,
      select: { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
      items: [
        { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
        { state: "Sustainably Run Meetings for Microsoft Web Plugin" },
        { state: "Sustainably Run Meetings Google Calendar Plugin" },
      ],
      invoice: false,
      account: false,
      setup: false,
      dashboard: false,
      Inviteusers: false,
      dnsVerification: false,
      help: false,
      meeting: false,
    };
  },
  async mounted() {
    var currentUrl = window.location.pathname;
    // console.log("In SIDEBAR -----------:", currentUrl.replace("/", ""));
    if (currentUrl.replace("/", "") === "dnsVerification/details") {
      this.dnsVerification = true;
    } else if (
      currentUrl.replace("/", "") === "feedback/" ||
      currentUrl.replace("/", "") === "feedback" ||
      currentUrl.replace("/", "") === "feedback/create" ||
      currentUrl.replace("/", "") === "feedback/p/ddd" ||
      currentUrl.replace("/", "") === "bugs/" ||
      currentUrl.replace("/", "") === "bugs" ||
      currentUrl.replace("/", "") === "bugs/create"
    ) {
      this.help = true;
    } else {
      this[`${currentUrl.replace("/", "")}`] = true;
    }
  },
  methods: {
    close() {
      this.plugin_download = false;
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Desktop Outlook Plugin"
      ) {
        window.location.href = "/download/plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings for Microsoft Web Plugin"
      ) {
        window.open(process.env.OUTLOOK_WEB_PLUGIN_URL, "_blank");
        // window.location.href = "/download/outlook-web-plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Google Calendar Plugin"
      ) {
        window.open(process.env.GMAIL_PLUGIN_URL, "_blank");
      }
    },
    isDemoIp() {
      var user = JSON.parse(localStorage.getItem("UserDetails"));
      let userType = user.type;
      if (userType == "demo_ip") {
        return true;
      } else {
        return false;
      }
    },
    selectPlugin() {
      console.log(this.select);
      switch (this.select.state) {
        case "Sustainably Run Meetings Desktop Outlook Plugin":
          this.downloadText = "Download";
          break;
        case "Sustainably Run Meetings for Microsoft Web Plugin":
          case "Sustainably Run Meetings Google Calendar Plugin":
          this.downloadText = "Install";
          break;
      }
    },
  },
};
</script>