<template>
  <div>
    <div class="veBox" id="trialdays" @click="ShowHideDiv">
      <span class="angleBox"></span>
      <div class="tDays">
        <h4>{{ trialCount }}</h4>
        <p>Free Trial Days</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  async mounted() {
    var currentUrl = window.location.pathname;
    if (currentUrl === "/setup") {
      var element = document.getElementById("trialdays");
      element.classList.add("open");
      setTimeout(function() {
        element.classList.remove("open");
      }, 3000);
    }
  },
  methods: {
    ShowHideDiv() {
      var element = document.getElementById("trialdays");
      element.classList.toggle("open");
    }
  },
  props: ["trialCount"]
};
</script>
