<template>
  <v-app>
    <!-- Header -->
    <!-- Header -->
    <header>
      <div class="row justify-content-between">
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-between">
          <a href="/userDashboard">
            <img src="../assets/images/SM GREEN BLACK LOGO.png" class="img-fluid logo" />
          </a>
          <div class="MenuBr">
            <h6>Menu</h6>
            <button
              class="btn btn-default navBtn navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
            >
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <ul v-if="$auth.loggedIn" class="top_count m-0 p-0">
            <li>
              <div class="top_image">
                <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
              </div>

              <h3>
                <small>SUSTAINABLY RUN MEETINGS</small>
              </h3>

              <ul class="numberBx">
                <!-- <li>{{ meetingcount[0] }}</li>
                <li>{{ meetingcount[1] }}</li>
                <li>{{ meetingcount[2] }}</li>
                <li>{{ meetingcount[3] }}</li>-->

                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
              </ul>
            </li>
            <li>
              <div class="top_image">
                <img src="../assets/images/plant-trees.svg" class="img-fluid" />
              </div>
              <h3>
                <small>TREES PLANTED</small>
              </h3>
              <ul class="numberBx">
                <!-- <li>{{ treecount[0] }}</li>
                <li>{{ treecount[1] }}</li>
                <li>{{ treecount[2] }}</li>
                <li>{{ treecount[3] }}</li>-->
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
              </ul>
            </li>
            <li>
              <label class="switchhead d-block">
                <v-switch v-model="isHidden" @change="changedValue" color="red darken-3">
                  <div class="togic round ml-2">
                    <span v-if="isHidden">COMPANY</span>
                    <span v-if="!isHidden">MY</span>
                  </div>
                </v-switch>
              </label>
            </li>

            <li>
              <div class="top_image lg">
                <img src="../assets/images/account-details.svg" class="img-fluid" />
              </div>
              <h3>
                <v-btn @click="Logout()">LOGOUT</v-btn>
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header -->

    <section class="frameMob">
      <!-- Sidebar -->

      <div class="conSidebar res_nav collapse navbar-collapse" id="collapsibleNavbar">
        <div>
          <ul class="navigation_bar p-0" v-if="$auth.loggedIn">
            <!-- <li class="lgCls">
              <img src="../assets/images/mbl_logo.png" class="img-fluid" />
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close <span>
              &times;</span></a>
            </li>-->

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <n-link to="/userDashboard" no-prefetch>
                <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
              </n-link>
            </li>

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <n-link to="/userPassword">
                <img src="../assets/images/invite-users.svg" class="img-fluid" />Password Change
              </n-link>
            </li>
            <li>
              <label class="switchhead d-block">
                <v-switch v-model="isHidden" @change="changedValue" color="red darken-3"></v-switch>
              </label>
            </li>

            <li @click="Logout()" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a>
                <img src="../assets/images/account-details.svg" class="img-fluid" />Log Out
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Sidebar -->
    </section>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      isHidden: false,
    };
  },
  methods: {
    Logout: function () {
      this.$auth.logout();
      this.$router.push("/");
    },
    changedValue(value) {
      console.log("in toogle change in HEADER..... :", value);
    },
  },
  props: [],
};
</script>
