@font-face {
  font-family: "HelveticaThin";
  src: url("../font/Helvetica/HelveticaNeue Thin.ttf");
  src: local("../font/Helvetica/HelveticaNeue Thin.ttf"),
    url("../font/Helvetica/HelveticaNeue Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../font/Helvetica/HelveticaNeueLight.ttf");
  src: local("../font/Helvetica/HelveticaNeueLight.ttf"),
    url("../font/Helvetica/HelveticaNeueLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaMedium";
  src: url("../font/Helvetica/HelveticaNeueMedium.ttf");
  src: local("../font/Helvetica/HelveticaNeueMedium.ttf"),
    url("../font/Helvetica/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaSemibold";
  src: url("../font/Helvetica/HelveticaNeueMed.ttf");
  src: local("../font/Helvetica/HelveticaNeueMed.ttf"),
    url("../font/Helvetica/HelveticaNeueMed.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../font/Helvetica/HelveticaNeuBold.ttf");
  src: local("../font/Helvetica/HelveticaNeuBold.ttf"),
    url("../font/Helvetica/HelveticaNeuBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaHeavy";
  src: url("../font/Helvetica/HelveticaNeueHv.ttf");
  src: local("../font/Helvetica/HelveticaNeueHv.ttf"),
    url("../font/Helvetica/HelveticaNeueHv.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBoldCond";
  src: url("../font/Helvetica/HelveticaNeueBlackCond.ttf");
  src: local("../font/Helvetica/HelveticaNeueBlackCond.ttf"),
    url("../font/Helvetica/HelveticaNeueBlackCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  max-width: 1920px;
  margin: 0px auto !important;
}
.v-application {
  background: #ffffff !important;
}

body {
  font-size: 12px;
  background: #e9e9e8;
}
header {
  padding: 30px 45px;
  box-shadow: 0 3px 5px #f3f3f3;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #000;
  max-width: 1920px;
  margin: 0px auto !important;
  right: 0;
}

.navBtn {
  display: none;
}

.conSidebar footer {
  background: #fff !important;
  box-shadow: none !important;
  padding: 30px !important;
  font-size: 10px;
  width: 100%;
}
.cntSd {
  width: 100%;
  padding: 0 40px;
}
footer {
  padding: 30px 65px;
  text-align: center;
  font-weight: 600;
  font-family: "HelveticaSemibold";
  box-shadow: 0 0 15px #00000014;
  background: #fff;
  border-top: 1px solid #000;
}

.s_m_downloadbutton {
  background-image: url(/certificate_images/outlook.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 22px !important;
  background-position: 18px !important;
  padding-left: 44px !important;
}

.btn_card {
  float: right;
  border-radius: 50px;
  color: #fff;
  background: #926792;
  font-size: 12px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  padding: 10px 26px;
  min-width: 100px;
}
.btn_card:hover {
  background-color: #7d527d;
}

.card {
  box-shadow: 0 0 15px #00000014;
  padding: 30px;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

.cntSd .card {
  border: none !important;
  border-radius: 0 !important;
}

.navigation_bar {
  margin-top: 0 !important;
  padding: 10px !important;
  padding-top: 30px !important;
  list-style: none;
  margin: 0;
}

.navigation_bar li a {
  display: block;
  padding: 15px 25px;
  font-size: 15px;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #000;
  border-left: solid 5px transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigation_bar li a.active {
  background: #e9e9e8;
  text-decoration: none;
  border-left: solid 2px #439635;
}

.navigation_bar li a img {
  width: 16px;
  margin-right: 10px;
}

.filterWrap {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0 !important;
}
.filterWrap li {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.filterWrap li:last-child {
  margin-right: 0 !important;
}
.filterWrap li label {
  margin: 0;
  margin-right: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "HelveticaMedium";
}
.grn {
  margin-left: 10px;
  background-color: #439635 !important;
}
.grn:hover {
  background-color: #3b7c20 !important;
}
.grBtn {
  width: 135px;
}
.upld_btn {
  padding: 10px 35px !important;
  font-family: "HelveticaMedium" !important;
}
.filterWrap li .form-control {
  width: max-content !important;
  height: 36px !important;
  font-size: 12px;
  font-weight: bold;
  font-family: "HelveticaBold";
  border-color: #605d5d;
  color: #5b5959;
  padding: 5px 10px;
}

select.form-control {
  font-size: 13px;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #333;
  padding: 15px 20px;
  border-radius: 50px;
  background: transparent;
  border: solid 2px #e9e9e8;
  padding: 12px 27px;
  line-height: 1.25 !important;
  height: auto !important;
}

select.form-control {
  border-radius: 50px;
  background: transparent;
  border: solid 2px #cad6ad;
}

.t_Btn {
  background-color: #439635 !important;
  padding: 10px 50px !important;
}

.t_Btn:hover {
  background-color: #3b7c20 !important;
}

.navig_ftr {
  list-style-type: none !important;
  display: flex;
  padding: 0;
  margin: 0;
}

.ftrCnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.conDetl {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ftr_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
}
.ftr_img img {
  width: 200px;
}
.navig_ftr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.numberBx {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0 !important;
  position: relative;
}
.numberBx::before {
  content: " ";
  position: absolute;
  bottom: 53%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.numberBx li {
  padding: 5px 12px !important;
  margin: 0 3px;
  font-size: 28px;
  border-radius: 5px;
  background: #eee;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center !important;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #4c4b4b;
}
.numberBx li:first-child {
  margin-left: 0 !important;
}
.numberBx li:last-child {
  margin-right: 0 !important;
}
.top_image {
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}
.top_count {
  display: flex !important;
  justify-content: flex-end;
}
.top_count li {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.top_count li:first-child {
  padding-left: 0;
}
.top_count li h3 {
  font-weight: bold;
  font-family: "HelveticaBold";
  text-align: right;
  color: #439635;
  margin-bottom: 0 !important;
}

.top_count li h3 small {
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: "HelveticaBold";
}

.top_count li h3 a {
  font-size: 18px;
  font-weight: bold;
  font-family: "HelveticaBold";
  text-align: right;
  color: #000;
  text-decoration: underline;
  display: block;
}

.navig_ftr li:last-child {
  padding-right: 0 !important;
  border: none !important;
}

.navig_ftr li:last-child a {
  border: none !important;
}

.navig_ftr li:first-child a {
  padding-left: 0 !important;
}

.navig_ftr li a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  display: inline-block;
  padding: 0 6px;
  border-right: 1px solid #000;
}
.btm_ftr {
  list-style-type: none !important;
  display: flex;
  padding: 0;
  margin: 0;
}
.btm_ftr a {
  color: #000;
  font-size: 11px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #000;
  font-family: Roboto, sans-serif !important;
  text-decoration: none;
}

.btm_ftr a:hover {
  text-decoration: underline;
  color: #3b7c20 !important;
}
.btm_ftr a span {
  font-weight: bold;
  font-family: "HelveticaBold";
}

.navig_ftr li a:hover {
  text-decoration: none;
}
.conDetl h6 {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  font-family: "HelveticaMedium";
  padding-right: 15px;
  margin-bottom: 0 !important;
  font-family: Roboto, sans-serif !important;
}

.conDetl h6 span {
  font-weight: bold;
  font-family: "HelveticaBold";
}
.conDetl h6 span a {
  color: #000 !important;
  font-family: "HelveticaLight" !important;
  text-decoration: none !important;
}
.conDetl h6 span a:hover {
  text-decoration: underline !important;
  color: #3b7c20 !important;
}
.lg {
  width: 26px !important;
}
.card h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #439635;
  margin-bottom: 30px;
}
input.form-control {
  font-size: 14px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  font-family: "Roboto", arial;
  color: #333;
  border-radius: 50px;
  background: transparent;
  border: solid 2px #e9e9e8;
  padding: 14px 27px;
}
input.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #e9e9e8;
  outline: none;
}
.whtBx {
  padding: 30px 80px !important;
  text-align: center;
}
.whtBx .bxBtn {
  display: flex;
  justify-content: center;
}
.pdL {
  padding-left: 7px !important;
}
.pdR {
  padding-right: 7px !important;
}
.whtBx .bxBtn button {
  margin-top: 15px;
}
.mycustom {
  position: relative;
}
.mycustom input[type="text"] {
  width: 100%;
  padding-right: 85px;
  border-radius: 50px !important;
}
.mycustom .input-group-prepend {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 9;
}
.mycustom .input-group-prepend .btn {
  float: right;
  border-radius: 50px;
  color: #fff;
  background: #439635 !important;
  font-size: 11px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  padding: 12px 20px !important;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin: 1px 0px;
}
.mycustom .input-group-prepend .btn:hover {
  background: #3b7c20 !important;
}
input.form-control::placeholder {
  color: #a9a7a7;
  font-weight: 600;
  font-family: "HelveticaSemibold";
}
.ltrBld .form-group input::placeholder {
  color: #000 !important;
}
.table {
  border-collapse: separate;
  border-spacing: 0 0.6em;
}
.table tr {
  background: #fff;
  box-shadow: 0 0 10px #eaeaea;
  font-size: 14px;
  font-weight: bold;
  font-family: "HelveticaBold";
}
.theader {
  background: transparent !important;
  text-transform: uppercase;
  box-shadow: none !important;
  height: 14px;
}
.theader th {
  padding: 0 0.75rem;
}
.table thead th {
  border: none;
}
.table thead th p {
  width: max-content;
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 0 !important;
}
.table tbody tr th {
  font-weight: bold;
  font-family: "HelveticaBold";
}
.deleteBtn {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  padding: 1px;
  background-color: #f3ccd0;
}
.deleteBtn img {
  width: 12px;
  height: 15px;
}
.rushBn {
  padding: 0 !important;
  height: 0px;
}
.deleteBtn img:focus {
  outline: 0 !important;
}
.deleteBtn:focus {
  outline: 0 !important;
}
.upldBx {
  padding: 50px 20px;
}
.upldBx p {
  margin-bottom: 10px !important;
  font-size: 14px !important;
  font-family: "HelveticaMedium" !important;
  color: #868383 !important;
}
.upldBx span {
  margin-bottom: 20px;
}
.upldBx span a {
  font-size: 12px;
  text-decoration: underline;
  color: #439635;
  font-weight: bold;
  font-family: "HelveticaBold";
}
.invoice select.form-control {
  height: 98% !important;
  font-size: 14px;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #000;
  padding: 15px 20px;
  border-radius: 50px;
  background: transparent;
  border: solid 2px #000;
  padding: 15px 25px !important;
  line-height: 1.25 !important;
  -moz-appearance: none !important; /* Firefox */
  -webkit-appearance: none !important; /* Safari and Chrome */
  appearance: none !important;
  background-image: url(/certificate_images/drop-down-arrow.svg) !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position-x: 92% !important;
  background-position-y: 14px !important;
}
.filter {
  margin-bottom: 0 !important;
}
.form-control {
  font-family: "Roboto", arial;
}
.nmFld {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.nmFld li {
  text-align: center;
  margin-right: 10px;
}
.nmFld label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #439635;
}
.nmFld input {
  width: 58px;
  font-size: 12px;
  font-weight: bold;
  font-family: "HelveticaBold";
  font-family: "Roboto", arial;
  color: #333;
  border-radius: 50px;
  background: transparent;
  border: solid 2px #e9e9e8;
  padding: 10px 8px;
  text-align: center;
}
.nmFld input:focus {
  outline: none !important;
}
.card p {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  font-family: "HelveticaMedium";
  margin-bottom: 20px;
}
.nmFld select.form-control {
  font-size: 12px !important;
  font-family: "HelveticaBold" !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-image: url(/certificate_images/download.png) !important;
  background-repeat: no-repeat !important;
  background-position-x: 91% !important;
  background-position-y: 13px !important;
  background-size: 14px !important;
  padding: 12px 27px !important;
  padding-right: 42px !important;
}
.selMr {
  margin-left: 12px !important;
}

.switch {
  width: 55px;
  height: 18px;
  position: relative;
  display: inline-block;
  margin-bottom: 0 !important;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c80707;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ccbcbc;
}
.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  right: -2px;
  border: 4px solid #fff;
  background: linear-gradient(#e8e8e8, #fff);
  box-shadow: 0 2px 6px #0000004a;
  top: -3px;
}
input:checked + .slider {
  background-color: #439635;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(-28px);
}
input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.mtHd {
  justify-content: space-between;
}
.mtHd h2 {
  padding-left: 80px;
}
.res_nav {
  display: none !important;
}
.pd {
  padding-right: 0;
}
.filterWrap li .form-control {
  -moz-appearance: none !important; /* Firefox */
  -webkit-appearance: none !important; /* Safari and Chrome */
  appearance: none !important;
  background: transparent !important;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
  background-repeat: no-repeat !important;
  background-position-x: 92% !important;
  background-position-y: 4px !important;
  padding: 5px 20px !important;
  padding-right: 40px !important;
}
.yesBadge {
  text-transform: uppercase;
}
.invoice .card ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
}
.invoice .card ul li {
  padding-right: 15px;
}
.invoice .card ul li:last-child {
  padding-right: 0 !important;
}
.lstWdth1 {
  width: 20%;
}
.lstWdth2 {
  width: 40%;
}
.lstWdth3 {
  width: 40%;
}

/* hide arrow from number type input filed-setup */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* hide arrow from number type input filed-setup */

.cert_header {
  box-shadow: none;
  padding: 15px 70px;
  z-index: 111;
}
.green_btn {
  border-radius: 10px;
  color: #fff;
  background-color: #439635;
  font-size: 12px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  padding: 10px 26px;
  min-width: 100px;
}
.green_btn:hover {
  background-color: #3b7c20;
  cursor: pointer;
}
.cert {
  align-items: center;
}
.cert li h3 a {
  text-decoration: none !important;
}
.cert_frame {
  width: 100%;
  padding-top: 67px;
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.bnnr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/certificate_images/tree.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.mdl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main_sec {
  /* max-width: 550px; */
  max-width: 775px;
  text-align: center;
  padding: 60px;
}
.logoBx {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.companyLogo {
  width: 260px;
  /* padding: 15px; */
  /* box-shadow: 0px 0px 15px rgb(89 89 89 / 45%); */
}
.companyLogo img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.companyLogo h5 {
  font-size: 18px;
  font-weight: 400;
  font-family: "HelveticaLight";
  margin-bottom: 0;
  color: #000;
}

.main_sec h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "HelveticaLight";
  margin-bottom: 50px;
  color: #000;
}

.main_sec h2 span {
  color: #439635;
  font-weight: 600;
  font-family: "HelveticaSemibold";
}

.main_sec h6 {
  font-size: 21px;
  font-weight: 600;
  font-family: "HelveticaSemibold";
  color: #439635;
  margin-bottom: 0;
}

.cerBx {
  width: 100%;
  padding: 20px;
  background: #e9e9e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cerBx label {
  font-size: 14px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  margin-bottom: 0;
}
.cerBx img {
  width: 18px;
}

.cont_ftr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 30px;
  border: 1px dashed #000;
  margin-bottom: 60px;
}

.cont_ftr h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  color: #439635;
}
.cont_ftr p {
  font-size: 16px;
  font-weight: 500;
  font-family: "HelveticaMedium";
}
.certificate_wrapper {
  padding: 50px 70px 0 70px;
}

.cmn {
  font-size: 18px;
  /* font-weight: 500; */
  margin-bottom: 30px;
}

.free_accunt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

.free_accunt .cmn {
  margin-bottom: 10px;
}

.free_accunt h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: "HelveticaSemibold";
  color: #439635;
  margin-bottom: 0;
}

.certification_wrapper {
  padding: 60px;
  /* background-color: #e9e9e8; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certification_wrapper h3 {
  font-size: 26px;
  font-weight: 600;
  font-family: "HelveticaSemibold";
  color: #439635;
  margin-bottom: 0;
}

.certification_wrapper ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 60px;
}

.certification_wrapper ul li {
  margin-right: 90px;
  /* background-color: #fff; */
}
.certification_wrapper ul li:last-child {
  margin-right: 0;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.07843);  */
}
.intro_wrapper {
  padding: 40px 70px 0;
}
.intro_content {
  padding-right: 30px;
  text-align: justify !important;
}
.intro_content .cmn {
  margin-bottom: 0 !important;
  text-align: justify !important;
}
.intro_wrapper .mediaContent {
  padding-bottom: 5px;
}
.cnt_right {
  padding-left: 30px;
  padding-right: 0 !important;
}
.intro_wrapper hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1) !important;
}
.cmnHd {
  font-size: 50px;
  font-weight: bold;
  font-family: "HelveticaBold";
  color: #439635;
  margin-bottom: 30px;
  text-align: left !important;
}
.cert_content {
  padding-right: 20px;
}

.detail_wrapper {
  padding: 70px 50px 90px 70px;
}

.hwItWrk_wrapper {
  padding: 50px 70px 50px 70px;
}
.wrkDtl {
  padding-left: 90px;
}
.wrkDtl ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.wrkDtl ul li {
  position: relative;
  padding-left: 40px;
}
.wrkDtl ul li::before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid #000;
}
.wrkDtl a {
  color: #439635 !important;
  font-family: "HelveticaSemibold" !important;
}

.findOutMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 70px 0 70px;
}

.cert_footer {
  box-shadow: none;
  padding: 0;
  margin: 0 70px;
  border-top: 3px solid #000;
}
.certCntBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.findOutMore figure img {
  max-width: 100%;
}
.hwItWrk_wrapper figure img {
  max-width: 100%;
}

/* carousel */
.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: contain;
  width: 100%;
}
#carousel-thumbs {
  background: #fff;
  bottom: 0;
  left: 0;
  /*  padding: 0 50px; */
  right: 0;
}
#carousel-thumbs .thumb {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
}
#carousel-thumbs .thumb:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid black;
  display: none;
}
#carousel-thumbs .thumb:hover:after {
  display: block;
}
#carousel-thumbs .thumb.selected:after {
  display: block;
}
.carousel-control-prev,
.carousel-control-next {
  width: 32px;
  height: 36px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e6e6 !important;
  /* margin: 12px 0 15px 0;
  justify-content: flex-start !important; */
  opacity: 100%;
  position: absolute;
  top: 236px;
  bottom: unset !important;
  padding: 5px 0;
  background-color: #000 !important;
}
.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}
.carousel-control-prev-icon {
  margin-left: 5px;
}

/*
.carousel-control-next-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/certificate_images/carslArrw.png);
  background-position: top;
  background-size: 50%;
  background-repeat: no-repeat;
} 
*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
}
.certification_wrapper ul li img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}
/* carousel */

.brochureModal h3 {
  font-weight: bold;
  font-family: "HelveticaBold";
  margin: 40px 0;
  font-size: 26px;
  color: #000;
  text-align: center;
}

.brochureModal .modal-content {
  border-radius: 0;
  border: 2px solid rgb(110, 110, 110);
}
.brochureModal .modal-dialog {
  max-width: 650px;
}
.brochureModal .modal-header {
  padding-bottom: 0;
  border-bottom: none;
}
.brochureModal button.close {
  font-size: 20px;
  font-weight: 400;
  font-family: "HelveticaLight";
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  /* border: 1px solid #000; */
  /* width: 23px; */
  /* border-radius: 50%; */
  /* height: 23px; */
  margin-left: auto;
}
.popLogo {
  width: 100%;
  /*display: flex;
  justify-content: center; */
  text-align: center;
  display: block;
}
.brochureModal .form-check-input {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: 0;
}
.brochureModal .form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  font-family: "HelveticaLight";
  color: black;
}
.brochureModal .green_btn {
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 55px;
  text-transform: uppercase;
  margin: 35px 0 50px 0;
}
.brochureModal .bxBtn {
  text-align: center;
}

.brochureModal input.form-control {
  font-size: 16px !important;
  font-weight: 500;
  font-family: "HelveticaMedium";
  font-family: "Roboto", arial;
  color: #333;
  border: solid 1px #000000;
  padding: 11px 16px;
  border-radius: 10px;
}
.brochureModal input.form-control::placeholder {
  color: #000 !important;
  font-weight: 400;
  font-family: "HelveticaLight";
}
.brochureModal input.form-control::-webkit-input-placeholder {
  color: #000 !important;
  font-weight: 400;
  font-family: "HelveticaLight";
}
.brochureModal input.form-control::-ms-input-placeholder {
  color: #000 !important;
  font-weight: 400;
  font-family: "HelveticaLight";
}

.customCh {
  display: block;
  position: relative;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  margin-bottom: 0;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  font-family: "HelveticaLight";
  color: black;
}

.customCh input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee0;
  border: 1px solid #797979;
}

.customCh:hover input ~ .checkmark {
  background-color: #ccc0;
}

.customCh input:checked ~ .checkmark {
  background-color: #439635;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.customCh input:checked ~ .checkmark:after {
  display: block;
}

.customCh .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.carousel_hgt {
  height: 509px !important;
}
.carousel_hgt img {
  widows: 100%;
  height: 100%;
}

.carousel_hgt iframe {
  height: 509px !important;
  border: none !important;
}
.mediaOnly .carousel_hgt iframe {
  height: 594px !important;
}
/*.carousel-item img {
  width: 100%;
  height: 100%;
}*/
.carousel_navHt {
  max-width: 130px;
  height: 70px;
}
.carousel_navHt iframe {
  height: 84px;
}

.mediaOnly .carousel_navHt iframe {
  height: 90px;
}
.intro_content blockquote {
  margin: revert !important;
  display: block !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.intro_content p blockquote {
  margin: revert !important;
  display: block !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.intro_content .cmn blockquote {
  margin: revert !important;
  display: block !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.intro_content p {
  margin-bottom: 0 !important;
}
.a_carousel .carousel-control-prev,
.carousel-control-next {
  opacity: initial !important;
  margin: 0 !important;
}
.carousel_navHt img {
  height: 100% !important;
}
.carousel_navHt iframe {
  height: 100% !important;
}
#btnshare {
  width: 49%;
}
.w-hlf {
  width: 49% !important;
}
.btm_ftr .adr {
  color: #000 !important;
  font-size: 11px;
  font-weight: 500;
  font-family: "HelveticaMedium";
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #000;
  font-family: Roboto, sans-serif !important;
  border: none !important;
}
.btm_ftr .copyright {
  padding-left: 0 !important;
}
.btm_ftr .copyright:hover {
  text-decoration: none !important;
  color: #000 !important;
}
.wrkDtl a.cmn{
  font-size: 21px !important;
}

@media (max-width: 1920px) {
  .carousel_navHt {
    max-width: 125px;
    height: 60px;
  }
}
@media (max-width: 1800px) {
  .card h2 {
    font-size: 22px;
  }
  input.form-control {
    font-size: 13px;
    padding: 12px 27px;
  }
  .whtBx {
    padding: 30px 70px !important;
  }
  .mycustom .input-group-prepend .btn {
    padding: 11px 25px !important;
  }
  .invoice select.form-control {
    background-position-x: 90% !important;
    background-position-y: 16px !important;
  }
  .mycustom .input-group-prepend .btn {
    padding: 9px 18px !important;
  }
  .selMr {
    margin-left: 10px !important;
  }
  .certification_wrapper ul li {
    margin-right: 70px;
  }
  .carousel_navHt {
    max-width: 108px;
    height: 50px;
  }
  .carousel_hgt {
    height: 418px !important;
  }
  .carousel_hgt iframe {
    height: 418px !important;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 489px !important;
  }
  .carousel_navHt iframe {
    height: 67px;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 67px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 200px;
  }
}
@media (min-width: 1599px) {
  .cmn {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .cmnHd {
    font-size: 55px;
  }
  .certification_wrapper h3 {
    font-size: 28px;
  }
  .free_accunt h2 {
    font-size: 36px;
  }
  .main_sec h6 {
    font-size: 20px;
  }
  .main_sec h2 {
    font-size: 33px;
  }
  .carousel_navHt img {
    /*height: 140px;*/
  }
}
@media (max-width: 1600px) {
  .card h2 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  input.form-control {
    font-size: 12px;
    padding: 11px 27px;
  }
  .whtBx {
    padding: 30px 65px !important;
  }
  .mycustom .input-group-prepend .btn {
    padding: 8px 16px !important;
  }
  .t_Btn {
    padding: 10px 45px !important;
  }
  .top_count li h3 small {
    font-size: 14px;
  }
  .numberBx li {
    padding: 2px 10px !important;
    margin: 0 2px;
    font-size: 26px;
  }
  .top_count li h3 a {
    font-size: 16px;
  }
  .lg {
    width: 24px !important;
  }
  .btn_card {
    font-size: 11px;
  }
  .filterWrap li .form-control {
    font-size: 11px;
  }
  .filterWrap li label {
    font-size: 13px;
  }
  .grBtn {
    width: 132px;
  }
  .navig_ftr li a {
    font-size: 13px;
    padding: 0 4px;
  }
  .upldBx p {
    font-size: 12px !important;
  }
  .upldBx span a {
    font-size: 10px;
  }
  .upld_btn {
    padding: 10px 32px !important;
  }
  header {
    padding: 25px 45px;
  }
  footer {
    padding: 25px 50px;
  }
  .switch {
    width: 50px;
    height: 16px;
  }
  .slider:before {
    height: 19px;
    width: 19px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(-25px);
  }
  .mtHd h2 {
    padding-left: 45px;
  }
  .invoice select.form-control {
    padding: 9px 25px !important;
    background-position-x: 88% !important;
    background-position-y: 13px !important;
    background-size: 13px !important;
  }
  .selMr {
    margin-left: 8px !important;
  }
  .nmFld select.form-control {
    font-size: 11px !important;
    padding: 11px 27px !important;
    background-position-y: 11px !important;
    padding-right: 37px !important;
    background-position-x: 90% !important;
  }
  .nmFld input {
    font-size: 11px;
  }
  .top_image {
    width: 36px;
  }
  .certification_wrapper ul li {
    margin-right: 60px;
  }
  .main_sec {
    max-width: 715px;
  }
  .carousel_navHt img {
    /*height: 120px;*/
  }
  .carousel_hgt {
    height: 418px !important;
  }
  .carousel_hgt iframe {
    height: 418px !important;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 489px !important;
  }
  .carousel_navHt iframe {
    height: 67px;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 67px;
  }
  .carousel_navHt {
    max-width: 92px;
  }
}

@media (max-width: 1440px) {
  .carousel_navHt iframe {
    height: 62px;
  }
  .carousel_hgt {
    height: 373px !important;
  }
  .carousel_hgt iframe {
    height: 373px !important;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 67px;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 436px !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 178px;
  }
}

@media (max-width: 1400px) {
  .navig_ftr li a {
    font-size: 13px;
  }
  .numberBx li {
    font-size: 24px;
  }
  .numberBx::before {
    height: 1px;
  }
  .navigation_bar li a img {
    width: 14px;
  }
  .card h2 {
    font-size: 18px;
  }
  input.form-control {
    padding: 10px 20px;
    font-size: 12px;
  }
  .mycustom .input-group-prepend .btn {
    padding: 7px 14px !important;
  }
  .invoice select.form-control {
    height: 98% !important;
    background-position-x: 87% !important;
    background-size: 12px !important;
    background-position-y: 13px !important;
    font-size: 13px;
  }
  .switch {
    width: 45px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(-20px);
  }
  .nmFld select.form-control {
    padding: 8px 18px !important;
    padding-right: 42px !important;
    background-position-y: 8px !important;
    background-position-x: 91% !important;
    background-size: 12px !important;
  }
  .nmFld input {
    width: 47px;
    padding: 6px 4px;
  }
  .whtBx {
    padding: 30px 55px !important;
  }
  .t_Btn {
    padding: 8px 40px !important;
  }
  .table tr {
    font-size: 13px;
  }
  .table thead th p {
    font-size: 13px;
  }
  .upldBx p {
    font-size: 11px !important;
  }
  .upldBx span a {
    font-size: 9px;
  }
  .upldBx {
    padding: 30px 15px;
  }
  .upld_btn {
    padding: 8px 27px !important;
  }
  header {
    padding: 20px 45px;
  }
  footer {
    padding: 20px 50px;
  }
  .frame {
    width: 100%;
    padding-top: 134px;
  }
  .mtHd h2 {
    padding-left: 10px;
  }
  .top_count li {
    padding-left: 25px;
  }
  .top_count li h3 small {
    font-size: 12px;
  }
  .top_count li h3 a {
    font-size: 14px;
  }
  .top_image {
    width: 34px;
  }
  .certification_wrapper ul li {
    margin-right: 50px;
  }

  .brochureModal h3 {
    margin: 30px 0;
    font-size: 24px;
    text-align: center;
  }
  .brochureModal input.form-control {
    font-size: 15px !important;
  }

  .brochureModal .green_btn {
    margin: 26px 0 28px 0;
  }
  .brochureModal .bxBtn {
    text-align: center;
  }
  .brochureModal .modal-dialog {
    max-width: 580px;
  }
  .cerBx {
    padding: 20px 15px;
  }
  .cerBx label {
    font-size: 13px;
  }
  .logoBx {
    margin-bottom: 30px;
  }
  .carousel_navHt img {
    /*height: 100px;*/
  }

  .carousel_navHt iframe {
    height: 56px;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 56px;
  }
  .carousel_navHt {
    max-width: 75px;
  }
  .carousel_hgt {
    height: 348px !important;
  }
  .carousel_hgt iframe {
    height: 348px !important;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 406px !important;
  }
  .cmnHd {
    font-size: 40px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 155px;
  }
}
@media (max-width: 1280px) {
  .carousel_navHt iframe {
    height: 54px;
  }
  .carousel_hgt {
    height: 328px !important;
  }
  .carousel_hgt iframe {
    height: 328px !important;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 56px;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 383px !important;
  }
  .cerBx {
    padding: 20px 11px;
  }
  .main_sec h6 {
    font-size: 21px;
  }
  .wrkDtl a.cmn{
    font-size: 18px !important;
  }
}

@media (max-width: 1199px) {
  .numberBx li {
    font-size: 22px;
  }
  .top_image {
    width: 42px;
  }
  .top_count li {
    padding-left: 15px;
  }
  .navigation_bar li a {
    font-size: 13px;
  }
  .navigation_bar li a img {
    width: 12px;
  }
  .navig_ftr li a {
    font-size: 11px;
  }
  .btn_card {
    padding: 8px 26px;
  }
  .conDetl h6 {
    font-size: 12px;
  }
  .navig_ftr li a {
    font-size: 10px;
  }
  input.form-control {
    padding: 8px 20px;
    font-size: 11px;
  }
  .whtBx {
    padding: 25px 30px !important;
  }
  .invoice select.form-control {
    height: 96% !important;
    padding: 7px 25px !important;
    background-size: 10px !important;
    font-size: 11px;
    background-position-y: 10px !important;
  }
  .card p {
    font-size: 11px;
  }
  .nmFld label {
    font-size: 11px;
  }
  .nmFld select.form-control {
    font-size: 11px !important;
    padding: 7px 16px !important;
    padding-right: 31px !important;
    background-position-y: 9px !important;
    background-size: 10px !important;
  }
  .nmFld input {
    padding: 6px 4px;
    font-size: 11px;
  }

  .card h2 {
    font-size: 17px;
  }
  .t_Btn {
    padding: 8px 35px !important;
  }
  .mycustom .input-group-prepend .btn {
    padding: 4px 12px !important;
  }
  .mycustom input[type="text"] {
    padding-right: 70px;
  }
  .grBtn {
    width: 124px;
  }
  .filterWrap li .form-control {
    font-size: 10px;
    height: 35px !important;
  }
  .filterWrap li {
    margin-right: 30px;
  }
  .filterWrap li label {
    font-size: 11px;
  }
  .lg {
    width: 24px !important;
  }
  .frame {
    padding-top: 134px;
  }
  .upldBx p {
    font-size: 10px !important;
    margin-bottom: 5px !important;
  }
  .upld_btn {
    padding: 8px 24px !important;
  }
  .selMr {
    margin-left: 6px !important;
  }
  .top_image {
    width: 32px;
  }
  .table tr {
    font-size: 12px;
  }
  .table thead th p {
    font-size: 12px;
  }
  .lstWdth1 {
    width: 25%;
  }
  .lstWdth2 {
    width: 35%;
  }
  .top_count li h3 small {
    font-size: 11px;
  }
  .numberBx {
    margin-left: 15px;
  }
  /* certificate */
  .cmn {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .cerBx label {
    font-size: 12px;
  }
  .cerBx img {
    width: 12px;
  }
  .cerBx {
    padding: 15px;
  }
  .cont_ftr p {
    font-size: 14px;
  }
  .cmnHd {
    font-size: 42px;
    margin-bottom: 25px;
  }
  .cert_header {
    padding: 15px 50px;
  }
  .certificate_wrapper {
    padding: 30px 50px 0 50px;
  }
  .free_accunt {
    padding-top: 50px;
  }
  .certification_wrapper {
    padding: 50px;
  }
  .detail_wrapper {
    padding: 70px 30px 70px 50px;
  }
  .hwItWrk_wrapper {
    padding: 30px 50px 30px 50px;
  }
  .findOutMore {
    padding: 50px 50px 0 50px;
  }
  .cert_footer {
    margin: 0 50px;
  }
  .wrkDtl {
    padding-left: 50px;
  }
  .main_sec h2 {
    font-size: 26px;
  }
  .certification_wrapper ul li img {
    min-width: 87px;
    width: 100px;
    height: 100px;
  }
  .intro_content {
    padding-right: 25px;
  }
  .cnt_right {
    padding-left: 25px;
    padding-right: 0 !important;
  }
  .companyLogo h5 {
    font-size: 16px;
  }
  .main_sec h6 {
    font-size: 16px;
  }
  .main_sec {
    /* max-width: 465px; */
    max-width: 635px;
  }
  .certCntBtn {
    margin-bottom: 50px;
  }
  .certification_wrapper ul {
    margin-top: 50px;
  }
  .green_btn {
    border-radius: 8px;
    font-size: 11px;
    padding: 8px 20px;
  }
  .carousel_navHt img {
    /*height: 90px;*/
  }

  .carousel_navHt iframe {
    height: 41px;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 45px;
  }
  .carousel_navHt {
    max-width: 58px;
    height: 40px;
  }
  .certificate img {
    max-width: 100%;
  }
  .carousel_hgt {
    height: 250px !important;
  }
  .carousel_hgt iframe {
    height: 250px !important;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 292px !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 116px;
  }
  /* certificate */
}

@media (max-width: 991px) {
  .card {
    padding: 25px 20px;
  }
  .btn_card {
    padding: 7px 10px;
    font-size: 11px;
  }
  .navigation_bar li a {
    padding: 15px 16px;
    font-size: 12px;
  }
  .conSidebar footer {
    padding: 20px !important;
  }
  .filterWrap li label {
    margin-right: 15px;
  }
  .cntSd {
    padding: 0 30px;
  }
  .navig_ftr li a {
    font-size: 11px;
  }
  .btm_ftr a {
    font-size: 10px;
    padding: 0px 3px;
  }
  .ftr_img {
    margin-bottom: 5px;
  }
  .top_image {
    width: 30px;
  }
  .frame {
    padding-top: 114px;
    padding-bottom: 30px;
  }
  .filterWrap {
    padding: 0;
  }
  .filterWrap li .form-control {
    font-size: 10px;
    background-position-y: -1px !important;
    height: 27px !important;
    padding: 5px 14px !important;
    padding-right: 31px !important;
  }
  footer {
    padding: 15px 20px;
  }
  header {
    padding: 15px 20px;
  }
  .card h2 {
    font-size: 16px;
  }
  .pdR {
    padding-right: 15px !important;
  }
  .pdL {
    padding-left: 15px !important;
  }
  .whtBx {
    padding: 20px 15px !important;
  }
  .whtBx .bxBtn button {
    margin-top: 9px;
  }
  .mycustom .input-group-prepend .btn {
    font-size: 11px;
    padding: 4px 10px !important;
  }
  .btm_ftr {
    display: unset;
    text-align: left;
  }
  .btm_ftr a {
    display: unset;
  }
  .nmFld li {
    margin-right: 5px;
  }
  .nmFld input {
    padding: 3px 2px;
    font-size: 10px;
    width: 40px;
  }
  .nmFld select.form-control {
    font-size: 10px !important;
    padding: 5px 12px !important;
    background-position-y: 7px !important;
    background-position-x: 91% !important;
    padding-right: 31px !important;
    background-size: 8px !important;
  }
  .mycustom input[type="text"] {
    padding-right: 52px;
  }
  .whtBx .bxBtn button {
    margin-top: 10px;
  }
  input.form-control {
    font-size: 10px;
  }
  .grBtn {
    width: 100px;
  }
  .s_m_downloadbutton {
    background-size: 16px !important;
    background-position: 13px !important;
    padding-left: 30px !important;
  }
  .switch {
    width: 42px;
    height: 14px;
  }
  .slider:before {
    height: 17px;
    width: 17px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(-18px);
  }
  .pd {
    padding-right: 15px;
  }
  .selMr {
    margin-left: 7px !important;
  }
  .nmFld label {
    font-size: 10px;
  }
  .top_count li h3 small {
    font-size: 10px;
  }
  .top_count li h3 a {
    font-size: 12px;
  }
  .numberBx li {
    font-size: 20px;
  }
  .numberBx {
    margin-left: 10px;
  }
  .top_count li {
    padding-left: 10px;
  }
  /* certificate */
  .main_sec {
    padding: 40px;
  }
  .certification_wrapper ul li {
    margin-right: 40px;
  }
  .cmn {
    font-size: 14px;
  }
  .main_sec h2 {
    font-size: 28px;
  }
  .main_sec h6 {
    font-size: 14px;
  }
  .certificate_wrapper {
    padding: 20px 40px 0 40px;
  }
  .cert_content {
    padding-right: 10px;
  }
  .cerBx label {
    font-size: 11px;
  }
  .cerBx img {
    width: 10px;
  }
  .cerBx {
    padding: 10px 8px;
  }
  .cont_ftr h6 {
    font-size: 18px;
  }
  .cont_ftr p {
    font-size: 12px;
  }
  .green_btn {
    font-size: 10px;
    padding: 7px 18px;
    border-radius: 7px;
  }
  .free_accunt {
    padding-top: 40px;
  }
  .free_accunt h2 {
    font-size: 28px;
  }
  .certification_wrapper {
    padding: 40px;
  }
  .detail_wrapper {
    padding: 50px 40px 50px 40px;
  }
  .hwItWrk_wrapper {
    padding: 20px 40px 20px 40px;
  }
  .findOutMore {
    padding: 40px 40px 0 40px;
  }
  .cert_header {
    padding: 15px 40px;
  }
  .cert_footer {
    margin: 0 40px;
  }
  .cmnHd {
    font-size: 34px;
  }
  .main_sec h2 {
    font-size: 26px;
  }
  .main_sec {
    /* max-width: 425px; */
    max-width: 595px;
  }
  .wrkDtl {
    padding-left: 35px;
  }
  .companyLogo h5 {
    font-size: 16px;
  }
  .intro_content {
    padding-right: 15px;
  }
  .cnt_right {
    padding-left: 15px;
    padding-right: 0 !important;
  }
  .certification_wrapper ul li img {
    min-width: 80px;
  }
  /*
  .carousel-control-next-icon {
      width: 20px;
      height: 20px;
  }
  */
  .carousel-control-prev,
  .carousel-control-next {
    width: 35px;
  }
  .certCntBtn {
    margin-bottom: 40px;
  }
  .certification_wrapper h3 {
    font-size: 24px;
  }
  #carousel-thumbs .thumb:after {
    border: 2px solid black;
  }
  .carousel_navHt iframe {
    height: 32px;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 45px;
  }
  .carousel_navHt {
    max-width: 55px;
  }
  .carousel_hgt {
    height: 193px !important;
  }
  .carousel_hgt iframe {
    height: 193px !important;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 289px !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 87px;
  }
  .btm_ftr .adr {
    font-size: 10px;
  }
  .cert_frame {
    padding-top: 61px !important;
  }
  /* certificate */
}

@media (max-width: 960px) {
  .carousel_navHt {
    max-width: 102px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .navBtn {
    display: block;
    font-size: 24px;
    font-weight: bold;
    font-family: "HelveticaBold";
    padding: 0.5rem;
  }
  .MenuBr h6 {
    font-size: 14px;
    font-weight: bold;
    font-family: "HelveticaBold";
    color: #000;
    margin-bottom: 0 !important;
  }
  .MenuBr {
    display: flex !important;
    align-items: center;
  }
  .res_nav {
    display: block !important;
    width: 100%;
  }
  .lgCls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .lgCls .closebtn {
    font-size: 12px;
    font-weight: bold;
    font-family: "HelveticaBold";
  }
  .lgCls .closebtn span {
    font-size: 16px !important;
    margin-left: 3px;
  }
  .sidenav {
    height: 0;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .sidenav a {
    display: block;
    transition: 0.3s;
  }
  .navig_ftr {
    flex-direction: column;
  }
  .navig_ftr li a {
    border: none !important;
    padding: 3px;
  }
  .ftr_img {
    justify-content: center;
  }
  .conDetl {
    flex-direction: column;
    align-items: flex-start;
  }
  .conDetl h6 {
    padding: 0;
    text-align: left;
    margin-bottom: 5px !important;
  }
  .MenuBr button:focus {
    box-shadow: none !important;
  }
  .MenuBr button i {
    font-size: 18px;
  }
  .MenuBr button i:focus {
    outline: none !important;
  }
  .top_count {
    display: none !important;
  }
  header {
    padding: 15px 25px;
  }
  footer {
    padding: 15px 25px;
  }
  .conDetl {
    margin-bottom: 10px;
  }
  .ftr_img img {
    width: 100px;
  }
  .whtBx {
    padding: 25px 70px !important;
  }
  input.form-control {
    padding: 11px 27px;
  }
  .mycustom .input-group-prepend .btn {
    padding: 6px 12px !important;
  }
  .conDetl h6 {
    font-size: 11px;
  }
  .mblMb {
    margin-bottom: 20px;
  }
  .mblRes {
    order: 2;
  }
  .table {
    margin-top: 15px;
  }
  .filter {
    width: 100%;
  }
  .invoice .table {
    margin-bottom: 0;
  }
  .nmFld li {
    margin-right: 10px;
  }
  .nmFld input {
    max-width: 40px;
    padding: 6px 2px;
  }
  .nmFld select.form-control {
    padding: 7px 26px !important;
    padding-right: 34px !important;
    background-position-y: 9px !important;
    background-position-x: 87% !important;
  }
  .t_Btn {
    padding: 8px 40px !important;
  }
  .grBtn {
    width: 95px;
  }
  .filterWrap li {
    margin-right: 10px;
  }
  .upld_btn {
    padding: 8px 28px !important;
  }
  .mtHd {
    justify-content: center;
  }
  .mtHd h2 {
    margin-right: 10px;
  }
  .res_nav .navigation_bar {
    background-color: #439635 !important;
    padding: 15px 10px 210px 10px !important;
  }
  .res_nav .navigation_bar li a {
    font-size: 14px;
    color: #fff !important;
    border: none !important;
  }
  .res_nav .navigation_bar li a.active {
    background-color: #439635 !important;
    color: #fff !important;
  }
  .res_nav .navigation_bar li a img {
    margin-right: 15px;
    width: 16px;
  }
  .lgCls img {
    width: 130px;
  }
  .filter {
    text-align: center;
  }
  .invoice .card {
    padding: 25px 30px !important;
  }
  .mbAlig {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mbAlig p {
    max-width: 223px;
  }
  .resNbrbx::before {
    background-color: #e9e9e8 !important;
  }
  .numberBx li {
    margin: 0 1px;
  }
  .invoice .card ul {
    flex-direction: column;
  }
  .invoice .card ul li {
    width: 100%;
  }
  .lstWdth1 .filter {
    margin-bottom: 25px !important;
  }
  .lstWdth2 .filter {
    margin-bottom: 10px !important;
  }
  .invoice .card ul li {
    padding-right: 0px;
  }
  .cert_content {
    padding-right: 0;
  }
  .wrkDtl {
    padding-left: 0;
  }
  /* certificate */
  .main_sec h2 {
    font-size: 20px;
  }
  .main_sec {
    /* max-width: 339px; */
    max-width: 475px;
  }
  .companyLogo h5 {
    font-size: 14px;
  }
  .main_sec h6 {
    font-size: 12px;
  }
  .detail_wrapper {
    padding: 20px 40px 35px 40px;
  }
  .hwItWrk_wrapper figure {
    text-align: center;
    margin-bottom: 20px !important;
  }
  .hwItWrk_wrapper {
    padding: 40px 40px 20px 40px;
  }
  .findOutMore {
    padding: 20px 40px 0 40px;
  }
  .cmnHd {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .cmn {
    font-size: 12px;
    margin: 10px 0;
  }
  .detail_wrapper button {
    margin-top: 10px;
  }
  .wrkDtl ul li::before {
    width: 12px;
    height: 12px;
    border: 3px solid #000;
  }
  .wrkDtl ul li {
    padding-left: 30px;
  }
  .wrkDtl ul {
    margin-bottom: 20px;
  }
  .cert_footer .ftr_img {
    justify-content: flex-start;
  }
  .cerBx {
    padding: 15px;
  }
  .cert {
    display: flex !important;
  }
  .cert li h3 a {
    font-size: 11px;
  }
  .free_accunt h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .certCntBtn {
    margin-bottom: 30px;
  }
  .cont_ftr {
    margin-bottom: 40px;
  }
  .certification_wrapper h3 {
    font-size: 22px;
  }
  .certification_wrapper ul li img {
    min-width: 60px;
  }
  .intro_wrapper {
    padding: 30px 40px 0 40px;
  }
  .intro_content {
    padding-right: 0;
  }
  .cnt_right {
    padding-left: 0;
  }
  .green_btn {
    font-size: 9px;
    padding: 6px 15px;
    border-radius: 5px;
  }
  header .green_btn {
    font-size: 9px;
    padding: 6px 6px;
    border-radius: 5px;
  }
  .cert li .logImg {
    display: block !important;
    margin-right: 1px !important;
  }
  .certificate {
    padding-top: 30px;
  }
  .cert_frame {
    padding-top: 67px;
  }
  .carousel_navHt iframe {
    height: 46px;
  }
  .carousel_hgt {
    height: 291px !important;
  }
  .carousel_hgt iframe {
    height: 291px !important;
  }
  .mediaOnly .carousel_hgt iframe {
    height: 291px !important;
  }
  .companyLogo img {
    min-width: auto;
    max-width: 200px;
  }
  .carousel_navHt {
    max-width: 71px;
    height: 40px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin: 11px 0;
    top: 136px;
  }
  .position-change {
    order: 2;
  }
  #carousel-thumbs .thumb {
    margin-bottom: 10px;
  }
  .btm_ftr a {
    font-size: 9px;
  }
  .btm_ftr .adr {
    font-size: 9px;
  }
  /* certificate */
}
@media (max-width: 575px) {
  .t_Btn {
    margin-left: 5px;
  }
  .top_image {
    width: 20px;
    padding-right: 0px;
  }
  .btn_card {
    min-width: 83px;
  }
  header {
    padding: 15px 20px;
  }
  footer {
    padding: 15px 20px;
  }
  input.form-control {
    padding: 11px 20px;
  }
  .cntSd {
    padding: 0 20px;
  }
  .card {
    padding: 25px 15px;
  }
  .switch {
    width: 40px;
    height: 14px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
  }
  .mtHd h2 {
    margin-right: 4px;
  }
  input:checked + .slider:before {
    transform: translateX(-17px);
  }
  .nmFld select.form-control {
    padding: 7px 18px !important;
    padding-right: 24px !important;
    background-position-y: 9px !important;
    background-position-x: 89% !important;
  }
  .whtBx {
    padding: 25px 15px !important;
  }
  .upld_btn {
    padding: 8px 30px !important;
  }
  .numberBx {
    margin-left: 10px;
  }
  .numberBx li {
    width: 22px;
  }
  /* certificate */
  .cert_header {
    padding: 15px 30px;
  }
  .certificate_wrapper {
    padding: 0 20px;
  }
  .free_accunt {
    padding-top: 20px;
  }
  .certification_wrapper {
    padding: 20px;
  }
  .detail_wrapper {
    padding: 20px;
  }
  .hwItWrk_wrapper {
    padding: 20px 20px 10px 20px;
  }
  .findOutMore {
    padding: 10px 20px 0 20px;
  }
  .cert_footer {
    margin: 0 20px;
  }
  .companyLogo h5 {
    font-size: 12px;
  }
  .logoBx {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main_sec h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .main_sec h6 {
    font-size: 12px;
  }
  .main_sec {
    padding: 20px;
    max-width: 360px;
  }
  .certCntBtn {
    flex-direction: column;
    margin-bottom: 0;
  }
  .cerBx {
    margin-bottom: 32px;
  }
  .cont_ftr {
    margin-bottom: 30px;
  }
  .certification_wrapper h3 {
    font-size: 20px;
  }
  .certification_wrapper ul li {
    margin-right: 20px;
  }
  .certification_wrapper ul li img {
    min-width: 26px;
    width: 60px;
    height: 60px;
  }
  .cert .lg {
    width: 13px !important;
    margin-right: 7px;
  }
  .cert_frame {
    padding-top: 53px;
  }
  .certification_wrapper ul {
    margin-top: 30px;
  }
  .intro_wrapper {
    padding: 20px 20px 0 20px;
  }
  #carousel-thumbs img {
    width: 100%;
  }
  #carousel-thumbs img:hover {
    width: 100%;
  }

  .brochureModal h3 {
    margin: 16px 0;
    font-size: 14px;
    text-align: center;
  }
  .brochureModal input.form-control {
    font-size: 12px !important;
    padding: 8px 12px;
  }
  .brochureModal .green_btn {
    margin: 10px 0 10px 0;
    font-size: 12px;
  }
  .brochureModal .modal-header {
    padding: 8px;
    padding-bottom: 0;
  }
  .brochureModal .bxBtn {
    text-align: center;
  }
  .certificatepagelinks1.open {
    bottom: -28px;
  }
  .certificate {
    padding-top: 0;
  }

  .carousel_navHt iframe {
    height: 40px;
  }
  .carousel_navHt img {
    height: 40px !important;
  }
  /*.carousel_navHt img {
    height: 80px;
  } */

  .carousel_navHt iframe {
    height: 40px;
  }
  .carousel_navHt {
    max-width: 70px;
  }
  .carousel_navHt iframe {
    height: 40px;
  }
  .carousel_hgt {
    height: 230px !important;
  }
  .carousel_hgt iframe {
    height: auto !important;
    min-height: 230px;
  }
  .mediaOnly .carousel_hgt iframe {
    height: auto !important;
    min-height: 230px;
  }
  .carousel_navHt {
    max-width: 61px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 104px;
    width: 25px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 15px;
    height: 15px;
  }
  .mediaOnly .carousel_navHt iframe {
    height: 40px;
  }
  #btnshare {
    width: 100%;
  }
  .w-hlf {
    width: 100% !important;
  }
  /* certificate */
}

@media (max-width: 360px) {
  .cntSd {
    padding: 0 10px;
  }
  .card {
    padding: 25px 5px;
  }
  .invoice .card {
    padding: 25px 20px !important;
  }
  .grn {
    margin-left: 5px;
  }
  .filterWrap li {
    margin-right: 5px;
  }
  .main_sec {
    max-width: 320px;
  }
  .carousel_navHt img {
    /*height: 60px;*/
  }
  .carousel_navHt iframe {
    height: 40px;
  }
}
.ytp-large-play-button {
  width: 32px !important;
  height: 39px !important;
  margin-left: -17px !important;
  margin-top: -21px !important;
}
@media (max-width: 575px) {
  .carousel.slide .carousel-control-prev,
  .carousel.slide .carousel-control-next {
    top: 0;
    width: 25px;
    bottom: 0 !important;
    margin: auto !important;
  }
}
