@font-face {
    font-family: "regular";
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "medium";
    src: url("../font/Montserrat-Medium.ttf");
}

[v-cloak] {
    display: none;
}

@font-face {
    font-family: "light";
    src: url("../font/Montserrat-Light.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../font/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "robotoregular";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "robotomedium";
    src: url("../font/Roboto-Medium.ttf");
}

@font-face {
    font-family: "robotolight";
    src: url("../font/Roboto-Light.ttf");
}

@font-face {
    font-family: "robotobold";
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "semibold";
    src: url("../font/Montserrat-SemiBold.ttf");
}

body {
    font-family: 'Roboto', arial;
    font-size: 12px;
    background: #e9e9e8;
}
button{
    font-family: 'Roboto', arial;
}
header {
    padding: 30px 45px;
    box-shadow: 0 3px 5px #f3f3f3;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    border-bottom:1px solid #000;
}

.navBtn {
    display: none;
}

.frame {
    width: 100%;
    padding-top: 154px;
    padding-bottom: 40px;
    display: flex;
    min-height: 100vh;
    position: relative;
}

.conSidebar {
    width: 320px;
    background: #fff;
    box-shadow: 0 0 15px #00000014;
}

.conSidebar footer {
    background: #fff !important;
    box-shadow: none !important;
    padding: 30px !important;
    font-size: 10px;
    width: 100%;
}
.cntSd {
    width: 100%;
    padding: 0 40px;
}
footer {
    padding: 30px 65px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 15px #00000014;
    background: #fff;
    border-top:1px solid #000;
}

.s_m_downloadbutton {
    background-image: url(../images/outlook.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 22px !important;
    background-position: 18px !important;
    padding-left: 44px !important;
    min-width: 140px !important;
}

.btn_card {
    float: right;
    border-radius: 50px !important;
    color: #fff;
    background: #926792;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 10px 26px !important;
    min-width: 100px;
}
.v-btn__content {
    color: #fff !important;
}
.btn_card .btn_card:hover {
    background-color: #7d527d !important;
}

.card {
    box-shadow: 0 0 15px #00000014;
    padding: 30px;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}

.cntSd .card {
    border: none !important;
    border-radius: 0 !important;
}

.navigation_bar {
    margin-top: 0 !important;
    padding: 10px !important;
    padding-top: 30px !important;
    list-style: none;
    margin: 0;
}

.navigation_bar li a {
    display: block;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    border-left: solid 5px transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navigation_bar li a.active {
    background: #e9e9e8;
    text-decoration: none;
    border-left: solid 2px #3b7c20;
}

.navigation_bar li a img {
    width: 16px;
    margin-right: 10px;
}

.sdbr_ftr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #d2cfcf;
    padding: 20px;
}
.sdbr_ftr p {
    font-size: 12px;
    color: #868383;
    font-weight: bold;
    margin-bottom: 25px;
}
.filterWrap {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0 !important;
}
.filterWrap li {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.filterWrap li:last-child {
    margin-right: 0 !important;
}
.filterWrap li label {
    margin: 0 18px 0 0;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.time-scale span{
    margin: 0 18px 0 0;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.grn{
    margin-left: 10px;
    background-color:#3b7c20  !important; 
}
.grn:hover{
    background-color:#156414   !important; 
}
.grBtn{
    width: 135px;
}
.upld_btn{
    padding: 10px 35px !important;
    font-weight: 500 !important;
}
.filterWrap li .form-control {
    width: max-content !important;
    height: 36px !important;
    font-size: 12px;
    font-weight: bold;
    border-color: #605d5d;
    color: #5b5959;
    padding: 5px 10px;
}

select.form-control {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    padding: 15px 20px;
    border-radius: 50px;
    background: transparent;
    border: solid 2px #e9e9e8;
    padding: 12px 27px;
    line-height: 1.25 !important;
    height: auto !important;
}


select.form-control {
    border-radius: 50px;
    background: transparent;
    border: solid 2px #cad6ad;
}

.t_Btn {
    background-color: #3b7c20 !important;
    padding:10px 50px !important;
}

.t_Btn:hover {
    background: #156414 !important;
}

.navig_ftr {
    list-style-type: none !important;
    display: flex;
    padding: 0;
    margin: 0;
}

.ftrCnt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.conDetl {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ftr_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}
.ftr_img img {
    width: 200px;
}
.navig_ftr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.numberBx {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding:0 !important;
    position: relative;
}
.numberBx::before {
    content: " ";
    position: absolute;
    bottom: 53%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.numberBx li {
    padding: 5px 12px !important;
    margin: 0 3px;
    font-size: 28px;
    border-radius: 5px;
    background: #eee;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: #4c4b4b;
}
.numberBx li:first-child{
    margin-left: 0 !important;
}
.numberBx li:last-child{
    margin-right: 0 !important;
}
.top_image {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.top_count {
    display: flex !important;
    justify-content: flex-end;
}
.contSec .top_count {
    display: none !important;
}
.contSec {
    width: 100%;
}
.top_count li {
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
}
.top_count li:first-child{
    padding-left: 0;
}
.top_count li h3 {
    font-weight: bold;
    text-align: right;
    color: #3b7c20 ;
    margin-bottom: 0 !important;
}

.top_count li h3 small {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.top_count li h3 button {
    font-size: 18px !important;
    font-weight: 700 !important;
    text-align: right !important;
    color: #000 !important;
    text-decoration: underline !important;
    display: block;
    padding: 0 !important;
    background: none !important;
    box-shadow: none;
    height: auto !important;
    min-width: auto !important;
}
.top_count li h3 button .v-btn__content {
    color: #000 !important;
}
.navig_ftr li:last-child {
    padding-right: 0 !important;
    border: none !important;
}

.navig_ftr li:last-child a {
    border: none !important;
}

.navig_ftr li:first-child a {
    padding-left: 0 !important;
}

.navig_ftr li a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 0 6px;
    border-right: 1px solid #000;
}
.btm_ftr {
    list-style-type: none !important;
    display: flex;
    padding: 0;
    margin: 0;
}
.btm_ftr a {
    color: #000 !IMPORTANT;
    font-size: 10px;
    font-weight: 500;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #000;
}

.btm_ftr a:hover {
    text-decoration: none;
}
.btm_ftr a span {
    font-weight: bold;
}

.navig_ftr li a:hover {
    text-decoration: none;
}
.conDetl h6 {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    padding-right: 15px;
    margin-bottom: 0 !important;
}

.conDetl h6 span {
    font-weight: bold;
}
.lg {
    width: 26px !important;
}
.card h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3b7c20 ;
    margin-bottom: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.form-control{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', arial;
    color: #333;
    border-radius: 50px;
    background: transparent;
    border: solid 2px #e9e9e8;
    padding: 14px 27px;
}
.v-input input {
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'Roboto', arial;
    color: #333 !important;
    border-radius: 50px !important;
    background: transparent !important;
    border: solid 2px #e9e9e8 !important;
    padding: 14px 27px !important;
}
.v-input .v-label {
    height: auto  !important;
    font-size: 14px !important;
    padding-left: 15px;
}
.v-select__selection.v-select__selection--comma {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 20px!important;
    font-size: 14px !important;
    z-index: 1 !important;
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
}

.v-input input::-webkit-input-placeholder {
    font-size: 14px;
    color: #333;   
}

.v-input input:-ms-input-placeholder { 
    font-size: 14px;
    color: #333;   
}

.v-input input::placeholder {
    font-size: 14px;
    color: #333;  
}
.v-input input:focus {
    color: #464a4c !important;
    background-color: #fff !important;
    border-color: #e9e9e8 !important;
    outline: none !important;
}
.whtBx {
    padding: 30px 80px !important;
    text-align: center;
}
.whtBx .bxBtn {
    display: flex;
    justify-content: center;
}
.pdL {
    padding-left: 7px !important;
}
.pdR {
    padding-right: 7px !important;
}
.whtBx .bxBtn button {
    margin-top: 15px;
}
.mycustom {
    position: relative;
}
.mycustom .v-input {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.mycustom input[type="text"] {
    width: 100%;
    padding-right: 85px;
    border-radius: 50px !important;
}
.mycustom .input-group-prepend {
    position: absolute;
    right: 6px;
    top: 4px;
    bottom: 4px;
    z-index: 9;
}
.mycustom .input-group-prepend .btn {
    float: right !important;
    border-radius: 50px !important;
    color: #fff !important;
    background: #3b7c20  !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    padding: 12px 20px !important;
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 15px !important;
    margin: 1px 0px !important;
}
.mycustom .input-group-prepend .btn:hover{
    background: #156414  !important;
}
.v-input input::placeholder {
    color: #a9a7a7;
    font-weight: 600;
}
.ltrBld .form-group input::placeholder {
    color: #000 !important;
}
.table {
    border-collapse: separate;
    border-spacing: 0 0.6em;
}
.table tr {
    background: #fff;
    box-shadow: 0 0 10px #eaeaea;
    font-size: 14px;
    font-family: "robotobold";
}
.theader {
    background: transparent !important;
    text-transform: uppercase;
    box-shadow: none !important;
    height: 14px;
}
.theader th {
    padding: 0 0.75rem;
}
.table thead th {
    border: none;
}
.table thead th p{
    width: max-content;
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 0!important;
}
.table tbody tr th {
    font-weight: bold;
}
.deleteBtn {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding: 1px;
    background-color: #f3ccd0;
}
.deleteBtn img {
    width: 12px;
    height: 15px;
}
.rushBn {
    padding: 0 !important;
    height: 0px;
}
.deleteBtn img:focus {
    outline: 0 !important;
}
.deleteBtn:focus {
    outline: 0 !important;
}
.upldBx  {
    padding:50px 20px;
}
.upldBx p {
    margin-bottom: 10px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color:#868383 !important;
}
.upldBx span {
    margin-bottom: 20px;
}
.upldBx span a {
    font-size: 12px;
    text-decoration: underline;
    color: #3b7c20 ;
    font-weight: bold;
}
.invoice select.form-control {
    height: 98% !important;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 15px 20px;
    border-radius: 50px;
    background: transparent;
    border: solid 2px #000;
    padding: 15px 25px !important;
    line-height: 1.25 !important;
    -moz-appearance:none !important; /* Firefox */
    -webkit-appearance:none !important; /* Safari and Chrome */
    appearance:none !important;
    background-image: url(../images/drop-down-arrow.svg) !important;
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    background-position-x: 92% !important;
    background-position-y: 14px !important;
}
.filter {
    margin-bottom: 0 !important;
}
.form-control{
    font-family: 'Roboto', arial;
}
.nmFld{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:0;
}
.nmFld li{
    text-align: center;
    margin-right: 10px;
}
.nmFld label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #3b7c20 ;
}
.nmFld input{
    width: 58px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', arial;
    color: #333;
    border-radius: 50px;
    background: transparent;
    border: solid 2px #e9e9e8;
    padding: 10px 8px;
    text-align: center;
}
.nmFld input:focus{
    outline: none !important;
}
.card p{
    font-size: 12px;
    color:#000;
    font-weight: 500;
    margin-bottom: 20px;
}
.nmFld select.form-control{
    font-size: 12px !important;
    font-weight: bold !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-image: url(../images/down-arrow.svg) !important;
    background-repeat: no-repeat !important;
    background-position-x: 91% !important;
    background-position-y: 13px !important;
    background-size: 14px !important;
    padding: 12px 27px !important;
    padding-right: 42px !important;
}
.selMr{
    margin-left: 12px !important;
}

.switch {
    width: 55px;
    height: 18px;
    position: relative;
    display: inline-block;
    margin-bottom: 0 !important;
}
.switch input {
    display:none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c80707;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #ccbcbc;
}
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    right: -2px;
    border: 4px solid #fff;
    background: linear-gradient(#e8e8e8,#fff);
    box-shadow: 0 2px 6px #0000004a;
    top: -3px;
}
input:checked + .slider {
    background-color: #3b7c20 ;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(-28px);
}
input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{
    display: none;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.mtHd{
    justify-content: space-between;
}
.mtHd h2{
    padding-left: 80px;
}

.pd{
    padding-right: 0;
}
.filterWrap li .form-control{
    -moz-appearance:none !important; /* Firefox */
    -webkit-appearance:none !important; /* Safari and Chrome */
    appearance:none !important;
    background: transparent !important;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-repeat: no-repeat !important;
    background-position-x: 92% !important;
    background-position-y: 4px !important;
    padding: 5px 20px !important;
    padding-right: 40px !important;
}
.yesBadge{
    text-transform:uppercase;
}
.invoice .card ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 !important;
}
.invoice .card ul li{
    padding-right: 15px;
}
.invoice .card ul li:last-child{
    padding-right: 0 !important;
}
.lstWdth1{
    width: 20%;
}
.lstWdth2{
    width: 40%;
}
.lstWdth3{
    width: 40%;
}

/* hide arrow from number type input filed-setup */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
/* hide arrow from number type input filed-setup */



/*new styles*/



.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    width: 100%;
    padding: 0 15px;
}
.v-text-field>.v-input__control>.v-input__slot:after, .v-text-field>.v-input__control>.v-input__slot:before {
    display: none;
}
.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #3b7c20!important;
}
.v-btn:not(.v-btn--round).v-size--default {
    height: auto !important;
    min-width: auto;
}
.v-input input {
    max-height: initial !important;
}
.v-input__append-inner {
    position: absolute !important;
    right: 10px !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    height: 24px !important;
}
.invoiceHistory .v-input{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.invoiceHistory .v-input__append-inner{
    display: none !important;    
}
.v-input__append-inner {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    top: 0 !important;
    display: flex !important;
    align-items: center !important;
}
.invoice .v-select__selections {
    min-width: 52px !important;
}
.filterWrap .v-input__slot{
    margin-bottom: 0 !important;
}
.filterWrap input{
    height: 36px !important;
    border-color: #605d5d !important;
    color: #5b5959 !important;
    width: 130px !important;
    font-weight: bold !important;
}
.filterWrap .v-input{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.pwdSection .v-input__append-inner {
    right: 10px!important;
    height: 24px!important;
}
.v-btn--contained {
    box-shadow: none !important;
}


.frameMob{
    padding-top: 85px;
}
.frameMob .conSidebar {
    width: 100%;
}
.frameMob {
    display: none;
}
.MenuBr{
    display: none;
}


/*new styles*/

@media (max-width: 1800px) {
    .card h2 {
        font-size: 22px;
    }
    .v-input input {
        font-size: 13px !important;
        padding: 12px 27px !important;
    }
    .v-select__selection.v-select__selection--comma {
        font-size: 13px !important;
    }
    .v-input .v-label {
        font-size: 13px !important;
    }
    .v-input input::-webkit-input-placeholder {
        font-size: 13px;
    }

    .v-input input:-ms-input-placeholder { 
        font-size: 13px;
    }

    .v-input input::placeholder {
        font-size: 13px;
    }
    .whtBx {
        padding: 30px 70px !important;
    }
    .mycustom .input-group-prepend .btn{
        padding: 11px 18px !important;
        height: 37px !important;
    }
    .invoice select.form-control {
        background-position-x: 90% !important;
        background-position-y: 16px !important;
    }

    .selMr {
        margin-left: 10px !important;
    }
}

@media (max-width: 1600px) {
    .card h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .v-input input {
        font-size: 12px !important;
        padding: 11px 27px !important;
    }
    .v-select__selection.v-select__selection--comma {
        font-size: 12px !important;
    }
    .v-input .v-label {
        font-size: 12px !important;
    }
    .v-input input::-webkit-input-placeholder {
        font-size: 12px;
    }

    .v-input input:-ms-input-placeholder { 
        font-size: 12px;
    }

    .v-input input::placeholder {
        font-size: 12px;
    }
    .whtBx {
        padding: 30px 65px !important;
    }
    .mycustom .input-group-prepend .btn {
        padding: 11px 16px!important;
    }
    .t_Btn {
        padding: 10px 45px !important;
    }
    .top_count li h3 small {
        font-size: 14px;
    }
    .numberBx li {
        padding: 2px 10px !important;
        margin: 0 2px;
        font-size: 26px;
    }
    .top_count li h3 button {
        font-size: 16px !important;
    }
    .lg {
        width: 24px !important;
    }
    .btn_card{
        font-size: 11px !important;
    }
    .filterWrap li .form-control {
        font-size: 11px;
    }
    .filterWrap li label {
        font-size: 13px;
    }
    .time-scale span{
        font-size: 13px;
    }
    .grBtn {
        width: 132px;
    }
    .conDetl h6{
        font-size: 13px;
    }
    .navig_ftr li a{
        font-size: 13px;
        padding: 0 4px;
    }
    .upldBx p {
        font-size: 12px !important;
    }
    .upldBx span a {
        font-size: 10px;
    }
    .upld_btn {
        padding: 10px 32px !important;
    }
    header {
        padding: 25px 45px;
    }
    footer {
        padding: 25px 50px;
    }
    .switch {
        width: 50px;
        height: 16px;
    }
    .slider:before {
        height: 19px;
        width: 19px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(-25px);
    }
    .mtHd h2 {
        padding-left: 45px;
    }
    .invoice select.form-control {
        padding: 9px 25px !important;
        background-position-x: 88% !important;
        background-position-y: 13px !important;
        background-size: 13px !important;
    }
    .selMr {
        margin-left: 8px !important;
    }
    .nmFld select.form-control {
        font-size: 11px !important;
        padding: 11px 27px !important;
        background-position-y: 11px !important;
        padding-right: 37px !important;
        background-position-x: 90% !important;
    }
    .nmFld input {
        font-size: 11px;
    }
    .top_image {
        width: 36px;
    }
}

@media (max-width: 1400px) {
    .navig_ftr li a {
        font-size: 13px;
    }
    .numberBx li {
        font-size: 24px;
    }
    .numberBx::before {
        height: 1px;
    }
    .navigation_bar li a img {
        width: 14px;
    }
    .sdbr_ftr p {
        font-size: 11px;
    }
    .conDetl h6 {
        font-size: 13px;
    }
    .card h2 {
        font-size: 18px;
    }
    .v-input input {
        padding: 10px 20px !important;
        font-size: 12px !important;
    }
    .v-select__selection.v-select__selection--comma {
        font-size: 12px !important;
    }
    .v-input .v-label {
        font-size: 12px !important;
    }
    .mycustom .input-group-prepend .btn {
        padding: 10px 14px !important;
        height: 34px !important;
    }
    .invoice select.form-control {
        height: 98% !important;
        background-position-x: 87% !important;
        background-size: 12px !important;
        background-position-y: 13px !important;
        font-size: 13px;
    }
    .switch {
        width: 45px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(-20px);
    }
    .nmFld select.form-control {
        padding: 8px 18px !important;
        padding-right: 42px !important;
        background-position-y: 8px !important;
        background-position-x: 91% !important;
        background-size: 12px !important;
    }
    .nmFld input{
        width: 47px;
        padding: 6px 4px;
    }
    .whtBx {
        padding: 30px 55px !important;
    }
    .t_Btn {
        padding: 8px 40px !important;
    }
    .table tr {
        font-size: 13px;
    }
    .table thead th p{
        font-size: 13px;
    }
    .upldBx p {
        font-size: 11px !important;
    }
    .upldBx span a {
        font-size: 9px;
    }
    .upldBx {
        padding: 30px 15px;
    }
    .upld_btn {
        padding: 8px 27px !important;
    }
    header {
        padding: 20px 45px;
    }
    footer {
        padding: 20px 50px;
    }
    .frame {
        width: 100%;
        padding-top: 134px;
    }
    .mtHd h2 {
        padding-left: 10px;
    }
    .top_count li {
        padding-left: 25px;
    }
    .top_count li h3 small {
        font-size: 12px;
    }
    .top_count li h3 button {
        font-size: 14px !important;
    }
    .top_image {
        width: 34px;
    }
}

@media (max-width: 1199px) {
    .numberBx li {
        font-size: 22px;
    }
    .top_image {
        width: 42px;
    }
    .top_count li {
        padding-left: 15px;
    }
    .navigation_bar li a {
        font-size: 13px;
    }
    .navigation_bar li a img {
        width: 12px;
    }
    .navig_ftr li a {
        font-size: 11px;
    }
    .btn_card {
        padding: 8px 26px !important;
    }
    .conDetl h6 {
        font-size: 12px;
    }
    .navig_ftr li a {
        font-size: 10px;
    }
    .v-input input {
        padding: 8px 20px !important;
        font-size: 11px !important;
    }
    .v-select__selection.v-select__selection--comma {
        font-size: 11px !important;
    }
    .v-input .v-label {
        font-size: 11px !important;
    }
    .v-input input::-webkit-input-placeholder {
        font-size: 11px;
    }

    .v-input input:-ms-input-placeholder { 
        font-size: 11px;
    }

    .v-input input::placeholder {
        font-size: 11px;
    }
    .whtBx {
        padding: 25px 30px !important;
    }
    .invoice select.form-control {
        height: 96% !important;
        padding: 7px 25px !important;
        background-size: 10px !important;
        font-size: 11px;
        background-position-y: 10px !important;
    }
    .card p {
        font-size: 11px;
    }
    .nmFld label {
        font-size: 11px;
    }
    .nmFld select.form-control {
        font-size: 11px !important;
        padding: 7px 16px !important;
        padding-right: 31px !important;
        background-position-y: 9px !important;
        background-size: 10px !important;
    }
    .nmFld input {
        padding: 6px 4px;
        font-size: 11px;
    }

    .card h2 {
        font-size: 17px;
    }
    .t_Btn {
        padding: 8px 35px !important;
    }
    .mycustom .input-group-prepend .btn {
        padding: 8px 12px!important;
        height: 30px !important;
    }
    .mycustom input[type="text"] {
        padding-right: 70px;
    }
    .grBtn {
        width: 124px;
    }
    .filterWrap li .form-control {
        font-size: 10px;
        height: 35px !important;
    }
    .filterWrap li {
        margin-right: 30px;
    }
    .filterWrap li label {
        font-size: 11px;
    }
    .time-scale span{
        font-size: 11px;
    }
    .lg {
        width: 24px !important;
    }
    .frame {
        padding-top: 134px;
    }
    .upldBx p {
        font-size: 10px !important;
        margin-bottom: 5px !important;
    }
    .upld_btn {
        padding: 8px 24px !important;
    }
    .selMr {
        margin-left: 6px !important;
    }
    .top_image {
        width: 32px;
    }
    .table tr {
        font-size: 12px;
    }
    .table thead th p {
        font-size: 12px;
    }
    .lstWdth1{
        width: 25%;
    }
    .lstWdth2{
        width: 35%;
    }
    .top_count li h3 small {
        font-size: 11px;
    }
    .numberBx {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {


    .sdbr_ftr p {
        font-size: 9px;
    }
    .conSidebar {
        width: 230px;
    }
    .card {
        padding: 25px 20px;
    }
    .btn_card {
        padding: 7px 10px !important;
        font-size: 11px !important;
    }
    .navigation_bar li a {
        padding: 15px 16px;
        font-size: 12px;
    }
    .conSidebar footer {
        padding: 20px !important;
    }
    .filterWrap li label {
        margin-right: 15px;
    }
    .time-scale span{
        margin-right: 15px;
    }
    .cntSd {
        padding: 0 30px;
    }
    .navig_ftr li a {
        font-size: 11px;
    }
    .btm_ftr a {
        font-size: 9px;
        padding: 0px 3px;
    }
    .ftr_img {
        margin-bottom: 5px;
    }
    .top_image {
        width: 30px;
    }
    .frame {
        padding-top: 114px;
        padding-bottom: 30px;
    }
    .filterWrap {
        padding: 0;
    }
    .filterWrap li .form-control {
        font-size: 10px;
        background-position-y: -1px !important;
        height: 27px !important;
        padding: 5px 14px !important;
        padding-right: 31px !important;
    }
    footer {
        padding: 15px 20px;
    }
    header {
        padding: 15px 20px;
    }
    .card h2 {
        font-size: 16px;
    }
    .pdR {
        padding-right: 15px !important;
    }
    .pdL {
        padding-left: 15px !important;
    }
    .whtBx {
        padding: 20px 15px !important;
    }
    .whtBx .bxBtn button {
        margin-top: 9px;
    }
    .mycustom .input-group-prepend .btn {
        font-size: 11px !important;
        padding: 8px 12px!important;
    }
    .btm_ftr {
        display: unset;
        text-align: left;
    }
    .btm_ftr a {
        display: unset;
    }
    .nmFld li{
        margin-right: 5px;
    }
    .nmFld input {
        padding: 3px 2px;
        font-size: 10px;
        width: 40px;
    }
    .nmFld select.form-control {
        font-size: 10px !important;
        padding: 5px 12px !important;
        background-position-y: 7px !important;
        background-position-x: 91% !important;
        padding-right: 31px !important;
        background-size: 8px !important;
    }
    .mycustom input[type="text"] {
        padding-right: 52px;
    }
    .whtBx .bxBtn button {
        margin-top: 10px;
    }
    .v-input input {
        font-size: 10px !important;
    }
    .v-select__selection.v-select__selection--comma {
        font-size: 10px !important;
    }
    .v-input .v-label {
        font-size: 10px !important;
    }
    .v-input input::-webkit-input-placeholder {
        font-size: 10px;
    }

    .v-input input:-ms-input-placeholder { 
        font-size: 10px;
    }

    .v-input input::placeholder {
        font-size: 10px;
    }
    .grBtn {
        width: 100px;
    }
    .sdbr_ftr {
        padding: 20px 15px;
    }
    .s_m_downloadbutton {
        background-size: 16px !important;
        background-position: 13px !important;
        padding-left: 30px !important;
    }
    .switch {
        width: 42px;
        height: 14px;
    }
    .slider:before {
        height: 17px;
        width: 17px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(-18px);
    }
    .pd {
        padding-right: 15px;
    }
    .selMr {
        margin-left: 7px !important;
    }
    .nmFld label {
        font-size: 10px;
    }
    .top_count li h3 small {
        font-size: 10px;
    }
    .top_count li h3 button {
        font-size: 12px !important;
    }
    .numberBx li {
        font-size: 20px;
    }
    .numberBx {
        margin-left: 10px;
    }
    .top_count li {
        padding-left: 10px;
    }

    /*new styles*/
    .filterWrap input{
        height: 29px !important;
    }
    /*new styles*/
}

@media (max-width: 767px) {

    .MenuBr{
        display: block;
    }
    .top_count{
        display: none;
    }
    .frame .conSidebar {
        display: none;
    }
    .frameMob {
        display: block;
    }

    .navBtn {
        display: block;
        font-size: 24px;
        font-family: bold;
        padding: 0.5rem;
    }
    .MenuBr h6 {
        font-size: 14px;
        font-family: "bold";
        color: #000;
        margin-bottom: 0 !important;
    }
    .MenuBr {
        display: flex !important;
        align-items: center;
    }
    .conSidebar {

    }
    .res_nav {

    }
    .lgCls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .lgCls .closebtn{
        font-size: 12px;
        font-family: bold;
    }
    .lgCls .closebtn span{
        font-size: 16px !important;
        margin-left: 3px;
    }
    .sidenav {
        height: 0;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .sidenav a {
        display: block;
        transition: 0.3s;
    }
    .navig_ftr {
        flex-direction: column;
    }
    .navig_ftr li a {
        border: none !important;
        padding: 3px;
    }
    .ftr_img {
        justify-content: center;
    }
    .conDetl {
        flex-direction: column;
        align-items: flex-start;
    }
    .conDetl h6 {
        padding: 0;
        text-align: left;
        margin-bottom: 5px !important;
    }
    .MenuBr button:focus {
        box-shadow: none !important;
    }
    .MenuBr button i {
        font-size: 18px;
    }
    .MenuBr button i:focus {
        outline: none !important;
    }
    .contSec {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .contSec .top_count {
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 15px !important;
    }
    .contSec .filterWrap li {
        flex-direction: column;
    }
    .contSec .filterWrap li label {
        margin-bottom: 6px;
        margin-right: 0!important;
    }
    .time-scale span{
        margin-bottom: 6px;
        margin-right: 0!important;
    }
    .contSec .numberBx li {
        background-color: #fff;
        box-shadow: 0 0 15px #00000014;
    }
    .contSec .top_count li {
        padding-left: 30px;
    }
    .contSec .filterWrap {
        justify-content: center;
    }
    .top_count {
        display: none !important;
    }
    .contSec .top_count li:last-child {
        margin-right: 0 !important;
    }
    header {
        padding: 15px 25px;
    }
    footer {
        padding: 15px 25px;
    }
    .conDetl {
        margin-bottom: 10px;
    }
    .ftr_img img {
        width: 100px;
    }
    .whtBx {
        padding: 25px 70px !important;
    }
    .v-input input {
        padding: 6px 27px!important;
    }
    .mycustom .input-group-prepend .btn {
        padding: 6px 12px !important;
        height: 26px !important;
    }
    .conDetl h6 {
        font-size: 11px;
    }
    .mblMb {
        margin-bottom: 20px;
    }
    .mblRes {
        order: 2;
    }
    .table {
        margin-top: 15px;
    }
    .filter {
        width: 100%;
    }
    .invoice .table {
        margin-bottom: 0;
    }
    .nmFld li {
        margin-right: 10px;
    }
    .nmFld input {
        max-width: 40px;
        padding: 6px 2px;
    }
    .nmFld select.form-control {
        padding: 7px 26px !important;
        padding-right: 34px !important;
        background-position-y: 9px !important;
        background-position-x: 87% !important;
    }
    .t_Btn {
        padding: 8px 40px !important;
    }
    .grBtn {
        width: 95px;
    }
    .filterWrap li {
        margin-right: 10px;
    }
    .upld_btn {
        padding: 8px 28px !important;
    }
    .mtHd{
        justify-content: center;
    }
    .mtHd h2{
        margin-right: 10px;
    }
    .res_nav .navigation_bar{
        background-color: #3b7c20  !important;
        padding: 15px 10px 210px 10px !important;
    }
    .res_nav .navigation_bar li a{
        font-size: 14px;
        color:#fff !important;
        border:none !important;
    }
    .res_nav .navigation_bar li a.active{
        background-color: #3b7c20 !important;
        color:#fff !important;
    }
    .res_nav .navigation_bar li a img{
        margin-right: 15px;
        width: 16px;
    }
    .lgCls img{
        width: 130px;
    }
    .filter{
        text-align: center;
    }
    .invoice .card{
        padding: 25px 30px !important;
    }
    .mbAlig{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mbAlig p{
        max-width: 223px;
    }
    .resNbrbx::before{
        background-color: #e9e9e8  !important;
    }
    .numberBx li {
        margin: 0 1px;
    }
    .invoice .card ul{
        flex-direction: column;
    }
    .invoice .card ul li{
        width: 100%;
    }
    .lstWdth1 .filter{
        margin-bottom: 25px !important;
    }
    .lstWdth2 .filter{
        margin-bottom: 10px !important;
    }
    .invoice .card ul li {
        padding-right: 0px;
    }

    /*new styles*/
    .v-application ol, .v-application ul {
        padding-left: 0 !important;
    }
    .filterWrap input{
        width: 75px!important;
    }

    /*new styles*/

}
@media (max-width: 575px) {
    .t_Btn {
        margin-left: 5px;
    }
    .top_image {
        width: 20px;
        padding-right: 0px;
    }
    .contSec .top_count li {
        padding-left: 15px;
    }
    .btn_card {
        min-width: 83px !important;
    }
    header {
        padding: 15px 20px;
    }
    footer {
        padding: 15px 20px;
    }
    .v-input input {
        padding: 6px 27px!important;
    }
    .cntSd {
        padding: 0 20px;
    }
    .card {
        padding: 25px 15px;
    }
    .switch {
        width: 40px;
        height: 14px;
    }
    .slider:before {
        height: 16px;
        width: 16px; 
    }
    .mtHd h2 {
        margin-right: 4px;
    }
    input:checked + .slider:before {
        transform: translateX(-17px);
    }
    .nmFld select.form-control {
        padding: 7px 18px !important;
        padding-right: 24px !important;
        background-position-y: 9px !important;
        background-position-x: 89% !important;
    }
    .whtBx {
        padding: 25px 15px !important;
    }
    .upld_btn {
        padding: 8px 30px !important;
    }
    .numberBx {
        margin-left: 10px;
    }
    .numberBx li{
        width: 22px;
    }
    .contSec .top_count li:first-child{
        padding-left:0 !important;
    }
    .contSec .resNbrbx li:first-child{
        padding-left:10px !important;
    }
}

@media (max-width: 360px) {
    .cntSd {
        padding: 0 10px;
    }
    .card {
        padding: 25px 5px;
    }
    .invoice .card{
        padding: 25px 20px !important;
    }
    .grn{
        margin-left: 5px;
    }
    .filterWrap li {
        margin-right: 5px;
    }
}

/* ------------by divya------------------ */
.frame, .v-application--wrap {
    display: flex;
    position: relative;
}
.v-application--wrap {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0vh;
    max-width: 100%;
    position: relative;
}
.v-application {
    background: #e9e9e8 !important;
}
.v-data-table .v-data-footer .v-select__selections input{
    height: 36px !important;
}
.time-scale .v-text-field__details{
    display: none;
}
