<template>
  <div>
    <div class="text-left" data-app>
      <v-div
        :disabled="contents.length === 0"
        tag="div"
        class="reorder-btn"
        @click.stop="openDrawer"
        style="cursor: pointer"
      >
        <!--  <i class="fa fa-sort" aria-hidden="true"></i> -->
        Re-order contents
      </v-div>
      <v-row justify="center">
        <v-dialog
          v-model="isDrawerOpen"
          persistent
          width="500"
          style="z-index: 1600"
        >
          <div style="position: relative; overflow: hidden">
            <button
              type="button"
              class="close close-btn"
              @click="isDrawerOpen = false"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <v-card>
              <div>
                <h5 class="textCenter">
                  Drag sections below to re-order your content
                </h5>
              </div>
              <div style="csr-content-list">
                <div
                  class="my-2"
                  v-if="!(contents.length > 1)"
                  style="padding: 3px"
                >
                  <center>
                    <v-alert dense outlined type="error"
                      >Please ensure you've saved multiple CSR contents</v-alert
                    >
                  </center>
                </div>
                <draggable
                  v-if="contents.length > 1"
                  :component-data="initDraggableEvents()"
                >
                  <v-list-item
                    dense
                    v-for="item in contents"
                    :key="item.content_index"
                    class="csr-content-list-item"
                    :id="item.id"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="item.csr_title"
                      ></v-list-item-title>
                      <!-- <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle> -->
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-chip class="ma-2" x-small>{{
                        "Content " + item.content_index
                      }}</v-chip>
                    </v-list-item-action>
                  </v-list-item>
                </draggable>
              </div>
              <!-- <v-divider v-if="contents.length"></v-divider> -->

              <v-card-actions style="display: block">
                <!-- <v-spacer></v-spacer> -->
                <!-- <v-btn
                rounded
                class="csr-order-btn"
                style="background:darkgrey"
                @click="isDrawerOpen = false"
                >Close</v-btn>-->
                <center>
                  <v-btn
                    class="csr-order-btn"
                    rounded
                    color="success"
                    dark
                    v-if="contents.length > 1"
                    @click="saveOrder()"
                    >Save</v-btn
                  >
                </center>
              </v-card-actions>
            </v-card>
            <div
              v-if="loading"
              style="
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: #eeeeee;
                opacity: 0.7;
              "
            >
              <center>
                <v-progress-circular
                  :size="70"
                  :width="7"
                  color="green"
                  indeterminate
                  style="
                    color: green;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                  "
                ></v-progress-circular>
              </center>
            </div>
          </div>
        </v-dialog>
      </v-row>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
export default {
  name: "ContentReorder",
  components: {
    draggable,
  },
  data() {
    return {
      loading: true,
      contents: [],
      isDrawerOpen: false,
      value: 0,
      query: false,
      show: true,
      interval: 0,
    };
  },
  methods: {
    openDrawer() {
      this.isDrawerOpen = true;
      this.fetchContents();
    },
    async fetchContents() {
      this.loading = true;
      let csrSettings = await this.$axios.get("AUTH_URL/v1/getCsrSetting");
      this.contents = csrSettings?.data?.contentSettings
        ? csrSettings.data.contentSettings
        : [];
      this.loading = false;
    },
    async saveOrder() {
      let currentOrder = this.contents;
      currentOrder.forEach((content, index) => {
        // console.log("savee", { content, index: index + 1 });
        content.target_index = index + 1;
      });
      // console.log("upl-prv", currentOrder);
      this.loading = true;
      await this.$axios
        .post("AUTH_URL/v1/reorderCsrContent", { csr_contents: currentOrder })
        .then(async (response) => {
          // console.log("reorder success-", response);
          //success
          this.sendNotification("success", "Order updated successfully");
          this.$emit("onOrderchange", true);
          //onsuccessfull save refetch content
          await this.fetchContents();
          this.loading = false;
          this.isDrawerOpen = false;
        })
        .catch((e) => {
          //ff
          console.log("reorder-err-", e);
          this.sendNotification("error", "Unable to update settings");
          this.loading = false;
        });
    },
    sendNotification(type, message) {
      this.$emit("showNotification", { type, message });
    },
    handleChange(e) {
      // console.log("changed", e);
      if (!(e.clone && e.clone.id)) {
        return;
      }
      // load source item from clone to catch multishift dragNdrop
      var sourceItem = e.clone.id;
      //destination to drop
      var destinationIndex = e.newIndex;
      var currentContentOrder = this.contents;
      var sourceIndex = currentContentOrder.findIndex(
        (element) => element.id === Number(sourceItem)
      );
      var contentToShift = currentContentOrder[sourceIndex];
      //perform order shift if there is a position change
      // console.log("list\n ", {
      //   sourceIndex,
      //   contentToShift,
      //   destinationIndex,
      //   currentContentOrder,
      //   sourceItem,
      // });
      if (sourceIndex === -1) return;
      if (sourceIndex !== destinationIndex) {
        //shift the position of content indexes
        currentContentOrder.splice(sourceIndex, 1);
        currentContentOrder.splice(destinationIndex, 0, contentToShift);
        this.contents = currentContentOrder;
        // console.log("current-order", currentContentOrder);
      }
    },
    initDraggableEvents() {
      return {
        on: {
          change: this.handleChange,
        },
      };
    },
  },
  created() {
    this.loading = true;
    this.fetchContents();
  },
};
</script>

<style scoped>
.textCenter {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.csr-content-list-item {
  border: 1px solid #eeeeee;
  cursor: pointer;
  max-height: 30px;
}
.csr-content-list {
  padding: 10px;
}
/* .reorder-btn {
  margin-top: 16px;
  color: white !important;
  border: 1px solid #eeeeee !important;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  background-color: #926791;
  border-radius: 50px;
  width: fit-content;
} */
.csr-order-btn {
  padding: 6px;
  text-transform: none;
  font-size: 12px;
  min-height: 27px;
}

.close-btn {
  z-index: 1605;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid grey;
  border-radius: 17px;
  width: 26px;
  outline: none;
}
</style>
