<template>
  <v-app>
    <div>
      <!-- <Header></Header> -->

      <v-main>
        <nuxt />
      </v-main>

      <TheSnackbar />
    </div>
  </v-app>
</template>

<script>
//import Header from "~/components/Header.vue";
import Footer from "../components/Footer.vue";
import TheSnackbar from "../components/TheSnackbar.vue";

export default {
  components: {
    Footer,
    TheSnackbar,
  },
};
</script>

<style></style>
