<template>
  <v-app>
    <div>
      <header>
        <div class="container">
          <div class="row justify-content-between">
            <div
              class="col-md-3 col-12 d-flex align-items-center justify-content-between"
            >
              <a
                cols="6"
                href="https://sustainable-meeting.com"
                id="forgotmainlogo"
                target="_blank"
              >
                <img
                  src="../assets/images/srlogo.png"
                  style="width: 158px"
                  class="img-fluid"
                />
              </a>
              <!-- <h3 cols="6">
                 <a href="/">Home page</a>
              </h3>-->
            </div>
            <div
              class="col-12 col-sm-9 col-md-9 pr-0 d-flex align-items-center justify-content-end"
            >
              <ul class="top_count m-0 p-0 cert">
                <li>
                  <!-- <div class="top_image lg logImg">
                  <img
                    src="../assets/images/certificate_images/account-details.svg"
                    class="img-fluid"
                  />
                  </div>-->
                  <!-- <h3>
                  <a class="d-block" href="/" target="_blank">LOGIN</a>
                  </h3>-->
                </li>
                <li>
                  <a @click="backToHome()">
                    <v-btn class="btn green_btn">BACK TO LOGIN</v-btn>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <h3>
        <a href="/">Home page</a>
        </h3>-->
      </header>

      <section>
        <div class="container">
          <div class="row" style="height: 500px">
            <div
              class="alert alert-danger text-center not_found_text"
            >
              <strong>{{message}}</strong>
            </div>
            <!-- <div
              v-if="error.statusCode === 401"
              class="alert alert-danger text-center not_found_text"
            >
              <strong>Redirecting to login page...</strong>
            </div> -->
            <!-- <div v-else class="alert alert-danger text-center not_found_text">
              <strong>An error occurred. Please refresh the page or go to login page.</strong>
            </div> -->
          </div>
        </div>
      </section>
      <footer class="cert_footer">
        <div class="ftr_brd">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-3">
              <figure class="ftr_img">
                <img
                  src="../assets/images/srlogo.png"
                  class="img-fluid logoImg"
                  style="width: 200px"
                />
              </figure>
            </div>

            <div class="col-12 col-md-12">
              <div class="ftrCnt">
                <div class="conDetl">
                  <h6><span>Phone:</span> 020 8798 0476</h6>
                  <h6><span>Email:</span> partners@sustainable-meeting.com</h6>
                </div>

                <div class="btm_ftr">
                  <a href="#" class="pl-0">©2020 Sustainable Meeting</a>
                  <div class="adr">
                    <span>The Green Earth Appeal</span>
                    Hollinwood Business Centre, Albert Street, Oldham, OL8 3QL -
                  </div>
                  <a href="#">Terms and Conditions</a>
                  <a href="#" class="pr-0" style="border: none"
                    >Privacy Policy.</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </v-app>
</template>

<script>
export default {
  props: ["error"],
  layout: "blog", // you can set a custom layout for the error page
  data() {
    return {
      message: "",
  }
  },
  methods: {
    backToHome() {
      if(this.$auth.loggedIn == true) {
        this.$auth.logout();
        localStorage.clear();
        this.$router.push("/");
      } else {
        this.$router.push("/");
        localStorage.clear();
        window.location.reload();
      }
    },
  },
  async mounted() {
    // if (this.error.statusCode === 401) {
    //   this.message="Redirecting to login page...";
    //   this.$auth.logout();
    //   localStorage.clear();
    //   this.$router.push("/");
    // }
  if(this.error.statusCode === 404){
      this.message="Page not found";
    }else{
      this.message="Redirecting to login page...";
      this.$auth.logout();
      localStorage.clear();
      this.$router.push("/");
    }
  },
};
</script>
<style>
.copyrightsustainable {
  position: fixed;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert.not_found_text {
  margin: auto;
  width: 100%;
}
</style>