<template>
  <div>
    <Header :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Header>
    <Notifications></Notifications>
    <section class="frame">
      <!-- Sidebar -->
      <Sidebar></Sidebar>

      <!-- --------------------------------- -->
      <!-------------------------------- Sidebar ------------------------------------------->

      <!-- Content Side -->
      <div class="contSec">
        <Countboard
          :meetingcount="meetingcount"
          :treecount="treecount"
          :ambassadorTree="ambassadorTree"
        ></Countboard>
        <div class="cntSd">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 py-0">
              <div class="row">
                <!-- ----------------------------------------------------------------------- -->
                <div class="col-12 col-sm-12 col-md-12 mb-4 py-0">
                  <div class="card whtBx">
                    <h2>Account Details</h2>
                    <v-form v-model="validAccount">
                      <v-row>
                        <v-col cols="12" sm="6" class="pdR py-0">
                          <v-text-field
                            v-model="accountInfo.firstName"
                            class="input-wrap"
                            placeholder="first name"
                            :rules="[required('first name')]"
                            @input="validAccount=true"
                          >{{}}</v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" class="pdL py-0">
                          <v-text-field
                            v-model="accountInfo.lastName"
                            class="input-wrap"
                            placeholder="last name"
                            :rules="[required('last name')]"
                            @input="validAccount = true"
                          />
                        </v-col>

                        <v-col cols="12" sm="6" class="pdR py-0">
                          <v-text-field
                            v-model="accountInfo.websiteUrl"
                            class="input-wrap"
                            placeholder="website url"
                            :rules="[rules.accountUrl]"
                          />
                        </v-col>

                        <v-col cols="12" sm="6" class="pdL py-0">
                          <v-text-field
                            class="input-wrap"
                            v-model="accountInfo.phone"
                            type="number"
                            placeholder="phone number"
                            :rules="[rules.accountPhone, rules.maxAccountPhone]"
                          />
                        </v-col>
                        <v-col cols="12" class="bxBtn py-0">
                          <v-btn
                            @click="submitAccountForm(accountInfo)"
                            :disabled="!validAccount"
                            class="btn_card t_Btn d-none d-sm-none d-md-block"
                          >Save</v-btn>
                          <v-btn
                            @click="submitAccountForm(accountInfo)"
                            :disabled="!validAccount"
                            class="btn_card t_Btn d-block d-sm-block d-md-none"
                          >Submit</v-btn>
                        </v-col>
                      </v-row>
                    </v-form>
                  </div>
                </div>

                <!-- ----------------------------------------------------- -->

                <div class="col-12 col-sm-12 col-md-12 mblMb py-0">
                  <div class="card whtBx">
                    <h2>Change Email</h2>

                    <v-form v-model="Emailvalid" class onsubmit="return false;">
                      <div class="form-group mycustom mb-0">
                        <v-text-field
                          v-model="emailInfo.email"
                          v-on:keyup.enter="updateAccountEmailOnEnter"
                          placeholder="email address"
                          class="input-wrap"
                          :rules="[required('email'), emailFormat()]"
                        />

                        <div class="input-group-prepend">
                          <v-btn
                            @click="updateAccountEmail(emailInfo)"
                            :disabled="!Emailvalid"
                            class="btn_card t_Btn btn"
                          >Save</v-btn>
                        </div>
                      </div>
                      <!-- Email change initiated -->
                      <div v-if="emailChange" class="form-group mycustom mb-0">
                        <v-text-field
                          v-model="emailChange"
                          placeholder="email address"
                          class="input-wrap confirmfield"
                          disabled
                        />

                        <div class="input-group-prepend">
                          <v-btn disabled class="btn_card t_Btn btn">Pending Confirmation</v-btn>
                        </div>
                      </div>
                    </v-form>
                  </div>
                </div>
              </div>
            </div>

            <!-- -------------------------------- -->
            <div class="col-12 col-sm-12 col-md-6 pt-0">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 mb-4 py-0">
                  <div class="card whtBx pwdSection">
                    <h2>Change Password</h2>
                    <v-row>
                      <v-col cols="12" sm="12" md="12" lg="12">
                        <v-form v-model="validPwd" ref="form">
                          <!-- <v-card ref="form"> -->
                          <!-- <v-card-text> -->
                          <v-text-field
                            v-model="passwordInfo.oldPassword"
                            class="input-wrap"
                            placeholder="Old Password"
                            color="green"
                            :type="showOldPassword ? 'text' : 'password'"
                            :append-icon="
                          showOldPassword ? 'mdi-eye' : 'mdi-eye-off'
                        "
                            @click:append="showOldPassword = !showOldPassword"
                            :rules="[
                          required('old password'),
                          pwdMinLength(7),
                          pwdMaxLength(20)
                        ]"
                          />

                          <v-text-field
                            v-model="passwordInfo.newPassword"
                            class="input-wrap"
                            placeholder="New Password"
                            color="green"
                            :type="showPassword ? 'text' : 'password'"
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="showPassword = !showPassword"
                            :rules="[
                          required('new password'),
                          pwdMinLength(7),
                          pwdMaxLength(20)
                        ]"
                          />

                          <v-text-field
                            v-model="passwordInfo.newPassword1"
                            class="input-wrap"
                            placeholder="Confirm Password"
                            color="green"
                            :type="showConfirmPassword ? 'text' : 'password'"
                            :append-icon="
                          showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                        "
                            @click:append="
                          showConfirmPassword = !showConfirmPassword
                        "
                            :rules="[
                          required('confirm password'),
                          pwdMinLength(7),
                          pwdMaxLength(20),
                          pwdConfirm(passwordInfo.newPassword)
                        ]"
                          />

                          <div class="bxBtn">
                            <v-btn
                              @click="updatePassword(passwordInfo)"
                              :disabled="!validPwd"
                              class="btn_card t_Btn d-none d-sm-none d-md-block"
                            >Save</v-btn>
                            <v-btn
                              @click="updatePassword(passwordInfo)"
                              :disabled="!validPwd"
                              class="btn_card t_Btn d-block d-sm-block d-md-none"
                            >Submit</v-btn>
                          </div>
                        </v-form>
                      </v-col>
                    </v-row>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 mblMb py-0">
                  <div class="card whtBx">
                    <h2>{{activateHeaderText}}</h2>

                    <v-form>
                      <div class="form-group mycustom mb-0">
                        <p>{{activateText}}</p>

                        <div class="bxBtn">
                          <v-btn
                            data-toggle="modal"
                            data-target="#exampleModalCenter3"
                            class="btn_card t_Btn btn"
                            @click="updateModalMessage"
                          >{{activateBtnText}}</v-btn>
                        </div>
                      </div>
                    </v-form>
                  </div>
                </div>
              </div>
            </div>

            <!-- ----------------------------- -->
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <!-- ---------- Modal Start -------------------  -->

    <div
      class="modal fade mediaS-pop"
      id="exampleModalCenter3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cropModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content cmn_modal dtlBtnSec">
          <div class="modal-header d-flex align-items-center justify-content-center">
            <h3>{{cancelModalHeader}}</h3>
            <!-- <img src="../assets/images/deleteIcon.png" class="img-fluid" /> -->
          </div>
          <div class="modal-body">
            <p>{{cancelModalMessage}}</p>
            <small v-if="noteEnabled">{{cancelNoteMessage}}</small>
            <div class="bxBtn viewcsrbtnWrp">
              <button
                class="btn btn_card t_Btn"
                type="button"
                @click="changeAccountStatus"
                data-dismiss="modal"
              >YES</button>
              <button class="btn btn_card m-0 deletBtn" type="button" data-dismiss="modal">NO</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade mediaS-pop"
      id="exampleModalCenter2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cropModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content cmn_modal dtlBtnSec">
          <div class="modal-header d-flex align-items-center justify-content-center">
            <h3>Status</h3>
          </div>
          <div class="modal-body">
            <p>{{statusModalMessage}}</p>
            <div class="bxBtn viewcsrbtnWrp">
              <button
                class="btn btn_card t_Btn"
                type="button"
                @click="reloadPage"
                data-dismiss="modal"
              >OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------- Modal End ---------------- -->
    <!-- Loader -->
    <div id="loading" style="display: none;">
      <img id="loading-image" src="../assets/images/loader.gif" alt="Loading..." />
    </div>
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
  </div>
</template>
<script>
import Trialdays from "../components/Trialdays";
import Footer from "~/components/Footer.vue";
import Header from "../components/Header";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";
import Sidebar from "../components/Sidebar.vue";
import Countboard from "../components/Countboard.vue";
import Notifications from "../components/Notifications";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Trialdays,
    Footer,
    Sidebar,
    Countboard,
    Notifications,
  },

  data() {
    return {
      valid: false,
      validAccount: false,
      Emailvalid: false,
      validPwd: false,

      accountInfo: {
        firstName: this.$store.state.user.user.firstName,
        lastName: this.$store.state.user.user.lastName,
        websiteUrl: this.$store.state.user.user.webUrl,
        phone: this.$store.state.user.user.phone,
      },
      isAccountActive: "",
      emailInfo: {
        email: "",
      },
      passwordInfo: {
        confirmPassword: "",
        newPassword: "",
      },
      oldEmail: "",
      emailChange: false,

      deleteBtnDisable: false,
      cancelModalHeader: "",
      cancelModalMessage: "Are you sure you want to deactivate your account?",
      cancelNoteMessage:
        "Note: Any Subscription to Gocardless will be cancelled",
      activateHeaderText: "",
      activateText: "",
      activateBtnText: "",
      deleteText: "Click here to delete your account",
      noteEnabled: false,
      statusModalMessage: "Your account has been deactivated successfully.",
      redirect: false,

      ...validations,

      rules: {
        accountPhone: (value) => {
          if (value === "" || value === undefined || value === null) {
            return true;
          } else {
            let lengthCheck = value.length >= 10;
            if (lengthCheck === true) {
              return true;
            } else if (lengthCheck === false) {
              return "Phone number must be at least 10 digits";
            }
          }
        },
        maxAccountPhone: (value) => {
          if (value === "" || value === undefined || value === null) {
            return true;
          } else {
            let lengthCheck = value.length <= 20;
            if (lengthCheck === true) {
              return true;
            } else if (lengthCheck === false) {
              return "Limit exceeds";
            }
          }
        },
        accountUrl: (value) => {
          if (value === "" || value === undefined || value === null) {
            this.validAccount = true;
            return "";
          } else {
            this.validAccount = false;
            // const pattern = /^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$/;
            const pattern = /^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z\-\_]+)+((\/)[\w\-#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?\/?$/;
            let Check = pattern.test(value);
            if (Check === true) {
              this.validAccount = true;

              return pattern.test(value);
            } else if (Check === false) {
              this.validAccount = false;
              return "Enter valid url";
            }
          }
        },
      },

      showPassword: false,
      showConfirmPassword: false,
      showOldPassword: false,
      valid: false,
      dialog: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" },
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,

      isTrialPeriod: false,
      trialCount: 0,
      isSubscribed: false,
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async beforeMount() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      //For free trial end
      const trialEnd = this.$store.state.invoiceHistory.subscribe.trialEnd;
      const activeSubscription = this.$store.state.invoiceHistory.subscribe
        .subscriptions;
      // console.log(
      //   "in Subscribe details...:",
      //   this.$store.state.invoiceHistory.subscribe
      // );
      if (trialEnd) {
        const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        const firstDate = new Date().setHours(23, 59, 58, 0);
        const secondDate = new Date(trialEnd);
        if (secondDate > firstDate) {
          this.isTrialPeriod = true;
          this.trialCount =
            Math.round(Math.abs((firstDate - secondDate) / oneDay)) + 1;
        }
        if (activeSubscription.length) {
          this.isSubscribed = true;
        }
        // console.log("isTrialPeriod", this.isTrialPeriod);
        // console.log("trialCount", this.trialCount);
      }
    }
  },

  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      if (
        this.$route.query.accountActive &&
        this.$route.query.accountActive == "yes"
      ) {
        // alert(this.$route.query.accountActive);
        this.$store.dispatch("snackbar/setSnackbar", {
          text: "Your account has been activated successfully",
          timeout: 4000,
        });
        this.$router.replace("account");
      }
      await this.$store.dispatch("user/loadUser");

      this.accountInfo.firstName = this.$store.state.user.user.firstName;
      this.accountInfo.lastName = this.$store.state.user.user.lastName;
      this.accountInfo.websiteUrl = this.$store.state.user.user.webUrl;
      this.accountInfo.phone = this.$store.state.user.user.phone;

      this.isAccountActive =
        this.$store.state.user.user.isActive == 1 ? true : false;
      if (this.isAccountActive == true) {
        this.activateHeaderText = "Deactivate Account";
        this.activateText = "Click here to deactivate your account";
        this.activateBtnText = "Deactivate My Account";
        this.cancelModalHeader = "Deactivate Account";
        this.cancelModalMessage =
          "Are you sure you want to deactivate your account?";
      } else {
        this.activateHeaderText = "Activate Account";
        this.activateText = "Click here to activate your account";
        this.activateBtnText = "Activate My Account";
        this.cancelModalHeader = "Activate Account";
        this.cancelModalMessage =
          "Are you sure you want to activate your account?";
      }
      this.validPwd = false;

      // console.log("data :", this.$store.state);
      this.emailInfo.email = this.$store.state.user.user.email;
      this.oldEmail = this.$store.state.user.user.email;
      this.emailChange = this.$store.state.user.user.email_change
        ? this.$store.state.user.user.email_change
        : false;
    }
  },

  methods: {
    changeButtonStatus() {
      this.validAccount = true;
    },
    async submitAccountForm(accountInfo) {
      this.validAccount = false;
      const newDetails = {
        firstName: accountInfo.firstName,
        lastName: accountInfo.lastName,
        webUrl: accountInfo.websiteUrl,
        phone: accountInfo.phone,
      };
      await this.$store.dispatch("user/updateAccountDetail", newDetails);
      this.$store.dispatch("snackbar/setSnackbar", {
        text: "Account details updated successfully",
        timeout: 3000,
      });
    },
    updateAccountEmailOnEnter() {
      // alert(this.emailInfo.email);
      this.updateAccountEmail(this.emailInfo.email);
    },

    //update email
    async updateAccountEmail(emailInfo) {
      if (this.Emailvalid === true) {
        var info = "";
        if (emailInfo.email != undefined) {
          info = emailInfo.email;
        } else if (emailInfo != undefined) {
          info = emailInfo;
        }
        this.Emailvalid = false;
        const data = {
          email: info,
        };
        await this.$axios
          .post("AUTH_URL/v1/emailChangeReskin", data)
          .then((response) => {
            // console.log("RESPONSE  :", response);
            if (response.status === 201) {
              this.emailChange = info;
              this.emailInfo.email = this.oldEmail;
              this.$store.dispatch("snackbar/setSnackbar", {
                text:
                  "Email changed successfully! Email confirmation sent to new email address",
                timeout: 3000,
              });
            } else if (response.status === 202) {
              this.$store.dispatch("snackbar/setSnackbar", {
                text: "The email address that you've entered is registered",
                color: "red",
                timeout: 3000,
              });
            } else if (response.status === 204) {
              this.$store.dispatch("snackbar/setSnackbar", {
                text: "You have not changed email",
                color: "red",
                timeout: 3000,
              });
            }
          })
          .catch((e) => {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Email address already exist!",
              color: "red",
            });
          });
      } else {
        return;
      }
    },

    //update password
    async updatePassword(passwordInfo) {
      this.validPwd = false;
      (this.showPassword = false),
        (this.showConfirmPassword = false),
        (this.showOldPassword = false);

      const data = {
        oldPsd: passwordInfo.oldPassword,
        newPsd: passwordInfo.newPassword,
      };
      await this.$axios
        .post("AUTH_URL/v1/changePasswordReskin", data)
        .then((response) => {
          if (response.status === 201) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "You have successfully changed password",
              timeout: 4000,
            });
          } else if (response.status === 202) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Incorrect Old Password",
              color: "red",
              timeout: 4000,
            });
          }
        })
        .catch((e) => {
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "something went wrong try again",
            color: "red",
            timeout: 3000,
          });
        });
      this.$refs.form.reset();
    },

    updateModalMessage() {
      if (this.isAccountActive == true) {
        if (this.isTrialPeriod) {
          this.cancelModalMessage = `You still have ${this.trialCount} days of free trial. 
        Do you really want to deactivate your account now?`;
          this.noteEnabled = true;
        } else {
          if (this.isSubscribed) {
            this.noteEnabled = false;
            this.cancelModalMessage = `Your Subscription to Gocardless will be cancelled. 
            Do you really want to deactivate your account now?`;
          }
        }
      }
    },

    async cancelSubscription() {
      await this.$axios
        .post("USER_URL/cancel-subscription-reskin", {})
        .then((response) => {
          // console.log("subscription cancelled successfully");
        })
        .catch((e) => {
          console.log("EROR in CANCEL SUBSCRIPTION", e);
          $("#loading").hide();
        });
    },
    async changeAccountStatus() {
      if (this.isAccountActive) {
        await this.cancelAccount();
      } else {
        await this.activateAccount();
      }
    },
    async cancelAccount() {
      $("#loading").show();
      if (this.isSubscribed) {
        await this.cancelSubscription();
      }
      await this.$axios
        .post("AUTH_URL/v1/cancelAccount", "")
        .then((response) => {
          // console.log("response", response);
        })
        .catch((error) => {
          console.log("error", error);
          $("#loading").hide();
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Some error occured. Please try again later",
            timeout: 4000,
            color: "red",
          });
        });
      await this.$store.dispatch("invoiceHistory/getInvoiceStatus");
      const pendingInvoice = this.$store.state.invoiceHistory.invoiceStatus;
      // console.log("pending invoice", pendingInvoice);
    
      $("#loading").hide();

      if (pendingInvoice.pendingInvoice.length) {
        this.statusModalMessage =
          this.statusModalMessage +
          "Please visit 'Invoices History' page to pay your pending invoices.";
          this.redirect = true;
      }
      $("#exampleModalCenter2").modal("show");
    },
    async activateAccount() {
      await this.$store.dispatch("invoiceHistory/getInvoiceStatus");
      const pendingInvoice = this.$store.state.invoiceHistory.invoiceStatus;
      // console.log("pendingInvoice-----", pendingInvoice);
      if (pendingInvoice.pendingInvoice.length) {
        this.statusModalMessage =
          "Please visit 'Invoices History' page to pay your pending invoices and Subscribe to GoCardless to activate your account.";
        this.redirect = true;
        $("#exampleModalCenter2").modal("show");
        return;
      } else {
        await this.$axios
          .post("AUTH_URL/v1/activateAccount", "")
          .then((response) => {
            // console.log("response", response);
            // this.$store.dispatch("snackbar/setSnackbar", {
            //   text: "Your Account has been activated successfully",
            //   timeout: 4000,
            // });
          })
          .catch((error) => {
            console.log("error", error);
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Some error occured. Please try again later",
              timeout: 4000,
              color: "red",
            });
            return;
          });
        if (this.isTrialPeriod == false) {
          // await this.$store.dispatch("invoiceHistory/getInvoiceStatus");
          // const pendingInvoice = this.$store.state.invoiceHistory.invoiceStatus;
          // // console.log("pendingInvoice-----", pendingInvoice);
          // if (pendingInvoice.pendingInvoice.length) {
          //   this.statusModalMessage =
          //     "Please visit 'Invoices History' page to pay your pending invoices and Subscribe to GoCardless to activate your account.";
          //   $("#exampleModalCenter2").modal("show");
          // } else {
          await this.$axios
            .post("USER_URL/sub-gocardless-reskin", { redirect: "account" })
            .then((response) => {
              window.location.href = response.data.data;
            });
        } else {
          this.statusModalMessage =
            "Your Account has been activated successfully";
          $("#exampleModalCenter2").modal("show");
        }
      }
    },
    reloadPage() {
      if(this.redirect == true) {
        window.location.href = "/invoice";
      } else {
        window.location.reload();
      }
    },
  },
};
</script>
