<template>
  <div>
    <!-- <h1>Certificate</h1> -->

    <body style="background-color: #fff" class="csrBodyTag">
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe
          src="https://www.googletagmanager.com/ns.html?id=GTM-54FB5D3"
          height="0"
          width="0"
          style="display: none; visibility: hidden"
        ></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      <!-- Header -->
      <header class="cert_header">
        <div class="row">
          <div class="col col-sm-3 col-md-3 p-0">
            <img
              src="../assets/images/certificate_images/srlogo.png"
              class="img-fluid"
              style="width: 200px"
            />
          </div>
          <div
            class="col col-sm-9 col-md-9 p-0 d-flex align-items-center justify-content-end"
          >
            <ul class="top_count m-0 p-0 cert">
              <li>
                <!-- <div class="top_image lg logImg">
                  <img
                    src="../assets/images/certificate_images/account-details.svg"
                    class="img-fluid"
                  />
              </div>-->
                <!-- <h3>
                  <a class="d-block" href="/" target="_blank">LOGIN</a>
              </h3>-->
              </li>
              <li>
                <v-btn @click="backToHome" class="btn green_btn">BACK</v-btn>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- Header -->

      <section class="cert_frame">
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center py-0"
          >
            <div class="bnnr">
              <div class="main_sec">
                <div class="logoBx">
                  <div
                    v-if="isCompanyLogoEnabled && companylogo"
                    class="companyLogo"
                  >
                    <img
                      v-if="companylogo"
                      :src="companylogo"
                      style="width: 100%"
                    />
                  </div>
                </div>
                <h2 class="mb-0">
                  <span>Meeting Attendee's First Name</span>
                </h2>
                <h2>
                  Has planted a total
                  <span>6 trees</span> through Sustainably Run Meetings
                </h2>
                <h6>Your Sustainably Run Meeting Planting Certificate</h6>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="certificate_wrapper">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg">
                  <div class="cert_content">
                    <p class="cmn">Welcome [Meeting Attendee’s First Name]</p>
                    <p class="cmn">
                      We want you to know that you have made a difference today.
                    </p>
                    <p class="cmn">
                      The tree you helped plant by being part of a Sustainably
                      Run Meeting, helps improve environmental sustainability
                      and creates opportunities in developing countries.
                    </p>
                    <p class="cmn">
                      Here in your hub you can download your certificate, share
                      it easily through social channels and find out more about
                      Sustainably Run Meetings.
                    </p>
                    <p class="cmn">
                      Have awesome meetings and here’s to making the world a
                      better place!
                    </p>

                    <div class="certCntBtn">
                      <div class="w-hlf">
                        <div class="cerBx cerBxSocial">
                          <label>Share Your Certificate</label>
                          <img
                            src="../assets/images/certificate_images/share.png"
                            class="img-fluid"
                          />
                          <div class="certificatepagelinks1">
                            <div>
                              <div
                                id="shareRoundIcons"
                                :data-image="shareCertificateImg"
                                class="jssocials"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="cerBx w-hlf"
                        style="cursor: pointer"
                        @click="certdownload()"
                        download
                      >
                        <label style="color: #292b2c; cursor: pointer"
                          >Download Your Certificate</label
                        >
                        <img
                          src="../assets/images/certificate_images/download.png"
                          class="img-fluid"
                        />
                      </div>
                    </div>

                    <!-- <div class="cont_ftr">
                                    <h6>Give A Free Tree!</h6>
                                    <p>Why not send someone the gift of planting a tree for free?</p>
                                    <button class="btn green_btn">
                                        SEND A FREE TREE
                                    </button>
                  </div>-->
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-auto">
                  <figure class="certificate">
                    <!-- <img v-bind:src="certficate_name"/> -->
                    <img v-bind:src="certficate_name" />
                  </figure>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="free_accunt">
              <p class="cmn">
                Your meeting was created by {{ orgName }}, who have planted:
              </p>
              <h2>{{ orgTreeCount }}</h2>
              <!-- <button disabled class="btn green_btn">VISIT OUR CSR PAGE</button> -->
              <div
                v-if="isCsrLinkEnabled && csrLink && csrLink != null"
                style="margin-top: 29px"
              >
                <a :href="csrLink" target="_blank">
                  <v-btn class="btn green_btn">VISIT OUR CSR PAGE</v-btn>
                </a>
              </div>
            </div>
            <hr class="w-100" />
          </div>

          <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12">  
                <div class="free_accunt">
                    <p class="cmn">
                        Your meeting was created by [company name], we have planted:
                    </p>
                    <h2>540 Trees</h2>
                    <button class="btn green_btn">
                        VISIT OUR CSR PAGE
                    </button>
                </div>
        </div>-->

          <div
            v-if="
              (isIndustryCertificateEnabled === true && link1) ||
              link2 ||
              link3 ||
              link4 ||
              link5 ||
              link6 ||
              link7 ||
              link8
            "
            class="col-12 col-sm-12 col-md-12 col-lg-12"
          >
            <div
              class="certification_wrapper"
              style="padding-top: 35px"
              v-if="link1 || link2 || link3 || link4"
            >
              <h3>Our Industry Certifications</h3>
              <ul>
                <li v-if="link1">
                  <img v-bind:src="link1" class="img-fluid" />
                </li>
                <li v-if="link2" class="certM">
                  <img v-bind:src="link2" class="img-fluid" />
                </li>
                <li v-if="link3">
                  <img v-bind:src="link3" class="img-fluid" />
                </li>
                <li v-if="link4">
                  <img v-bind:src="link4" class="img-fluid" />
                </li>
              </ul>
              <!-- ----------------------second ul------------------- -->
              <ul
                v-if="enableUl === true && (link5 || link6 || link7 || link8)"
              >
                <li v-if="link5">
                  <img v-bind:src="link5" class="img-fluid" />
                </li>
                <li v-if="link6" class="certM">
                  <img v-bind:src="link6" class="img-fluid" />
                </li>
                <li v-if="link7">
                  <img v-bind:src="link7" class="img-fluid" />
                </li>
                <li v-if="link8">
                  <img v-bind:src="link8" class="img-fluid" />
                </li>
              </ul>
            </div>
            <hr />
          </div>

          <!-- ------------------------------------------------------------------------------ -->

          <template v-if="isCsrContentEnabled === true">
            <CsrContents :contents="csr_contents" />
          </template>
          <!-- ---------------------------------------------------------------------------------- -->

          <!-- ------------------------------------------------------------------------------ -->

          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="detail_wrapper">
                  <h1 class="cmnHd">What are Sustainably Run Meetings</h1>
                  <p class="cmn">
                    Sustainably Run Meetings helps you offset the carbon
                    footprint of your business by planting trees in developing
                    countries.
                  </p>
                  <p class="cmn">
                    Then we help you tell the story of your CSR & environmental
                    sustainability through an interactive experience that
                    everyone can support.
                  </p>
                  <p class="cmn">
                    Your organisation can make a real difference and create
                    positive stories that involve both your internal and
                    external stakeholders.
                  </p>
                  <!-- <a href="/documents/SM-brochure.pdf" download="SM-brochure.pdf">
                  <button class="btn green_btn">DOWNLOAD BROCHURE</button>
                </a>-->
                  <button class="btn green_btn" disabled="disabled">
                    DOWNLOAD BROCHURE
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 pr-0">
                <div class="mdl">
                  <video width="100%" height="auto" controls>
                    <source
                      src="https://www.sustainably.run/hubfs/new%20pages%202020/Sustainably%20Run%20Meeting%20-%20Gift%20Trees%20-%20NEW.mp4"
                      type="video/mp4"
                    />
                  </video>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="hwItWrk_wrapper">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <figure class="mb-0">
                    <img
                      src="../assets/images/certificate_images/hwItWrkImg.png"
                      class="img-fluid"
                    />
                  </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="wrkDtl">
                    <h2 class="cmnHd">How it works</h2>
                    <ul>
                      <li class="cmn">
                        Our software integrates seamlessly with your email and
                        meeting scheduling system.
                      </li>
                      <li class="cmn">
                        Every time you schedule a meeting you choose whether it
                        is a Sustainably Run Meeting.
                      </li>
                      <li class="cmn">
                        You can then plant a tree for each participant.
                      </li>
                      <li class="cmn">
                        Individuals will be notified and can actively see and
                        engage with how they have contributed to environmental
                        sustainability.
                      </li>
                      <li class="cmn">
                        Each meeting is personal to the participants and you can
                        see and control your business CSR performance and its
                        communication.
                      </li>
                      <li class="cmn">
                        Your business has a control of how Sustainably Run
                        Meetings is used and the ability to view it’s overall
                        impact.
                      </li>
                    </ul>
                    <a
                      target="_blank"
                      href="https://www.sustainably.run/meeting/how-it-works"
                      class="cmn"
                      >> More about how Sustainably Run Meetings work</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="findOutMore">
              <h1 class="cmnHd">Find Out More</h1>
              <ul class="mb-0 mt-4 list-unstyled d-flex align-items-end">
                <li>
                  <a
                    target="_blank"
                    href="https://www.sustainably.run/meeting/why-sustainable-meeting"
                  >
                    <img
                      class="img-fluid"
                      src="../assets/images/certificate_images/Tree in Green Circle.png"
                    />
                  </a>
                </li>
                <li class="mr-1 mx-md-5">
                  <a
                    target="_blank"
                    href="https://www.sustainably.run/meeting/how-it-works"
                  >
                    <img
                      class="img-fluid"
                      src="../assets/images/certificate_images/fo2.png"
                    />
                  </a>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.sustainably.run/meeting/how-you-help"
                  >
                    <img
                      class="img-fluid"
                      src="../assets/images/certificate_images/fo3.png"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Content Side -->
        </div>
      </section>

      <Footer></Footer>
      <!-- Button trigger modal -->

      <!-- Modal -->
      <div
        class="modal fade brochureModal"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                data-dismiss="modal"
                class="close"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <figure class="popLogo">
                <img
                  src="../assets/images/certificate_images/logo.png"
                  class="img-fluid"
                />
              </figure>
              <h3>Download Sustainable Meeting Brochure</h3>

              <div class="row justify-content-center">
                <div class="col-12 col-md-9">
                  <v-form
                    v-model="form1valid"
                    class="login_form"
                    ref="page1form"
                  >
                    <div class="form-group">
                      <v-text-field
                        v-model="downloadbrochure.email"
                        placeholder="Email Address"
                        class="form-control"
                        :rules="[required('Email Address'), emailFormat()]"
                      />
                    </div>
                    <div class="form-group">
                      <v-text-field
                        v-model="downloadbrochure.firstName"
                        placeholder="First Name"
                        class="form-control"
                        :rules="[required('First Name')]"
                      />
                    </div>
                    <div class="form-group">
                      <v-text-field
                        v-model="downloadbrochure.lastName"
                        placeholder="Last Name"
                        class="form-control"
                        :rules="[required('Last Name')]"
                      />
                    </div>
                    <div class="form-group">
                      <v-text-field
                        v-model="downloadbrochure.companyName"
                        placeholder="Company Name"
                        class="form-control"
                        :rules="[required('Company Name')]"
                      />
                    </div>

                    <div class="form-group mt-4">
                      <label class="customCh">
                        I am happy for Sustainable Meeting to use my details to
                        email me about product update and information.
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                      </label>
                    </div>

                    <div class="bxBtn">
                      <v-btn
                        class="btn green_btn"
                        @click="downloadBrchr(downloadbrochure)"
                        >Download</v-btn
                      >
                    </div>
                  </v-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="hiddenDiv" style="display: none" :data-clientid="clientId"></div>
      <!-- Footer -->
    </body>
  </div>
</template>
<script>
import Footer from "~/components/Footer.vue";
import validations from "@/utils/validations";
import CsrContents from "../src/csrhub/csrContents/index";
import Vue from "vue";

import VueYoutube from "vue-youtube";
Vue.use(VueYoutube);

export default {
  middleware: "auth-guard",
  components: {
    CsrContents,
    Footer,
  },
  data() {
    return {
      name: "",
      number_of_tree_planted: "",
      certficate_name: `S3_PREFIX/certificates/demoCertificate.jpg`,
      orgName: "",
      orgTreeCount: "",
      companylogo: "",
      csrLink: "",
      link1: "",
      link2: "",
      link3: "",
      link4: "",
      link5: "",
      link6: "",
      link7: "",
      link8: "",
      enableUl: false,
      clientId: "abc",
      email: "",
      shareCertificateImg: "",
      ogCertName: "",
      form1valid: false,
      downloadbrochure: {
        email: "",
        firstName: "",
        lastName: "",
        companyName: "",
      },
      ...validations,

      // csr variables
      active: "",
      active_type: "",
      csr_title: "",
      csr_content: "",
      field1: "",
      field1_type: "",
      field2: "",
      field2_type: "",
      field3: "",
      field3_type: "",
      field4: "",
      field4_type: "",

      csrSection: "",
      csrArray0: [],
      csrArray1: [],
      csrArray2: [],
      csrArray3: [],
      csrArray4: [],
      csrArray5: [],

      active0: "",
      active1: "",
      active2: "",
      active3: "",
      active4: "",
      active5: "",
      active_type0: "",
      active_type1: "",
      active_type2: "",
      active_type3: "",
      active_type4: "",
      active_type5: "",

      isMediaOnly0: false,
      isMediaOnly1: false,
      isMediaOnly2: false,
      isMediaOnly3: false,
      isMediaOnly4: false,
      isMediaOnly5: false,
      isContentOnly0: false,
      isContentOnly1: false,
      isContentOnly2: false,
      isContentOnly3: false,
      isContentOnly4: false,
      isContentOnly5: false,
      isboth0: false,
      isboth1: false,
      isboth2: false,
      isboth3: false,
      isboth4: false,
      isboth5: false,

      isCsrLinkEnabled: false,
      isCompanyLogoEnabled: false,
      isIndustryCertificateEnabled: false,
      isCsrContentEnabled: false,

      media_count: 0,
      media_count0: 0,
      media_count1: 0,
      media_count2: 0,
      media_count3: 0,
      media_count4: 0,
      media_count5: 0,
      contentArray: [],

      mediaContentcount: 0,
      csr_contents: [],
    };
  },
  async mounted() {
    // const CERT_LINK = [
    //   "../assets/images/logo1.png",
    //   "../assets/images/logo2.png",
    //   "../assets/images/logo3.png",
    //   "../assets/images/logo4.png"
    // ];
    const CERT_LINK = [
      `S3_PREFIX/csr_industry_certificate_logos/logo1.jpg`,
      `S3_PREFIX/csr_industry_certificate_logos/logo2.jpg`,
      `S3_PREFIX/csr_industry_certificate_logos/logo3.jpg`,
      `S3_PREFIX/csr_industry_certificate_logos/logo4.png`,
    ];
    const response = await this.$axios.get("AUTH_URL/v1/getCsrSetting");
    const resp = await this.$axios.get("USER_URL/getOrgTreeCount");
    const IPData = resp.data;
    //console.log("IPData....", resp);
    const data = response.data.settings;
    const content = response.data.contentSettings;
    // console.log("MAIN RESPONSE", response);
    // console.log(" MAIN RESPONSE.settings", data);
    // console.log(" MAIN RESPONSE.contentSettings", content);

    this.orgName = IPData.companyName;
    if (IPData.trees == 0 || IPData.trees == 1) {
      this.orgTreeCount = IPData.trees + " tree";
    } else {
      this.orgTreeCount = this.formatTreeNumber(IPData.trees) + " trees";
    }
    this.companylogo = data.company_logo ? data.company_logo : "";
    // this.link1 = data.industry_certificate1 ? data.industry_certificate1 : "";
    // this.link2 = data.industry_certificate2 ? data.industry_certificate2 : "";
    // this.link3 = data.industry_certificate3 ? data.industry_certificate3 : "";
    // this.link4 = data.industry_certificate4 ? data.industry_certificate4 : "";

    //industry certificate
    if (data.industry_certificate_enabled === 1) {
      var count = 1;
      this.isIndustryCertificateEnabled = true;
      let i;
      for (i = 0; i < 4; i++) {
        if (data.certLogos.charAt(i) == 1) {
          //console.log("link", i, "active");
          this[`link${count}`] = CERT_LINK[i];
          count++;
        }
      }
      for (var j = 1; j <= 8; j++, i++) {
        if (data.certLogos.charAt(i) == 1 && data[`industry_certificate${j}`]) {
          this[`link${count}`] = data[`industry_certificate${j}`];
          count++;
        }
      }
      if (count > 4) {
        this.enableUl = true;
      }
    } else if (data.industry_certificate_enabled === 0) {
      this.isIndustryCertificateEnabled = false;
    }

    //company logo
    if (data.company_logo_enabled === 1) {
      this.isCompanyLogoEnabled = true;
    } else if (data.company_logo_enabled === 0) {
      this.isCompanyLogoEnabled = false;
    }

    //csr_link_enabled
    if (data.csr_link_enabled === 1) {
      var pattern = /^((http|https|ftp):\/\/)/;
      if (data.csr_link && data.csr_link != null) {
        if (!pattern.test(data.csr_link)) {
          data.csr_link = "http://" + data.csr_link;
          this.csrLink = data.csr_link;
        } else {
          this.csrLink = data.csr_link;
        }
      }
      this.isCsrLinkEnabled = true;
    } else if (data.csr_link_enabled === 0) {
      this.isCsrLinkEnabled = false;
    }
    if (content && data.csr_content_enabled === 1) {
      this.isCsrContentEnabled = true;
      let csr_contents = [];
      for (var n = 0; n < content.length; n++) {
        if (content[n].content_status) {
          this.contentArray[n] = content[n];
          this.contentArray[n].index = n;

          this.field1 = content[n].field1 ? content[n].field1 : "";
          this.field1_type = content[n].field1_type
            ? content[n].field1_type
            : "";
          this.field2 = content[n].field2 ? content[n].field2 : "";
          this.field2_type = content[n].field2_type
            ? content[n].field2_type
            : "";
          this.field3 = content[n].field3 ? content[n].field3 : "";
          this.field3_type = content[n].field3_type
            ? content[n].field3_type
            : "";
          this.field4 = content[n].field4 ? content[n].field4 : "";
          this.field4_type = content[n].field4_type
            ? content[n].field4_type
            : "";
          this.field5 = content[n].field5 ? content[n].field5 : "";
          this.field5_type = content[n].field5_type
            ? content[n].field5_type
            : "";
          this.field6 = content[n].field6 ? content[n].field6 : "";
          this.field6_type = content[n].field6_type
            ? content[n].field6_type
            : "";
          var count = 0;

          for (var i = 0; i <= 6; i++) {
            if (
              this[`field${i}`] != "" &&
              this[`field${i}`] != null &&
              this[`field${i}`] != undefined
            ) {
              if (this[`field${i}_type`] === "image") {
                count = count + 1;

                this[`csrArray${n}`].push({
                  field: this[`field${i}`],
                  field_type: this[`field${i}_type`],
                  index: i - 1,
                  count: "carousel-selector-" + count,
                });
              } else if (this[`field${i}_type`] === "video") {
                count = count + 1;
                // console.log(
                //   " ---------1 --------- :",
                //   "https://www.youtube.com/embed/" +
                //     this[`field${i}`] +
                //     "?enablejsapi=1"
                // );
                this[`csrArray${n}`].push({
                  field:
                    "https://www.youtube.com/embed/" +
                    this[`field${i}`] +
                    "?enablejsapi=1",
                  field_type: this[`field${i}_type`],
                  index: i - 1,
                  count: "carousel-selector-" + count,
                });
              }
            }
          }

          for (var i = 1; i <= 6; i++) {
            if (
              this[`field${i}`] != "" ||
              this[`field${i}`] != undefined ||
              this[`field${i}`] != null
            ) {
              if (this[`field${i}_type`] === "image") {
                this[`active${n}`] = this[`field${i}`];
                this[`active_type${n}`] = this[`field${i}_type`];
                break;
              } else if (this[`field${i}_type`] === "video") {
                // console.log(
                //   " --------- 2 --------- :",
                //   "https://www.youtube.com/embed/" +
                //     this[`field${i}`] +
                //     "?enablejsapi=1"
                // );
                this[`active${n}`] =
                  "https://www.youtube.com/embed/" +
                  this[`field${i}`] +
                  "?enablejsapi=1";

                this[`active_type${n}`] = this[`field${i}_type`];
                break;
              }
            }
          }
          if (this[`csrArray${n}`].length != 0) {
            this[`isMediaOnly${n}`] = true;
          } else {
            this[`isMediaOnly${n}`] = false;
          }
          if (
            content[n].csr_content &&
            content[n].csr_content != "" &&
            content[n].csr_content != null &&
            content[n].csr_content != undefined
          ) {
            this[`isContentOnly${n}`] = true;
          } else {
            this[`isContentOnly${n}`] = false;
          }
          if (
            this[`isMediaOnly${n}`] === true &&
            this[`isContentOnly${n}`] === true
          ) {
            this[`isboth${n}`] = true;
            if (content[n].content_status === 1) {
              this.media_count = this.media_count + 1;
              this[`media_count${n}`] = this.media_count;
            }
          } else {
            this[`isboth${n}`] = false;
          }
          //code optimisation
          let display_type = ""; //'mediaOnly'||'contentOnly'||'mediaContent'
          let position = ""; //right or left for mediacontent
          let hasMedia =
            content[n].field1 ||
            content[n].field2 ||
            content[n].field3 ||
            content[n].field4 ||
            content[n].field5 ||
            content[n].field6
              ? true
              : false;
          let hasContent = content[n].csr_content;

          if (hasMedia) {
            display_type = "mediaOnly";
          }
          if (hasContent) {
            display_type = "contentOnly";
          }
          if (hasMedia && hasContent) {
            display_type = "mediaContent";
          }

          let media = [];
          for (var i = 1; i <= 6; i++) {
            if (content[n][`field${i}`] && content[n][`field${i}_type`]) {
              let media_item = {
                type: content[n][`field${i}_type`],
                index: i - 1,
                src: content[n][`field${i}`],
              };
              if (content[n][`field${i}_type`] === "video") {
                media_item.src =
                  "https://www.youtube.com/embed/" +
                  media_item.src +
                  "?enablejsapi=1";
              }
              media.push(media_item);
            }
          }
          if (display_type === "mediaContent") {
            position = this.mediaContentcount % 2 === 0 ? "right" : "left";
            this.mediaContentcount++;
          } else {
            position = "not applicable";
          }
          let content_item = {
            index: n,
            display_type: display_type,
            position: position,
            content_index: content[n].content_index,
            csr_title: content[n].csr_title,
            csr_content: content[n].csr_content ? content[n].csr_content : "",
            media: media,
          };
          csr_contents.push(content_item);
        }
      }
      //console.log("csr_contents", csr_contents);
      this.csr_contents = csr_contents;
    }
  },
  computed: {
    contentArrayFiltered: function () {
      return this.contentArray.filter(function (u) {
        return u.content_status === 1;
      });
    },
  },

  methods: {
    formatTreeNumber(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    certdownload() {
      window.location.href = this.certficate_name;
    },
    backToHome() {
      this.$router.push("/setup");
    },
    checkBoth(index) {
      if (this[`isboth${index}`] === true) {
        if (this[`media_count${index}`] % 2 == 0) {
          return "even";
        } else {
          return "odd";
        }
      } else {
        return "not-media";
      }
    },
    checkContent(index) {
      if (
        this[`isboth${index}`] === false &&
        this[`isContentOnly${index}`] === true
      ) {
        return true;
      } else {
        return false;
      }
    },
    checkMedia(index) {
      if (
        this[`isboth${index}`] === false &&
        this[`isMediaOnly${index}`] === true
      ) {
        return true;
      } else {
        return false;
      }
    },
    checkActivetype(index) {
      if (this[`active_type${index}`] === "image") {
        return "image";
      } else if (this[`active_type${index}`] === "video") {
        return "video";
      }
    },
    checkActive(index) {
      return this[`active${index}`];
    },
    csrAllArray(index) {
      return this[`csrArray${index}`];
    },
    stopVideo() {
      var iframes = document.querySelectorAll("iframe");
      //console.log(" iframe  value ... :", iframes);
      Array.prototype.forEach.call(iframes, (iframe) => {
        iframe.contentWindow.postMessage(
          JSON.stringify({ event: "command", func: "pauseVideo" }),
          "*"
        );
      });
    },
  },
  head() {
    return {
      script: [
        { src: "/documents/js/jssocials.min.js" },
        { src: "/documents/js/carousel.js" },
        // { src: "/documents/js/certificate.js" }
      ],
    };
  },
};
</script>

<style scoped>
@import "../assets/css/certificateStyle.css";
</style>
<style>
p {
  word-break: break-word !important;
}
/* div.ytp-pause-overlay {
  display: none !important;
}
.ytp-pause-overlay-controls-hidden .ytp-pause-overlay {
  display: none !important;
} */

.v-application {
  background-color: #ffffff !important;
}
.certificatepagelinks1 {
  position: absolute;
  bottom: -25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  right: 0;
  left: 0;
  z-index: 11;
}
.certificatepagelinks1.open {
  bottom: -38px;
  pointer-events: all;
  opacity: 1;
  transition: all 0.3s;
}
.jssocials-shares {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.jssocials-share {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50px !important;
  margin: 0 8px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.jssocials-share-facebook {
  background-color: #3742a9 !important;
  font-size: 16px !important;
}
.jssocials-share-twitter {
  background-color: #4ebeef !important;
  font-size: 16px !important;
}
.jssocials-share-linkedin {
  background-color: #2a6fd0 !important;
  font-size: 16px !important;
}
.jssocials-share-logo {
  color: #fff !important;
}
.green_btn:hover {
  background-color: #3b7c20 !important;
}
@media (max-width: 1199px) {
  .jssocials-share {
    width: 30px !important;
    height: 30px !important;
    margin: 0 6px !important;
    font-size: 15px !important;
  }
}
@media (max-width: 991px) {
  .jssocials-share {
    width: 25px !important;
    height: 25px !important;
    margin: 0 4px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 767px) {
  .jssocials-share {
    width: 30px !important;
    height: 30px !important;
    margin: 0 5px !important;
    font-size: 15px !important;
  }
}
@media (max-width: 575px) {
  .jssocials-share {
    width: 25px !important;
    height: 25px !important;
    margin: 0 4px !important;
    font-size: 12px !important;
  }
}
</style>
