<template>
  <v-app>
    <div>
      <!-- <Header></Header> -->
      <Header
        :meetingcount="meetingcount"
        :treecount="treecount"
        :ambassadorTree="ambassadorTree"
      ></Header>
      <Notifications></Notifications>
      <section class="frame">
        <!-- Sidebar -->
        <Sidebar></Sidebar>
        <!-- Content Side -->
        <div class="contSec">
          <Countboard
            :meetingcount="meetingcount"
            :treecount="treecount"
            :ambassadorTree="ambassadorTree"
          ></Countboard>
          <div class="cntSd">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 pt-0">
                <div class="card">
                  <ul class="filterWrap">
                    <li class="time-scale">
                      <span class="timeSclWeb">Time Scale :</span>
                      <span class="timeSclMob">Timescale :</span>
                      <v-combobox
                        class="blackB tmScl"
                        v-model="selectedTimeScale"
                        :items="TimeScale"
                        item-text="label"
                        item-value="value"
                        menu-props="auto"
                        @input="setSelected"
                        type="button"
                      ></v-combobox>
                    </li>
                    <li>
                      <label class="showWeb">Show :</label>
                      <label class="showMob">Show :</label>

                      <div class="d-flex dsh_btnSec">
                        <button
                          v-bind:class="{
                            'i-am-active': button_active_meeting,
                          }"
                          class="btn btn_card grBtn vltBtn purplebtn"
                          @click="hideMeeting"
                        >
                          <span>Meetings</span>
                        </button>
                        <button
                          v-bind:class="{ 'i-am-active': button_active_tree }"
                          class="btn btn_card grn grBtn greenbtn"
                          @click="hideTree"
                        >
                          <span>Trees Planted</span>
                        </button>
                        <button
                          v-bind:class="{
                            'i-am-active': button_active_ambassador,
                          }"
                          class="btn btn_card grn grBtn mrnBtn maroonbtn"
                          @click="hideAmbTree"
                        >
                          <span>Ambassador Trees</span>
                        </button>
                      </div>
                    </li>
                  </ul>

                  <div class="chartOuter">
                    <canvas id="myChart" width="auto" height="auto"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Side -->
      </section>
      <div v-if="isTrialPeriod">
        <Trialdays :trialCount="trialCount"></Trialdays>
      </div>
      <Footer></Footer>
    </div>
    <div id="loading">
      <img
        id="loading-image"
        src="../assets/images/loader.gif"
        alt="Loading..."
      />
    </div>
  </v-app>
</template>

<script>
import Trialdays from "../components/Trialdays";
import Header from "../components/Header";
import Footer from "~/components/Footer.vue";
import moment from "moment";
import Sidebar from "../components/Sidebar.vue";
import Countboard from "../components/Countboard.vue";
import Notifications from "../components/Notifications";

export default {
  middleware: "auth-guard",
  components: {
    Footer,
    Trialdays,
    Header,
    Sidebar,
    Countboard,
    Notifications,
  },

  // initialise variables
  data() {
    return {
      button_active_tree: true,
      button_active_meeting: true,
      button_active_ambassador: true,

      TimeScale: [
        { label: "Monthly", value: "monthly" },
        { label: "Yearly", value: "yearly" },
        { label: "Weekly", value: "weekly" },
        { label: "Daily", value: "daily" },
      ],
      selectedTimeScale: {
        label: "Monthly",
        value: "monthly"
      },
      dialog: false,
      labels: [],
      treeData: [],
      meetingData: [],
      AmbTreeData: [],

      isMeeting: false,
      isTree: false,
      isAmbassadorTree: false,

      dialog: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" },
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      //   ambassadorTree: [0, 0, 8, 2],
      ambassadorTree: this.$store.state.user.ambassador_trees,
      isTrialPeriod: false,
      trialCount: 0,
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async beforeMount() {
    //For free trial end
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      const trialEnd = this.$store.state.invoiceHistory.subscribe.trialEnd;
      if (trialEnd) {
        const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        const firstDate = new Date().setHours(23, 59, 58, 0);
        const secondDate = new Date(trialEnd);
        if (secondDate > firstDate) {
          this.isTrialPeriod = true;
          this.trialCount =
            Math.round(Math.abs((firstDate - secondDate) / oneDay)) + 1;
        }
      }
    }
  },
  // on page loading function
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      await this.generateChart("monthly");
    }
    $("#loading").hide();
  },

  methods: {
    // plugin close function
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Web Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/outlook-web-plugin";
      }
    },

    //select TimeScale
    async setSelected(info) {
      this.selectedTimeScale.value = info.value;

      await this.generateChart(this.selectedTimeScale.value);
    },
    async generateChart(timeScale) {
      let meetingArray = [],
        treeArray = [],
        ambassadorTreeArr = [];
      if (this.isMeeting == false) {
        const meeting = {
          scale: timeScale,
          type: "meetings",
        };

        //api call from meeting
        let meetingResponse = await this.$axios.post(
          "USER_URL/chartdata/ip",
          meeting
        );
        if (timeScale === "weekly") {
          this.generateWeekGraph("meeting", meetingResponse.data.data[0]);
        } else if (timeScale === "yearly") {
          this.generateYearGraph("meeting", meetingResponse.data.data[0]);
        } else if (timeScale === "monthly") {
          this.generateMonthGraph("meeting", meetingResponse.data.data[0]);
        } else if (timeScale === "daily") {
          this.generateDayGraph("meeting", meetingResponse.data.data[0]);
        }
        meetingArray = this.meetingData;
      }
      if (this.isTree == false) {
        const tree = {
          scale: timeScale,
          type: "treePLanted",
        };
        let treeResponse = await this.$axios.post(
          "USER_URL/chartdata/ip",
          tree
        );
        if (timeScale === "weekly") {
          this.generateWeekGraph("tree", treeResponse.data.data[0]);
        } else if (timeScale === "yearly") {
          this.generateYearGraph("tree", treeResponse.data.data[0]);
        } else if (timeScale === "monthly") {
          this.generateMonthGraph("tree", treeResponse.data.data[0]);
        } else if (timeScale === "daily") {
          this.generateDayGraph("tree", treeResponse.data.data[0]);
        }
        treeArray = this.treeData;
      }
      if (this.isAmbassadorTree == false) {
        const ambTree = {
          scale: timeScale,
          type: "treePLanted",
        };
        let ambTreeResp = await this.$axios.post(
          "USER_URL/ambassadorGraph",
          ambTree
        );
        if (timeScale === "weekly") {
          this.generateWeekGraph("ambassador", ambTreeResp.data.data[0]);
        } else if (timeScale === "yearly") {
          this.generateYearGraph("ambassador", ambTreeResp.data.data[0]);
        } else if (timeScale === "monthly") {
          this.generateMonthGraph("ambassador", ambTreeResp.data.data[0]);
        } else if (timeScale === "daily") {
          this.generateDayGraph("ambassador", ambTreeResp.data.data[0]);
        }
        ambassadorTreeArr = this.AmbTreeData;
      }

      if (this.myChart) {
        this.myChart.destroy();
      }
      // Generate the graph
      var ctx = document.getElementById("myChart").getContext("2d");
      this.myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: this.labels,
          datasets: [
            {
              data: treeArray,
              fill: false,
              borderWidth: 2,
              borderColor: "#3b7c20",
              pointBackgroundColor: "#3b7c20",
            },
            {
              data: meetingArray,
              fill: false,
              borderWidth: 2,
              borderColor: "#926792",
              pointBackgroundColor: "#926792",
            },
            {
              data: ambassadorTreeArr,
              fill: false,
              borderWidth: 2,
              borderColor: "#8B0000",
              pointBackgroundColor: "#8B0000",
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  maxTicksLimit: 20,
                  fontSize: 12,
                  fontStyle: "500",
                  suggestedMax: 30,
                  fontColor: "#000000",

                  userCallback: function (label, index, labels) {
                    if (Math.floor(label) === label) {
                      return label;
                    }
                  },
                },
                gridLines: {
                  zeroLineColor: "#000000",
                  drawBorder: true,
                },
              },
            ],
            xAxes: [
              {
                gridLines: {
                  zeroLineColor: "#000000",
                  color: "#FFFFFF",
                  display: true,
                  drawBorder: true,
                },

                ticks: {
                  // maxTicksLimit: 20,
                  beginAtZero: true,
                  suggestedMax: 10,
                  fontColor: "#000000",
                  fontSize: 12,
                  fontStyle: "500",
                },
              },
            ],
          },
          legend: {
            display: false, //This will do the task
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
        },
      });
    },
    async hideMeeting() {
      this.isMeeting = !this.isMeeting;

      if (this.isMeeting === true) {
        this.button_active_meeting = false;
      } else {
        this.button_active_meeting = true;
      }
      await this.generateChart(this.selectedTimeScale.value);
    },
    async hideTree() {
      this.isTree = !this.isTree;

      if (this.isTree === true) {
        this.button_active_tree = false;
      } else {
        this.button_active_tree = true;
      }

      await this.generateChart(this.selectedTimeScale.value);
    },
    async hideAmbTree() {
      this.isAmbassadorTree = !this.isAmbassadorTree;

      if (this.isAmbassadorTree === true) {
        this.button_active_ambassador = false;
      } else {
        this.button_active_ambassador = true;
      }

      await this.generateChart(this.selectedTimeScale.value);
    },
    // ----------Year grapgh code -----------
    generateYearGraph(type, data) {
      let graphData = [];
      let graphLabels = [];

      let y = moment().year();
      for (let i = y - 4; i <= y; i++) {
        graphLabels.push(i);
      }
      graphLabels.map((label) => {
        let flag = true;
        data.map((x) => {
          if (x.frequency === label) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      } else if (type == "ambassador") {
        this.AmbTreeData = graphData;
      }
    },
    // ----------Year grapgh code end-----------

    //---------week grapgh code start-------------
    generateWeekGraph(type, data) {
      let graphData = [];
      let graphLabels = [];

      for (let x = 0; x < 12; x++) {
        graphLabels.push(moment().subtract(x, "weeks").week());
      }
      graphLabels.reverse();
      graphLabels.map((label) => {
        let flag = true;
        data.map((x) => {
          if (x.frequency + 1 === label) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      } else if (type == "ambassador") {
        this.AmbTreeData = graphData;
      }
    },
    // ------------ week graph code end-----------------------
    // ------------ Month graph code start-----------------------
    generateMonthGraph(type, data) {
      let graphLabels = [];
      let graphData = [];
      let month = [];
      for (let i = -12; i <= 0; i++) {
        month.push(moment().add(i, "months"));
      }
      month.map((element) => {
        let flag = true;
        data.map((x) => {
          if (moment(element).isSame(x.frequency, "month")) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
        graphLabels.push(moment(element).format("MMM YYYY"));
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      } else if (type == "ambassador") {
        this.AmbTreeData = graphData;
      }
    },
    // ------------ Month graph code end-----------------------
    generateDayGraph(type, data) {
      let graphLabels = [];
      let graphData = [];
      let month1 = [];
      for (let i = -34; i <= 0; i++) {
        month1.push(moment().add(i, "day"));
      }
      month1.map((element) => {
        let flag = true;
        data.map((x) => {
          if (moment(element).isSame(x.frequency, "day")) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
        graphLabels.push(moment(element).format("DD MMM YYYY"));
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      } else if (type == "ambassador") {
        this.AmbTreeData = graphData;
      }
    },
  },
};
</script>

<style>
.purplebtn {
  background: #eaeaea !important;
  color: #000;
}
.purplebtn.i-am-active {
  background: #926792 !important;
  color: #fff !important;
  transform: translateY(-3px);
  box-shadow: -1px 1px 4px #00344f !important;
}
.purplebtn.i-am-active span {
  transform: scale(1.3);
  display: block;
}

.greenbtn {
  background: #eaeaea !important;
  color: #000;
}
.greenbtn.i-am-active {
  background: #3b7c20 !important;
  color: #fff !important;
  transform: translateY(-3px);
  box-shadow: -1px 1px 4px #00344f !important;
}
.greenbtn.i-am-active span {
  transform: scale(1.3);
  display: block;
}
.maroonbtn {
  background: #eaeaea !important;
  color: #000;
}
.maroonbtn.i-am-active {
  background: #8b0000 !important;
  color: #fff !important;
  transform: translateY(-3px);
  box-shadow: -1px 1px 4px #00344f !important;
}
.maroonbtn.i-am-active span {
  transform: scale(1.3);
  display: block;
}
.chartOuter {
  width: 100%;
  height: calc(100vh - 300px);
}
@media (max-width: 1199px) {
.chartOuter {
min-width:592px;;
}
}
@media (max-width: 991px) {
.chartOuter {
    min-width: 550px;
}
}
@media (max-width: 855px) {
  .chartOuter {
    min-width: 465px;
    height: 210px!important;
  }
}
@media (max-width: 767px) {
.chartOuter {
  height: 230px !important;
}
}
@media (max-width: 576px) {
  .chartOuter {
    min-width: 260px;
    height: 200px!important;
  }
}
@media (max-width: 575px) {
  .purplebtn,
  .greenbtn,
  .maroonbtn {
    font-size: 9px !important;
  }
}
</style>
