<template>
  <v-app>
    <!-- Header -->
    <ComHeader></ComHeader>
    <section class="cert_frame">
      <div v-if="!iferror" class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>Redirecting to Subscription...</h2>
          </div>
        </div>
      </div>
       <div v-if="iferror" class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>{{messagetext}}</h2>
          </div>
        </div>
      </div>
    </section>

    <Footer></Footer>
  </v-app>
</template>
<script>
import ComHeader from "../components/ComHeader";
import Footer from "~/components/Footer";
import validations from "@/utils/validations";
// Vue.use(VeeValidate)

export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      iferror: false,
      messagetext:""
    };
  },
  async mounted() {
    var pathname = window.location.search;
    var orgId = "";
    if (pathname.indexOf("&") != -1) {
      orgId = pathname.substring(
        pathname.lastIndexOf("?") + 1,
        pathname.indexOf("&")
      );
    } else {
      pathname = pathname.split("?");
      orgId = pathname[1];
    }
    await this.$axios
      .post(`USER_URL/subscribe/${orgId}`)
      .then((response) => {
        if (response.status == 202) {
          this.iferror=true;
            this.messagetext = response.data.message;
          if (this.$auth.loggedIn == false) {
            setTimeout(() => {
            this.$router.push("/");
          }, 4000);
          } else {
            setTimeout(() => {
            this.$router.push("invoice");
          }, 4000);
          }
        } else {
          window.location.href = response.data.data;
        }
      })
      .catch((error) => {
        console.log("errrrr", error);
      });
  },
};
</script>