<template>
  <div>
    <body style="background-color: #fff">
      <!-- Header -->
      <ComHeader></ComHeader>

      <section class="cert_frame">
        <div class="d-flex justify-content-center w-100">
          <div class="bnnr">
            <div class="main_sec">
              <h2>Forgot Password</h2>
              <div class="cnt_card">
                <v-form class="login_form" v-model="valid" id="myForm">
                  <div class="form-group">
                    <!-- <input type="text" class="form-control" placeholder="Enter Your Email Address"> -->
                    <v-text-field
                      v-model="emailInfo.email"
                      placeholder="Enter Your Email Address"
                      class="form-control"
                      id="emailent"
                      :rules="[required('email'), emailFormat()]"
                      @keyup="validateEmailAddress"
                      value
                    />
                  </div>
                  <div class="form-group">
                    <!-- <input type="text" class="form-control" placeholder="Enter Your Email Address"> -->
                    <v-text-field
                      v-model="emailInfo.example"
                      placeholder="test"
                      class="form-control main-hide"
                    />
                  </div>
                  <div class="bxBtn">
                    <!-- <button class="btn green_btn">
                                    SUBMIT
                  </button>-->
                    <v-btn
                      class="btn green_btn"
                      type="reset"
                      id="subBtntr"
                      @click="
                        enable();
                        submitForm(emailInfo);
                      "
                      :disabled="!valid"
                      >Submit</v-btn
                    >
                  </div>
                </v-form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>-->
    </body>
    <!-- Footer -->
    <Footer></Footer>
  </div>
</template>
<script>
import ComHeader from "../components/ComHeader";
import Footer from "~/components/Footer";
import validations from "@/utils/validations";

export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      emailInfo: {
        email: "",
      },
      valid: false,
      ...validations,
    };
  },
  methods: {
    enable() {
      this.valid = true;
    },
    validateEmailAddress: function (e) {
      if (e.keyCode === 13) {
        let emailVal = document.getElementById("emailent").value;
        let regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,24})+$/;
        if (emailVal.match(regex)) {
          let link = document.getElementById("subBtntr");
          link.click();
        }
      }
    },
    async submitForm(emailInfo) {
      this.valid = false;
      //console.log("email", emailInfo.email);
      await this.$axios
        .post("AUTH_URL/v1/sendPasswordResetLink-reskin", {
          email: emailInfo.email,
        })
        .then((response) => {
          //console.log("resonse", response);
          var textColor = "green";
          if (response.status == 202) {
            textColor = "red";
          }
          this.$store.dispatch("snackbar/setSnackbar", {
            text: response.data.message,
            timeout: 5000,
            color: textColor,
          });
          //document.getElementById("emailent").value = "";
          //this.emailInfo.email = "";
        })
        .catch((e) => {
          console.log("error", e);
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Some error occured",
            timeout: 3000,
          });
        });
      //this.emailInfo.email = "";
    },
  },
};
</script>
<style>
.main-hide {
  display: none;
}
</style>
