<template>
  <v-app>
    <!-- <Header></Header> -->
      <!-- <h1>Login</h1> -->
      <LoginAuthForm buttonText="Login"/>
  </v-app>
</template>
<script>
import LoginAuthForm from "../components/loginauth";
//import Header from "../components/Header";
export default {
  /* middleware: "guest", */
  components: {
    LoginAuthForm
  },
  //methods: {
    // async userLogin(loginInfo) {
    //   try {
    //     await this.$auth
    //       .loginWith("local", {
    //         data: loginInfo
    //       })
    //       .then(response => {
    //         const info = {
    //           type: response.data.type
    //         };
    //         // localStorage.setItem("UserDetails", info);
    //         localStorage.setItem("UserDetails", JSON.stringify(info));

    //         // console.log("login Token details:", response.data);
    //         let token = response.data.token;
    //         this.$auth.setToken("local", "token=" + token);

    //         this.$axios.setHeader("Authorization", "token=" + token);
    //         this.$auth.ctx.app.$axios.setHeader(
    //           "Authorization",
    //           "token=" + token
    //         );

    //         // this.$auth.$storage.setLocalStorage(key, response.data, isJson);
    //         // let LoggedUSer = this.$auth.$storage.getLocalStorage(key);

    //         // console.log("LOGGED USER :", LoggedUSer);

    //         // localStorage.setItem("pwd", JSON.stringify(data.password));
    //         // var retrievedObject = JSON.parse(localStorage.getItem("authToken"));
    //         // console.log("retrievedObject: ", retrievedObject);
    //         this.$store.dispatch("snackbar/setSnackbar", {
    //           text: "Thanks for signing in",
    //           timeout: 2000
    //         });
    //         if (this.$auth.loggedIn === true) {
    //           if (response.data.type === "initiative_partner") {
    //             this.$router.push("/setup");
    //           } else {
    //             this.$router.push("/userDashboard");
    //           }
    //         } else {
    //           this.$router.push("/");
    //         }
    //       })
    //       .catch(e => {
    //         console.log("error", e.status, e.message);
    //         this.$store.dispatch("snackbar/setSnackbar", {
    //           text: "Invalid Username/Password",
    //           timeout: 2000,
    //           color: "red"
    //         });
    //         this.$router.push("/");
    //       });

    //     // console.log("reponse in store :", this.$auth.state);
    //   } catch {
    //     // this.$store.dispatch("snackbar/setSnackbar", {
    //     //   text: "Something went wrong ..... Please try again !!!",
    //     //   color: "red"
    //     // });
    //     this.$router.push("/");
    //   }
    // }
  //}
  async mounted() {
    if (this.$auth.loggedIn == true) {
      let authUser = JSON.parse(localStorage.getItem("UserDetails"));
      if (authUser.type === "initiative_partner") {
        let redirect_url = this.$route.query.redirect || '/setup'
        this.$router.push(redirect_url);
        } else {
        this.$router.push("/userDashboard");
      }
    }
  },

};
</script>

