<template>
  <div>
    <header>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-3 col-12 d-flex align-items-center justify-content-between">
            <a href="https://sustainable-meeting.com" id="forgotmainlogo" target="_blank">
              <img
                src="../assets/images/certificate_images/smlogo.svg"
                style="width:158px;"
                class="img-fluid"
              />
            </a>
          </div>
          <div class="col-md-9 col-12">
            <div class="toplogin">
              <!-- <a href="/invitationlUsers" target="_blank">
                            <button class="btn loginbutton">
                                By Invitation Only
                            </button>
              </a>-->
            </div>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="alert alert-danger text-center not_found_text">
            <strong>No Result Found!</strong>
          </div>
        </div>
      </div>
    </section>

    <footer class="cert_footer">
      <div class="ftr_brd">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-3">
            <figure class="ftr_img">
              <img src="../assets/images/smlogo.svg" class="img-fluid logoImg" style="width:200px;" />
            </figure>
          </div>

          <div class="col-12 col-md-12">
            <div class="ftrCnt">
              <div class="conDetl">
                <h6>
                  <span>Phone:</span> 020 8798 0476
                </h6>
                <h6>
                  <span>Email:</span> partners@sustainable-meeting.com
                </h6>
              </div>

              <div class="btm_ftr">
                <a href="#" class="pl-0">©2020 Sustainable Meeting</a>
                <div class="adr">
                  <span>The Green Earth Appeal</span>
                  Hollinwood Business Centre, Albert Street, Oldham, OL8 3QL -
                </div>
                <a href="#">Terms and Conditions</a>
                <a href="#" class="pr-0" style="border: none;">Privacy Policy.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<style>
.copyrightsustainable {
  position: fixed;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert.not_found_text {
  margin-top: 200px;
  width: 100%;
}
</style>