<template>
  <div>
    <Header :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Header>
    <section class="frame">
      <!-- Sidebar -->

      <div class="conSidebar">
        <ul class="navigation_bar">
          <li>
            <nuxt-link to="/Dashboard">
              <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/Inviteusers">
              <img src="../assets/images/invite-users.svg" class="img-fluid" />Invite Users
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/setup">
              <img src="../assets/images/setup.svg" class="img-fluid" />Setup
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/account" class>
              <img src="../assets/images/account-details.svg" class="img-fluid" />Account Details
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/invoice">
              <img src="../assets/images/invoices-history.svg" class="img-fluid" />Invoices History
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/dnsVerification">
              <img src="../assets/images/domain-dns.svg" class="img-fluid" />Domain Verification
            </nuxt-link>
          </li>
        </ul>

        <footer style="border:none;">
          <div class="sdbr_ftr">
            <p>Download Sustainable Meeting</p>
            <button class="btn btn_card s_m_downloadbutton" @click.stop="dialog = true">Download</button>
            <v-layout row justify-center>
              <v-dialog v-model="dialog" max-width="375">
                <v-card class="p-3 p-md-4">
                  <v-card-title class="headline justify-centre pl-0">Sustainable Meeting Plugin</v-card-title>

                  <v-row align="center">
                    <v-col cols="12">
                      <v-subheader class="justify-centre pl-0">Choose Meeting Platform</v-subheader>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12">
                      <v-select
                        v-model="select"
                        :items="items"
                        item-text="state"
                        label="Select"
                        persistent-hint
                        return-object
                        single-line
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-card-actions class="popbtn">
                    <v-spacer></v-spacer>

                    <v-btn
                      color="green darken-1"
                      class="btn btn_card t_Btn"
                      @click="close()"
                    >Download</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-layout>
          </div>
        </footer>

        <ul class="navigation_bar helpBar">
          <li>
            <div class="btn-group w-100">
              <a
                type
                href
                class="w-100"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >Help</a>
              <div
                class="dropdown-menu"
              >
                <ul class="navigation_bar p-0 inrDrp">
                  <li>
                    <nuxt-link to="/feedback">Request a Feature</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/bugs">Submit a Bug</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="#">Docs/FAQ</nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Content Side -->
      <div class="contSec">
        <ul class="d-block d-sm-block d-md-none top_count m-0 p-0">
          <li>
            <div class="top_image">
              <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
            </div>

            <ul class="numberBx">
              <li>{{ meetingcount[0] }}</li>
              <li>{{ meetingcount[1] }}</li>
              <li>{{ meetingcount[2] }}</li>
              <li>{{ meetingcount[3] }}</li>
            </ul>
          </li>
          <li>
            <div class="top_image">
              <img src="../assets/images/plant-trees.svg" class="img-fluid" />
            </div>
            <ul class="numberBx">
              <li>{{ treecount[0] }}</li>
              <li>{{ treecount[1] }}</li>
              <li>{{ treecount[2] }}</li>
              <li>{{ treecount[3] }}</li>
            </ul>
          </li>
        </ul>

        <div class="cntSd" style="height: 100%;">
          <div id="hide_white" style="display: none;">
          </div>
          <div class="row" style="height: 100%;">
            <div class="col-12 col-sm-12 col-md-12 mblRes pt-0">
              <div class="whtBx" style="height: 100%;">
                <div class="card-opr col-12 col-sm-12 col-md-7">
                  <div style="width:100%">
                    <h2>Add User</h2>
                  </div>
                  <v-form
                    name="inviteform"
                    v-model="valid"
                    id="myForm"
                    ref="form"
                    :lazy-validation="lazy"
                    @submit="submitForm(setInfo)"
                  >
                    <v-text-field
                      class="input-wrap"
                      v-model="setInfo.first_name"
                      placeholder="First Name"
                      :rules="[rules.mincheck,required('First Name')]"
                    />
                    <v-text-field
                      class="input-wrap"
                      v-model="setInfo.last_name"
                      placeholder="Last Name"
                      :rules="[rules.mincheck,required('Last Name') ]"
                    />
                    <v-text-field
                      class="input-wrap"
                      v-model="setInfo.email"
                      placeholder="Email Address"
                      :rules="[rules.mincheck, emailFormatinvite()]"
                    />
                    <div class="bxBtn">
                      <v-btn
                        type="submit"
                        id="deletebutton"
                        @click="
                                disabling();
                                submitForm(setInfo);
                                "
                        :disabled="!valid"
                        class="btn_card t_Btn d-none d-sm-none d-md-block"
                      >Submit</v-btn>

                      <v-btn
                        type="reset"
                        id="deletebutton"
                        @click="
                                disabling();
                                submitForm(setInfo);
                                "
                        :disabled="!valid"
                        class="btn_card t_Btn d-block d-sm-block d-md-none"
                      >Submit</v-btn>
                    </div>
                  </v-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
    <div id="loading" style="display: none;">
      <img id="loading-image" src="../assets/images/loader.gif" alt="Loading..." />
    </div>
  </div>
</template>
<script>
import Trialdays from "~/components/Trialdays";
import Footer from "~/components/Footer.vue";
import Header from "~/components/Header";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";

export default {
  components: {
    Header,
    Trialdays,
    Footer
  },

  data() {
    return {
      valid: false,
      dialog: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" }
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,
      isTrialPeriod: false,
      trialCount: 0,

      setInfo: {
        first_name: "",
        last_name: "",
        email: ""
      },

      lazy: false,
      ...validations,
      rules: {
        mincheck: value => {
          if (value === "" || value === undefined) {
            return false;
          }
        }
      }
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    await store.dispatch("invoiceHistory/getSubscribeDetails");
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      $("#loading").show();
      $("#hide_white").show();
      let urlVal = this.$route;

      if (urlVal.query.email) {
        let paramVal = urlVal.query.email;
        this.setInfo.email = paramVal;

        let eData = {
          email: paramVal
        };
        await this.$axios
          .post("AUTH_URL/v1/getSingleUserData", eData)
          .then(response => {
            if (
              response.status === 201 &&
              response.data.resultData === "exist"
            ) {
              this.$store.dispatch("snackbar/setSnackbar", {
                text: "User already exist........!",
                timeout: 2300,
                color: "red"
              });

              this.$router.push("/setup");
            } else {
              $("#hide_white").hide();
              $("#loading").hide();
            }
          })
          .catch(e => {
            $("#loading").hide();
            this.statusVal = false;
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Something went wrong ...!",
              color: "red"
            });
          });
      }
    }
  },

  methods: {
    //update account details
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
        //console.log("Desktop plugin selected");
      }
      if (
        this.select.state &&
        this.select.state == "Sustainable Meeting Web Outlook Plugin"
      ) {
        //console.log("Webplugin plugin selected");
        window.location.href = "USER_URL/download/outlook-web-plugin";
      }
      //console.log(this.select.state);
    },

    async submitForm(setInfo) {
      this.valid = false;
      $("#loading").show();
      const userdetails = {
        first_name: setInfo.first_name,
        last_name: setInfo.last_name,
        email: setInfo.email
      };

      //console.log("userdetails", userdetails);

      await this.$axios
        .post("AUTH_URL/v1/inviteuserReskin", userdetails)
        .then(response => {
          $("#loading").hide();
          if (response.status == 202) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "User already exists",
              timeout: 3000,
              color: "red"
            });
          }
          if (response.status == 200) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "User Added Successfully",
              timeout: 3000
            });
            setTimeout(function() {
              window.location.href = "/Inviteusers";
            }, 3000);
          }
        })
        .catch(e => {
          $("#loading").hide();
          console.log("error");
        });
      setInfo.first_name = "";
      setInfo.last_name = "";
      setInfo.email = "";
      document.getElementById("myForm").reset();
    },
    disabling() {
      this.valid = false;
    }
  }
};
</script>

<style>
.card-opr {
  position: relative;
  flex-direction: column;
  background-color: #fff;
  border: none !important;
  border-radius: 0 !important;
  display: inline-block;
  padding: 40px;
}
#hide_white {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  background-color: #fff;
  z-index: 98;
  text-align: center;
}
</style>