<template>
  <div>
    <Header :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Header>
    <Notifications></Notifications>
    <section class="frame">
      <!-- Sidebar -->
      <Sidebar></Sidebar>

      <!-- ------------------Mobile nav-------------------------------- -->

      <!----------------------------- Sidebar ------------------------------------>

      <!-- Content Side -->
      <div class="contSec">
          <Countboard :meetingcount="meetingcount" :treecount="treecount" :ambassadorTree="ambassadorTree"></Countboard>
        <div class="cntSd invoice">
          <div class="row">
            <v-col cols="12 pt-0 pb-0">
              <v-card>
                <v-card-title class="invoiceHistory card">
                  <p
                    v-if="this.trialMsg === true"
                    style="font-size:14px; color:black; text-align:left; width: 100%;margin-bottom: 0px;"
                  >
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Your subscription to GoCardless will be activated only after free trial period is over.</p>

                  <p
                    v-if="this.ReSubscriptionMsg === true"
                    style="font-size:14px; color:red; text-align:left; width: 100%; margin-bottom: 0px;"
                  >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Please subscribe to continue with Sustainably Run Meetings
                  </p>

                  <p
                    v-if="this.warningMsg === true"
                    style="font-size:14px; color:red; text-align:left; width: 100%; margin-bottom: 0px;"
                  >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Your Subscription has been cancelled. Please contact Administrator
                  </p>

                  <h2 class="fltr">Invoices History</h2>

                  <v-spacer></v-spacer>
                  <v-btn
                    class="btn_card t_Btn"
                    v-if="this.subscribeBtn === true"
                    @click="saveSubscribe()"
                  >Subscribe to GoCardless</v-btn>
                  <v-btn
                    class="btn_card redBtn mr-2"
                    v-if="this.cancelBtn === true"
                    :disabled="cancelBtnDisable"
                    @click.stop="dialog = true"
                  >{{cancelText}}</v-btn>
                  <v-btn
                    class="btn_card t_Btn mr-2"
                    v-if="this.ResubscribeBtn === true"
                    @click="saveSubscribe()"
                  >Re-Subscribe to GoCardless</v-btn>
                  <!-- <v-spacer></v-spacer> -->

                  <p
                    v-if="this.cancelBtn === true"
                    style="font-size:14px; color:black; margin-top:20px;"
                  >
                    <b>Subscription ID</b>
                    : {{ subscriptionID }}
                  </p>
                </v-card-title>
              </v-card>
            </v-col>

            <v-col cols="12 pt-0">
              <v-card>
                <v-card-title
                  style="color:Green;font-size:18px;font-family:bold;"
                  class="invoiceHistory"
                >
                  <!-- <v-spacer></v-spacer>  -->
                  <v-text-field
                    class="input-wrap"
                    v-model="search"
                    append-icon="mdi-magnify"
                    placeholder="Filter by invoice number or status"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <div class="table-responsive">
                <v-data-table :headers="headers" :items="desserts" :search="search" class="inv_tbl" :mobile-breakpoint="0">
                  <template v-slot:item="row">
                    <!-- <span v-if="row.payNow=='yes'">Hello</span> -->
                    <tr>
                      <td>{{row.item.invoiceNumber}}</td>
                      <td>{{row.item.InvoiceDate}}</td>
                      <td>{{row.item.periodStartDate}}</td>
                      <td>{{row.item.periodEndDate}}</td>
                      <td>{{row.item.numberOfTrees}}</td>
                      <td>{{row.item.amount}}</td>
                      <td class="tablePaybtn">
                        {{row.item.status}}
                        <span v-if="row.item.payNow=='yes'">
                          <v-btn
                            class="btn btn_card t_Btn"
                            @click="makePendingPayment(row.item.invoiceNumber)"
                          >Pay Now</v-btn>
                        </span>
                      </td>
                    </tr>
                  </template>
                </v-data-table>
                </div>
              </v-card>
            </v-col>

            <!-- --------------------------------table end---------------------------------------------- -->
            <!-- ----------POPUP ------------- -->
            <v-row justify="center">
              <v-dialog v-model="dialog" max-width="290">
                <v-card>
                  <v-card-title class="headline">
                    <h4>Cancel Subscription?</h4>
                  </v-card-title>

                  <v-card-text>Are you sure , you want to cancel the subscription?</v-card-text>
                  <v-card-actions class="sub_btnGrp">
                    <v-btn class="btn_card t_Btn" @click="cancelSubscribe()">YES</v-btn>
                    <v-btn
                      class="btn_card t_Btn"
                      style="background-color:red !important"
                      @click="dialog = false"
                    >NO</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>
            <!-- --------------END POPUP------------------------- -->
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <div v-if="isTrialPeriod">
      <Trialdays :trialCount="trialCount"></Trialdays>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Trialdays from "../components/Trialdays";
import Header from "../components/Header";
import Footer from "~/components/Footer.vue";
import moment from "moment";
import Sidebar from "../components/Sidebar.vue";
import Countboard from "../components/Countboard.vue";
import Notifications from "../components/Notifications";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Trialdays,
    Footer,
    Sidebar,
    Countboard,
    Notifications,
  },
  data() {
    return {
      search: "",
      headers: [
        {
          text: "INVOICE NUMBER",
          // align: "start",
          value: "invoiceNumber"
        },
        { text: "INVOICE DATE", value: "InvoiceDate" },
        { text: "START DATE", value: "periodStartDate" },
        { text: "END DATE", value: "periodEndDate" },

        { text: "NO OF TREES", value: "numberOfTrees" },
        { text: "AMOUNT", value: "amount" },
        { text: "STATUS", value: "status" }
      ],
      desserts: [],
      cancelBtn: false,
      cancelBtnDisable: false,
      cancelText: "Cancel",
      subscribeBtn: false,
      ResubscribeBtn: false,
      subscriptionID: "",
      ReSubscriptionMsg: false,
      pendingStatus: "",
      trailDate: "",
      InvoiceArray: [],
      trialMsg: false,
      warningMsg: false,

      dialog: false,
      plugin_download: false,
      select: { state: "Sustainable Meeting Desktop Outlook Plugin" },
      items: [
        { state: "Sustainable Meeting Desktop Outlook Plugin" },
        { state: "Sustainable Meeting Web Outlook Plugin" }
      ],
      meetingcount: this.$store.state.user.count,
      treecount: this.$store.state.user.treecount,
      ambassadorTree: this.$store.state.user.ambassador_trees,
      isTrialPeriod: false,
      trialCount: 0
    };
  },

  async fetch({ store }) {
    await store.dispatch("invoiceHistory/loadInvoice");
    await store.dispatch("invoiceHistory/getSubscribeDetails");
    await store.dispatch("user/getCount");
    await store.dispatch("user/getAmbassadorCount");
    await store.dispatch("invoiceHistory/getInvoiceStatus");
  },
  async beforeMount() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      //For free trial end
      const trialEnd = this.$store.state.invoiceHistory.subscribe.trialEnd;
      //console.log("in Subscribe details...:", trialEnd);
      if (trialEnd) {
        const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        const firstDate = new Date().setHours(23, 59, 58, 0);
        const secondDate = new Date(trialEnd);
        if (secondDate > firstDate) {
          this.isTrialPeriod = true;
          this.trialCount =
            Math.round(Math.abs((firstDate - secondDate) / oneDay)) + 1;
        }
        // console.log("isTrialPeriod", this.isTrialPeriod);
        // console.log("trialCount", this.trialCount);
      }
    }
  },
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      if (
        this.$route.query.accountActive &&
        this.$route.query.accountActive == "yes"
      ) {
        // alert(this.$route.query.accountActive);
        this.$store.dispatch("snackbar/setSnackbar", {
          text: "Your account has been activated successfully",
          timeout: 4000,
        });
        this.$router.replace("invoice");
      }
      // console.log(
      //   "in Subscribe details...:",
      //   this.$store.state.invoiceHistory.subscribe
      // );

      var today = new Date();

      const subscribeInfo = this.$store.state.invoiceHistory.subscribe;
      const invoiceStatus = this.$store.state.invoiceHistory.invoiceStatus;
     // console.log("**** pending invoice status ***", invoiceStatus);

      this.trailDate = subscribeInfo.trialEnd;
      // console.log(
      //   "test data in invoice ... :",
      //   this.$store.state.invoiceHistory.invoice.data
      // );

      // date converted and push details to  invoice table
      let invoiceInfo = this.$store.state.invoiceHistory.invoice.data;
      const updatedTestimonials = invoiceInfo.forEach((testo, index) => {
        this.InvoiceArray.push({
          ...testo,
          InvoiceDate: moment(testo.invoiceDate).format("YYYY-MM-DD")
        });
      });
      this.desserts = this.InvoiceArray;
      this.pendingStatus = this.$store.state.invoiceHistory.pendingInvoice;
      // console.log("subscribeInfo", subscribeInfo);
      /* If the status is force inactive, show the message alone */
      if (subscribeInfo.status === "force_inactive") {
        //console.log("Force Inactive case");
        this.warningMsg = true;
      } else {
        //console.log("else case of Force Inactive");
        /* else case of force inactive - check every condition here */
        if (subscribeInfo.status === "active") {
          //console.log("user status is active");
          if (
            subscribeInfo.subscriptions[0] &&
            subscribeInfo.subscriptions[0].subscriptionId
          ) {
            //console.log("subscription id is present");
            this.subscriptionID = subscribeInfo.subscriptions[0].subscriptionId;
            this.cancelBtn = true;
            if (this.isTrialPeriod == true) {
              this.trialMsg = true;
            }
          }
        } else if (invoiceStatus.subscribed) {
         // console.log("Already subscribed");
          if (invoiceStatus.pendingInvoice.length > 0) {
            //console.log("Have pending invoice");
            this.subscribeBtn = false;
            this.ResubscribeBtn = false;
            this.subscriptionID = "";
            this.cancelBtn = false;
          } else {
            //console.log("No pending invoice");
            this.ResubscribeBtn = true;
            if (this.isTrialPeriod == false) {
             // console.log("Trial period in resubscribe");
              this.ReSubscriptionMsg = true;
            }
          }
        } else {
          //console.log("Subscribe button case");
          this.subscribeBtn = true;
          if (this.isTrialPeriod == false) {
            //console.log("After Trial period in subscribe");
            this.ReSubscriptionMsg = true;
          }
        }
      }
    }
  },
  methods: {
    async saveSubscribe() {
      await this.$axios
        .post("USER_URL/sub-gocardless-reskin")
        .then(response => {
          if(response.status == 202){
          this.snackbar = true;
          this.text = response.data.message;
          this.color = "red";
          }else{
          //console.log("GO cardless ...... :", response.data);
          window.location.href = response.data.data;
          }
        })
        .catch((e) => {
          this.snackbar = true;
          this.text = "Error in subscribing to GoCardless";
          this.color = "red";
        });
    },
    async cancelSubscribe() {
      this.dialog = false;
      //console.log("CANCEL ID :", this.subscriptionID);
      const data = {
        subscriptionId: this.subscriptionID
      };
      this.cancelBtnDisable = true;
      this.cancelText = "Cancelling.. Please Wait..";

      await this.$axios
        .post("USER_URL/cancel-subscription-reskin", data)
        .then(response => {
          this.cancelBtn = false;
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "Your subscription has been cancelled successfully"
          });
          setTimeout(function() {
            window.location.reload();
          }, 3000);
        })
        .catch(e => {
          console.log("EROR in CANCEL SUBSCRIPTION", e);
        });
    },
    makePendingPayment(invoiceNumber) {
      window.location.href = "/stripePayment/" + invoiceNumber;
    }
  }
};
</script>
