<template>
  <div>
    <Header></Header>
    <Notifications></Notifications>
    <section class="frame">
      <Sidebar></Sidebar>

      <div class="contSec">
        <div class="cntSd">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="card whtBx">
                <div class="mtHd d-flex justify-content-between m-0">
                  <v-form ref="Invitationform" class="w-100">
                    <!-- <v-container> -->
                    <v-row>
                      <v-col cols="12" md="6">
                        <v-text-field
                          v-model="subject"
                          placeholder="Subject"
                          :rules="[required('subject'), minLength('Subject', 3), maxLength('Subject', 20)]"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" md="6" class="triggr_tm">
                        <VueCtkDateTimePicker
                          format="YYYY-MM-DD HH:mm a"
                          label="Certificate trigger time"
                          hint="Certificate trigger time"
                          :min-date="minDate"
                          v-model="date"
                          @input="getDate(date)"
                          class="v-input"
                        />
                        <p v-if="dateAlert===true" 
                          style="
                          font-size: 12px;
                          color: red;
                          text-align:initial;
                          font-weight: 400;
                          margin-bottom:0px"
                          >Enter date & time</p>

                      </v-col>
                    </v-row>
                    <!-- --------------------------------------------------------- -->
                    <div class="col-12 col-sm-12 col-md-12">
                      <div>
                        <!-- ----------------------------------------------------------------- -->
                        <v-row justify="center" v-if="this.desserts.length < 30">
                          <!-- <template v-slot:activator="{ on, attrs }"> -->
                          <v-btn
                            dark
                            style="margin-top:15px; margin-bottom:20px !important;"
                            class="mb-2 btn btn_card t_Btn v-btn"
                            data-toggle="modal"
                            data-backdrop="static"
                            data-keyboard="false"
                            data-target="#exampleModalCenter2"
                          >Add New Invitee</v-btn>

                          <div
                            class="modal fade mediaS-pop"
                            id="exampleModalCenter2"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="cropModalTitle"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content cmn_modal dtlBtnSec">
                                <div
                                  class="modal-header d-flex align-items-center justify-content-center"
                                >
                                  <!-- <img src="../assets/images/sendIcon.png" class="img-fluid" /> -->
                                  <h3>{{ formTitle }}</h3>
                                </div>
                                <div class="modal-body">
                                  <!-- <p>Are you sure you want to send invitaions ?</p> -->
                                  <v-form ref="form" class="modl_vld">
                                    <v-card-text class="pb-0">
                                      <v-row>
                                        <v-col cols="12">
                                          <v-text-field
                                            v-model="editedItem.first_name"
                                            placeholder="First name"
                                            :rules="[required('first name')]"
                                          ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                          <v-text-field
                                            v-model="editedItem.last_name"
                                            placeholder="Last name"
                                            :rules="[required('last name')]"
                                          ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                          <v-text-field
                                            v-model="editedItem.email"
                                            placeholder="Email"
                                            :rules="[required('email'), emailFormat()]"
                                          ></v-text-field>
                                        </v-col>
                                      </v-row>
                                      <p
                                        v-if="emailAlert=== true"
                                        style="font-size: 12px;
                                        color: red;
                                        font-weight: 400;
                                        ">
                                        Invitee already exists</p>
                                    </v-card-text>

                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      
                                      <div
                                        class="bxBtn viewcsrbtnWrp w-100 mt-0"
                                        style="margin-top: 0!important"
                                      >
                                        <button
                                          class="btn btn_card t_Btn"
                                          style="margin-right:12px!important; background-color:#3b7c20 !important"
                                          type="button"
                                          @click="Save"
                                        >SAVE</button>

                                        <button
                                          class="btn btn_card deletBtn"
                                          type="button"
                                          data-dismiss="modal"
                                          @click="close"
                                        >CANCEL</button>
                                      </div>
                                    </v-card-actions>
                                  </v-form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </v-row>
                        <!-- ------------------------------------------------------------------------ -->
                        <v-data-table
                          :headers="headers"
                          :items="desserts"
                          :hide-default-footer="true"
                          class="elevation-1"
                          style="text-align: initial;"
                        >
                         
                          <template v-slot:item.actions="{ item }">
                            <v-icon
                              small
                              class="mr-2"
                              data-toggle="modal"
                              data-backdrop="static"
                              data-keyboard="false"
                              data-target="#exampleModalCenter2"
                              @click="editItem(item)"
                            >mdi-pencil</v-icon>
                            <v-icon
                              small
                              class="mr-2"
                              data-toggle="modal"
                              data-backdrop="static"
                              data-keyboard="false"
                              data-target="#exampleModalCenter1"
                               @click="removeInvitee(item)"
                            >mdi-delete</v-icon>

                            <!-- ----------- Delete invitee popup--------------------------------- -->

                            <div
                              class="modal fade mediaS-pop"
                              id="exampleModalCenter1"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="cropModalTitle"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content cmn_modal dtlBtnSec">
                                  <div
                                    class="modal-header d-flex align-items-center justify-content-center"
                                  >
                                    <img src="../assets/images/deleteIcon.png" class="img-fluid" />
                                    <h3>Delete Invitee</h3>
                                  </div>
                                  <div class="modal-body">
                                    <p>
                                      Are you sure you want to delete
                                      <b>{{selectedUser.first_name}}</b> ?
                                    </p>
                                    <div
                                      class="bxBtn viewcsrbtnWrp w-100 mt-0"
                                      style="margin-top: 0!important"
                                    >
                                      <button
                                        class="btn btn_card deletBtn"
                                        type="button"
                                        data-dismiss="modal"
                                      >CANCEL</button>

                                      <button
                                        class="btn btn_card t_Btn"
                                        type="button"
                                        data-dismiss="modal"
                                        @click="deleteItem(selectedUser)"
                                      >DELETE</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- _______________________________________________ -->
                          </template>
                        </v-data-table>
                      </div>

                      <v-snackbar v-model="snackbar" :timeout="timeout" :color="color">
                        {{ text }}
                        <template>
                          <v-btn :color="color" text @click="snackbar = false">Close</v-btn>
                        </template>
                      </v-snackbar>
                    </div>

                    <!-- ------------------------------- -->
                    <div class="invt_btn">
                      <v-btn class="btn btn_card t_Btn" @click="sendInvitation">Send Certificate</v-btn>
                    </div>
                  </v-form>
                </div>
              </div>
            </div>
            <!-- ---------------------------------------- -->
          </div>
        </div>
      </div>
    </section>

    <!-- -------------------------------------------- -->

    <div
      class="modal fade mediaS-pop"
      id="exampleModalCenter3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cropModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content cmn_modal dtlBtnSec">
          <div class="modal-header d-flex align-items-center justify-content-center">
            <!-- <img src="../assets/images/sendIcon.png" class="img-fluid" /> -->
            <h3>Send Certificate Email</h3>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to send certificate email?</p>
            <div class="bxBtn viewcsrbtnWrp w-100 mt-0" style="margin-top: 0!important">
              <button
                class="btn btn_card t_Btn"
                style="margin-right:12px !important; background-color:#3b7c20 !important"
                type="button"
                @click="saveInvitation"
              >SEND</button>
              <button class="btn btn_card deletBtn" type="button" data-dismiss="modal">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- _______________________________________________ -->

    <Footer></Footer>
  </div>
</template>

<script>
import Header from "../components/Header";
import Footer from "~/components/Footer.vue";
import validations from "@/utils/validations";
import moment from "moment";
import Sidebar from "../components/Sidebar.vue";
import Notifications from "../components/Notifications";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Footer,
    Sidebar,
    Notifications,
  },
  data: () => ({
    dateAlert: false,
    //------ Time Picker -------------------------
    time: null,
    modal2: false,
    dialogTime: false,
    emailAlert: false,
    selectedUser: "",
    indexValue: 0,

    // ----------Date picker-------------------------
    // date: new Date().toISOString().substr(0, 10),
    minDate: moment().subtract(1, "days"),
    date: null,
    disabledHours: null,
    modal: false,
    // -------- form-------------------
    // valid: false,
    // Organizername: "",
    subject: "",

    // --------Snackbar------------------------
    snackbar: false,
    text: "",
    color: "",
    timeout: 3000,

    // ----------Table-----------------------------------
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,

    dialog: false,
    headers: [
      {
        text: "Firstname",
        align: "start",
        sortable: false,
        value: "first_name"
      },
      { text: "Lastname", value: "last_name", sortable: false },
      { text: "Email", value: "email", sortable: false },
      { text: "Actions", value: "actions", sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      first_name: "",
      last_name: "",
      email: ""
    },
    defaultItem: {
      first_name: "",
      last_name: "",
      email: ""
    },
    ...validations
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add New Invitee" : "Edit Invitee";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },
  mounted() {
    let current_time = moment().format("HH");
  },

  methods: {
    initialize() {
      //   this.desserts = [];
      // if (this.desserts.length > 0) {
      // var self = this;
      // window.onbeforeunload = function(e) {
      //   if (self.$route.path == "/meeting") {
      //     e = e || window.event;
      //     //old browsers
      //     if (e) {
      //       e.returnValue = "Changes you made may not be saved";
      //     }
      //     //safari, chrome(chrome ignores text)
      //     confirm("Changes you made may not be saved?");
      //     return "Changes you made may not be saved";
      //   }
      // };
      // }
    },
    
    AddBtn() {
      this.dialog = true;
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    removeInvitee(item) {
      this.selectedUser = item;
    },

    deleteItem(item) {
      //console.log(" ITM EIIN delete .... :", item);
      const index = this.desserts.indexOf(item);

      this.desserts.splice(index, 1);
      this.selectedUser = "";
      //console.log("After deletion .... :", this.desserts);
    },

    close() {
      $("#exampleModalCenter2").modal("hide");

      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
      this.$refs.form.reset();
    },

    Save() {
      if (this.$refs.form.validate()) {
        var info = {};
        info = {
          email: this.editedItem.email,
          first_name: this.editedItem.first_name,
          last_name: this.editedItem.last_name
        };

        var emailCount = this.desserts.reduce(function(n, item) {
          return n + (item.email === info.email);
        }, 0);


        if (this.desserts.length <= 29) {
          if (this.editedIndex > -1) {
            var testArray = this.desserts;
            Object.assign(testArray[this.editedIndex], info);
            var testArrayEmailCount = testArray.reduce(function(n, item) {
              return n + (item.email === info.email);
            }, 0);
            if (testArrayEmailCount > 1) {
              this.commonEmailAlert();
            } else {
              Object.assign(this.desserts[this.editedIndex], info);
              this.close();
            }
          } else {
            if (emailCount === 0) {
              this.desserts.unshift(info);
              this.close();
            } else {
              this.commonEmailAlert();
            }
          }
        } else {
          this.snackbar = true;
          this.text = "Maximum no is: 30";
          this.color = "red";
        }
      } else {
        this.snackbar = true;
        this.text = "Please fill the form";
        this.color = "red";
      }
    },

    commonEmailAlert() {
      this.emailAlert = true;
      setTimeout(() => {
        this.emailAlert = false;
      }, 4000);
    },

    getDate(value) {
      if (value) {
        this.dateAlert = false;
      } else {
        this.dateAlert = true;
      }
    },

    sendInvitation() {
      if (this.$refs.Invitationform.validate() && this.date != null) {
        this.dateAlert = false;
        this.formValidation();
      } else if (this.$refs.Invitationform.validate) {
        if (this.date === null) {
          this.dateAlert = true;
        }
      } else if (this.date != null) {
        this.dateAlert = false;
      } else {
        this.dateAlert = true;
      }
    },

    formValidation() {
      if (this.$refs.Invitationform.validate() && this.desserts.length > 0) {
        if (this.date != null) {
          $("#exampleModalCenter3").modal("show");
        }
      } else {
        this.snackbar = true;
        this.text = "Please invite people";
        this.color = "red";
      }
    },

    getTimeZoneLabel(dateString) {
      return dateString.substring(
        dateString.indexOf("(") + 1,
        dateString.indexOf(")")
      );
    },

    getUniqueListBy(arr, key) {
      return [...new Map(arr.map(item => [item[key], item])).values()];
    },

    async saveInvitation() {
      $("#exampleModalCenter3").modal("hide");
      const dateInfo = moment(this.date, "YYYY-MM-DDTHH:mm:ss").format();
      let timeZoneName = this.getTimeZoneLabel(new Date(dateInfo).toString());

      const uniqueArray = this.getUniqueListBy(this.desserts, "email");

      const sendInfo = {
        timeZoneName: timeZoneName,
        subject: this.subject,
        meeting_date: dateInfo,
        invitees: uniqueArray
      };
      //console.log("Data infooo :", sendInfo);

      await this.$axios
        .post("AUTH_URL/v1/saveDemoMeeting", sendInfo)
        .then(response => {
          this.snackbar = true;
          this.text = "Certificate mail sent successfully";
          this.color = "green";
          this.minDate = moment().subtract(1, "days");
          this.date = null;
          this.desserts = [];
          this.$refs.Invitationform.reset();
        })
        .catch(e => {
          this.snackbar = true;
          this.text = "Oops something went wrong";
          this.color = "red";
        });
    },
    Logout: function() {
      localStorage.removeItem("UserDetails");
      this.$auth.logout();
      this.$router.push("/");
    }
  }
};
</script>

<style>
.field-label {
  visibility: hidden;
}
.v-messages__message {
  line-height: 20px;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* text-align: center; */
  /* top: 5px; */
  font-weight: 500;
}
</style>
