<template>
  <v-app style="background-color: #fff">
    <!-- Header -->
    <ComHeader></ComHeader>

    <section class="cert_frame">
      <div class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>Redirecting to your dashboard...</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <Footer></Footer>
  </v-app>
</template>
<script>
import ComHeader from "../components/ComHeader";
import Footer from "~/components/Footer";

export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      token: "",
    };
  },
  async beforeMount() {
    var pathname = window.location.search;
    var token = "";
    if (pathname.indexOf("&") != -1) {
      token = pathname.substring(
        pathname.lastIndexOf("?token=") + 1,
        pathname.indexOf("&")
      );
    } else {
      pathname = pathname.split("?token=");
      token = pathname[1];
    }
    const data = {
      tocken: token,
    };
    await this.$axios
      .post("AUTH_URL/v1/checkAuth", data, {
        withCredentials: true,
        crossDomain: true,
      })
      .then((response) => {
        // console.log("******** Login Response ******:", response);
        const info = {
          type: response.data.type,
        };
        localStorage.setItem("UserDetails", JSON.stringify(info));

        // console.log("token in response", response.data.token);
        let token = response.data.token;
        this.$auth.setToken("local", "token=" + token);

        this.$axios.setHeader("Authorization", "token=" + token);
        this.$auth.ctx.app.$axios.setHeader("Authorization", "token=" + token);

        if (response.data.type === "initiative_partner") {
          window.location.href = "/Dashboard";
        } else {
          window.location.href = "/userDashboard";
        }
      })
      .catch((error) => {
        this.$router.push("/");
        console.log("error", error);
      });
  },
};
</script>
