<template>
  <v-app>
    <!-- Header -->
    <ComHeader></ComHeader>

    <section class="cert_frame">
      <div class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>Set New Password</h2>
            <div class="cnt_card">
              <v-form class="login_form" ref="form">
                <div class="form-group m-0">
                  <v-text-field
                    v-model="firstName"
                    placeholder="Enter Your First Name"
                    :rules="[
                      required('First Name'),
                      minLength('Password', 2),
                      maxLength('Password', 30),
                    ]"
                  />
                </div>
                <div class="form-group m-0">
                  <v-text-field
                    v-model="lastName"
                    placeholder="Enter Your Last Name"
                    :rules="[
                      required('Last Name'),
                      minLength('Password', 2),
                      maxLength('Password', 30),
                    ]"
                  />
                </div>

                <div class="form-group m-0">
                  <v-text-field
                    v-model="companyName"
                    placeholder="Enter Your Company Name"
                    :rules="[
                      required('Company Name'),
                      maxLength('Company Name', 75),
                    ]"
                  />
                </div>

                <div class="form-group m-0">
                  <v-text-field
                    v-model="webUrl"
                    placeholder="Enter Your Website URL"
                    :rules="[
                      required('Website URL'),
                      urlFormatSignup(),
                    ]"
                  />
                </div>

                <div class="form-group m-0">
                  <v-text-field
                    v-model="password"
                    placeholder="Enter Your Password"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                    :rules="[
                      required('Password'),
                      minLength('Password', 7),
                      maxLength('Password', 20),
                    ]"
                    counter="true"
                  />
                </div>
                <div class="form-group m-0">
                  <v-text-field
                    v-model="confirmPassword"
                    placeholder="Confirm Your Password"
                    :type="showConfirmPassword ? 'text' : 'password'"
                    :append-icon="
                      showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    @click:append="showConfirmPassword = !showConfirmPassword"
                    counter="true"
                    :rules="[
                      required('Confirm Password'),
                      passwordConfirmationRule(),
                    ]"
                  />
                </div>
                <div class="bxBtn">
                  <v-btn @click="submitForm()" class="btn_card t_Btn btn"
                    >SUBMIT</v-btn
                  >
                </div>
              </v-form>

              <v-snackbar v-model="snackbar" :timeout="timeout" :color="color">
                {{ text }}
                <template>
                  <v-btn :color="color" text @click="snackbar = false"
                    >Close</v-btn
                  >
                </template>
              </v-snackbar>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <Footer></Footer>
  </v-app>
</template>
<script>
import ComHeader from "../components/ComHeader";
import Footer from "~/components/Footer";
import validations from "@/utils/validations";

export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      snackbar: false,
      text: "",
      color: "",
      timeout: 2000,

      firstName: "",
      lastName: "",
      companyName: "",
      webUrl: "",
      showPassword: false,
      showConfirmPassword: false,
      password: "",
      confirmPassword: "",
      ...validations,
      rules: {},
    };
  },
  async mounted() {
    var pathname = window.location.search;
    var token = "";
    if (pathname.indexOf("&") != -1) {
      token = pathname.substring(
        pathname.lastIndexOf("?") + 1,
        pathname.indexOf("&")
      );
    } else {
      pathname = pathname.split("?");
      token = pathname[1];
    }
    await this.$axios
      .post("AUTH_URL/v1/updatehbprops", { token: token })
      .then((response) => {
        // console.log("token in response:", response);
      })
      .catch((error) => {
        console.log("errrrr", error);
      });
  },
  methods: {
    passwordConfirmationRule() {
      if (this.password != this.confirmPassword) {
        return "Passwords must match";
      }
      return true;
    },
    async submitForm() {
      if (this.$refs.form.validate()) {
        var pathname = window.location.search;
        var token = "";
        if (pathname.indexOf("&") != -1) {
          token = pathname.substring(
            pathname.lastIndexOf("?") + 1,
            pathname.indexOf("&")
          );
        } else {
          pathname = pathname.split("?");
          token = pathname[1];
        }
        // console.log("token retrieved----", token);
        const data = {
          first_name: this.firstName,
          last_name: this.lastName,
          company_name: this.companyName,
          webUrl: this.webUrl,
          password: this.password,
          confirmpassword: this.confirmPassword,
          emailTocken: token,
        };
        await this.$axios
          .post("AUTH_URL/v1/updateNameAndPassword", data, {
            withCredentials: true,
            crossDomain: true,
          })
          .then((response) => {
            // console.log("token in response:", response);
            this.snackbar = true;
            this.text = "Your password was set successfully";
            this.color = "success";
            this.login(response.data.userId);
          })
          .catch((error) => {
            this.snackbar = true;
            this.text = "Reset Link Expired";
            this.color = "red";
            console.log("errrrr", error);
          });
      }
    },
    async login(userId) {
      await this.$axios
        .post(`AUTH_URL/v1/directLogin/${userId}`, "", {
          withCredentials: true,
          crossDomain: true,
        })
        .then((response) => {
          // console.log("res[pon", response);

          const info = {
            type: response.data.type,
          };
          localStorage.setItem("UserDetails", JSON.stringify(info));
          let token = response.data.tocken;
          this.$auth.setToken("local", "token=" + token);

          this.$axios.setHeader("Authorization", "token=" + token);
          this.$auth.ctx.app.$axios.setHeader(
            "Authorization",
            "token=" + token
          );

          if (response.data.type === "initiative_partner") {
            // console.log("*** logged in ***", this.$auth.loggedIn);
            window.location.href = "/setup";
          } else {
            window.location.href = "/userDashboard";
          }
        })
        .catch((error) => {
          this.$router.push("/");
          console.log("error", error);
        });
    },
  },
};
</script>