<template>
  <v-app>
    <ComHeader></ComHeader>
    <section class="cert_frame signupFrm">
      <div class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div v-if="!firstPageSuccess">
            <div class="main_sec mrg">
              <h2>Create Free Account</h2>
              <div class="cnt_card">
                <v-form v-model="form1valid" class="login_form" ref="page1form" id="srm-signup-form">
                  <div class="form-group">
                    <v-text-field
                      v-model="signupData.firstName"
                      placeholder="First Name"
                      class="form-control"
                      :rules="[required('First Name')]"
                    />
                  </div>
                  <div class="form-group">
                    <v-text-field
                      v-model="signupData.lastName"
                      placeholder="Last Name"
                      class="form-control"
                      :rules="[required('Last Name')]"
                    />
                  </div>
                  <div class="form-group">
                    <v-text-field
                      v-model="signupData.companyName"
                      placeholder="Company Name"
                      class="form-control"
                      :rules="[required('Company Name')]"
                    />
                  </div>
                  <div class="form-group">
                    <v-text-field
                      v-model="signupData.webUrl"
                      placeholder="Website Url"
                      class="form-control"
                      :rules="[required('Website URL'), urlFormatSignup()]"
                    />
                  </div>
                  <div class="form-group">
                    <v-text-field
                      v-model="signupData.email"
                      placeholder="Email Address"
                      class="form-control"
                      :rules="[required('email'), emailFormat()]"
                    />
                  </div>
                  <label
                    class="form-check-label remembercheckbox emailsubcheckbox"
                  >
                    <input type="checkbox" class="form-check-input" value />
                    I am happy for Sustainably Run Meetings to email me about
                    their products updates and services. You can unsubscribe at
                    any time. Details of how to do this along with further
                    information about how Sustainably Run Meetings uses your
                    personal data can be found in our
                    <a
                      href="https://www.sustainably.run/meeting/privacy-policy"
                      target="_blank"
                      >Privacy Policy</a
                    >.
                  </label>
                  <div class="bxBtn">
                    <v-btn class="btn green_btn" @click="emailRegisteredCheck()"
                      >CREATE FREE ACCOUNT</v-btn
                    >
                  </div>
                </v-form>
              </div>
            </div>
          </div>

          <div v-if="firstPageSuccess">
            <div class="main_sec mt-5 mb-5">
              <h2>
                When sat at your computer, what software do you create your
                meetings with?
              </h2>
              <div class="cnt_card">
                <v-form class="innr_form" ref="page2form" id="srm-signup-form-page2">
                  <div class="form-group">
                    <v-select
                      v-model="signupData.platform"
                      :items="meetingOptions"
                      :rules="[rules.meetingPlatformCheck]"
                      outlined
                    ></v-select>
                    <!---->
                  </div>
                  <div class="login_form">
                    <div class="form-group">
                      <v-text-field
                        v-if="signupData.platform == 'Other'"
                        class="form-control"
                        placeholder="Please tell us what you use"
                        v-model="signupData.platformOther"
                        :rules="[required('Meeting Platform')]"
                      />
                    </div>
                  </div>
                  <div class="bxBtn">
                    <v-btn class="btn btn_card t_Btn" @click="submitSignup()"
                      >SIGN UP</v-btn
                    >
                  </div>
                </v-form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button id="fbid" style="display: none">FB</button> -->
    </section>

    <!-- Modal -->
    <div
      class="modal fade mediaS-pop"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content signup_alert">
          <div class="modal-header">
            <h2>Status</h2>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>-->
          </div>
          <div class="modal-body">
            <h3>{{ modalMessage }}</h3>

            <div class="bxBtn viewcsrbtnWrp">
              <button
                class="btn btn_card t_Btn"
                v-on:click="isSignupSuccess ? successSignup() : failedSignup()"
                data-dismiss="modal"
              >
                OK
              </button>
              <!-- <button
                class="btn btn_card t_Btn"
                v-if="signupData.deletedOrgId"
                style="margin-left: 20px"
                data-dismiss="modal"
              >Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <Footer></Footer>
  </v-app>
</template>
<script>
import ComHeader from "../components/ComHeader";
import Footer from "~/components/Footer";
import validations from "@/utils/validations";
import Cookies from "js-cookie";
export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      form1valid: false,
      signupData: {
        firstName: "",
        lastName: "",
        companyName: "",
        webUrl: "",
        email: "",
        platform: "default",
        platformOther: "",
        reskin: true,
        recaptchaToken: ""
      },
      isSignupSuccess: false,
      meetingOptions: [
        {
          text: "Choose Meeting Platform",
          value: "default",
          disabled: true,
          selected: true,
        },
        {
          text: "Outlook Desktop (Windows)",
          value: "Outlook Desktop (Windows)",
        },
        { text: "Outlook (Web based) ", value: "Outlook (Web based) " },
        { text: "Outlook Desktop (Mac)", value: "Outlook Desktop (Mac)" },
        { text: "Web based GMail", value: "Web based GMail" },
        { text: "Web based Hotmail", value: "Web based Hotmail" },
        { text: "Web based Yahoo", value: "Web based Yahoo" },
        { text: "Apple Mail ", value: "Apple Mail " },
        { text: "Other", value: "Other" },
      ],
      meetingPlatform: "",
      referralId: "",
      firstPageSuccess: false,
      modalMessage: "Email id already registered",
      ...validations,
      rules: {
        meetingPlatformCheck: (value) => {
          // console.log("value", value);
          if (value == "default") {
            return "This field is required";
          }
          return true;
        },
      },
    };
  },
  async mounted() {
    var pathname = window.location.search;
    var token = "";
    if (pathname.indexOf("&") != -1) {
      if (pathname.lastIndexOf("?referrer=") != -1) {
        token = pathname.substring(
          pathname.lastIndexOf("?referrer=") + 1,
          pathname.indexOf("&")
        );
      }
    } else {
      pathname = pathname.split("?referrer=");
      token = pathname[1] || "";
    }
    if (token) {
      this.referralId = token;
    }
    // console.log("referal retrieved----", token, this.referralId);
    try {
      await this.$recaptcha.init()
    } catch (e) {
      console.error(e);
    }
  },
  methods: {
    async emailRegisteredCheck() {
      // if(this.signupData["deletedOrgId"]){
      // this.signupData["deletedOrgId"] = "";
      // }
      if (this.$refs.page1form.validate()) {
        await this.$axios
          .post("AUTH_URL/v1/initiative_partner_check", this.signupData)
          .then((response) => {
            // console.log("response", response);
            // if (response.status == 200 && response.data.data) {
            //   this.signupData["deletedOrgId"] = response.data.data;
            //   this.modalMessage =
            //     "You are trying to re-activate the account that you have already cancelled. Do you want to continue?";
            //   $("#exampleModalCenter").modal("show");
            // } else {
            this.firstPageSuccess = true;
            // }
          })
          .catch((error) => {
            this.isSignupSuccess = false;
            (this.modalMessage = "Email id already registered"),
              //   alert("Email id already registered");
              $("#exampleModalCenter").modal("show");
          });
      }
    },
    async submitSignup() {
      if (this.$refs.page2form.validate()) {
        const token = await this.$recaptcha.execute('signup')
        this.signupData.recaptchaToken = token || "";
        this.signupData["initiativeId"] = 182;
        this.signupData["emailEnabled"] = "true";
        this.signupData["signup"] = "true";
        this.signupData["type"] = "initiative_partner";
        this.signupData["status"] = "inactive";
        if (this.referralId) {
          this.signupData["referralId"] = this.referralId;
        }
        let hutk = Cookies.get("hubspotutk");
        this.signupData["hutk"] = hutk;
        // console.log("signup", this.signupData);

        // if (this.signupData["deletedOrgId"]) {
        //   await this.$axios
        //     .post("AUTH_URL/v1/activate_initiative_partner", this.signupData)
        //     .then((response) => {
        //       this.firstPageSuccess = false;
        //       this.isSignupSuccess = true;
        //       this.signupData = {};
        //       this.modalMessage =
        //         "Verification mail sent. Please set your password to re-activate your account";
        //       $("#exampleModalCenter").modal("show");
        //     })
        //     .catch((error) => {
        //       this.isSignupSuccess = false;
        //       this.modalMessage =
        //         "Unexpected error occured. Please try again later.";
        //       $("#exampleModalCenter").modal("show");
        //     });
        // } else {
        await this.$axios
          .post("AUTH_URL/v1/initiative_partners", this.signupData)
          .then((response) => {
            this.firstPageSuccess = false;
            this.isSignupSuccess = true;
            this.signupData = {};
            this.modalMessage =
              "Verification mail sent. Please set your credentials by clicking on 'Set Password' link in the mail.";
            $("#exampleModalCenter").modal("show");
            this.fbTrack();
          })
          .catch((error) => {
            this.isSignupSuccess = false;
            this.modalMessage =
              "Unexpected error occured. Please try again later.";
            $("#exampleModalCenter").modal("show");
          });
        // }
      }
    },
    fbTrack() {
      // var btn = document.getElementById("fbid");
      // btn.addEventListener(
      //   "click",
      //   function () {
          fbq("track", "Lead");
      //   },
      //   false
      // );

      // document.getElementById("fbid").click();
    },
    successSignup() {
      this.signupData = {};
      window.location.href = "/";
    },
    failedSignup() {},
  },
};
</script>
<style scoped>
.emailsubcheckbox {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 10px;
  text-align: justify;
}
</style>