<template>
  <v-app>
    <!-- Header -->
    <ComHeader></ComHeader>

    <section class="cert_frame">
      <div class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>Update Password</h2>
            <div class="cnt_card">
              <v-form class="login_form" ref="form">
                <div class="form-group m-0">
                  <v-text-field
                    v-model="password"
                    placeholder="Enter Your Password"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                    :rules="[
                      required('Password'),
                      minLength('Password', 7),
                      maxLength('Password', 20),
                    ]"
                    counter="true"
                  />
                </div>
                <div class="form-group m-0">
                  <v-text-field
                    v-model="confirmPassword"
                    placeholder="Confirm Your Password"
                    :type="showConfirmPassword ? 'text' : 'password'"
                    :append-icon="
                      showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    @click:append="showConfirmPassword = !showConfirmPassword"
                    counter="true"
                    :rules="[
                      required('Confirm Password'),
                      passwordConfirmationRule(),
                    ]"
                  />
                </div>
                <div class="bxBtn">
                  <v-btn
                    @click="submitForm()"
                    class="btn_card green_btn t_Btn btn"
                    >SUBMIT</v-btn
                  >
                </div>
              </v-form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <Footer></Footer>
  </v-app>
</template>
<script>
import ComHeader from "../components/ComHeader";
import Footer from "../components/Footer";
import validations from "@/utils/validations";
// Vue.use(VeeValidate)

export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      showPassword: false,
      showConfirmPassword: false,
      password: "",
      confirmPassword: "",
      ...validations,
      rules: {},
    };
  },
  mounted() {},
  methods: {
    passwordConfirmationRule() {
      // console.log("password val", this.password, this.confirmPassword);
      if (this.password != this.confirmPassword) {
        return "Passwords must match";
      }
      return true;
    },
    async submitForm() {
      if (this.$refs.form.validate()) {
        var pathname = window.location.search;
        var token = "";
        if (pathname.indexOf("&") != -1) {
          token = pathname.substring(
            pathname.lastIndexOf("?") + 1,
            pathname.indexOf("&")
          );
        } else {
          pathname = pathname.split("?");
          token = pathname[1];
        }
        // console.log("token retrieved----", token);

        const data = {
          password: this.password,
          confirmpassword: this.confirmPassword,
          emailTocken: token,
        };

        await this.$axios
          .post("AUTH_URL/v1/updatePassword", data, {
            withCredentials: true,
            crossDomain: true,
          })
          .then((response) => {
            // console.log("token in response:", response);
            this.$store.dispatch("snackbar/setSnackbar", {
              text: `Your password was set successfully`,
              timeout: 2000,
            });
            this.login(response.data.userId);
          })
          .catch((error) => {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: `Reset Link Expired`,
              timeout: 2000,
              color: "red",
            });
            console.log("errrrr", error);
          });
      }
    },
    async login(userId) {
      // console.log("userId", userId);
      await this.$axios
        .post(`AUTH_URL/v1/directLogin/${userId}`, "", {
          withCredentials: true,
          crossDomain: true,
        })
        .then((response) => {
          const info = {
            type: response.data.type,
          };
          localStorage.setItem("UserDetails", JSON.stringify(info));

          // console.log("res[pon", response);
          let token = response.data.tocken;
          this.$auth.setToken("local", "token=" + token);

          this.$axios.setHeader("Authorization", "token=" + token);
          this.$auth.ctx.app.$axios.setHeader(
            "Authorization",
            "token=" + token
          );

          if (response.data.type === "initiative_partner") {
            // this.$router.push({ path: '/setup' })
            window.location.href = "/setup";
            // this.$router.replace("/setup");
            // this.$router.push("/setup");
          } else {
            window.location.href = "/userDashboard";
            // this.$router.replace("/userPassword");
            // this.$router.push("/userDashboard");
          }
        })
        .catch((error) => {
          this.$router.push("/");
          console.log("error", error);
        });
    },
  },
};
</script>