<template>
  <div>
    <header>
      <div class="row justify-content-between" style="flex: 0 0 auto;">
        <div class="col-12 col-sm-3 nFlx d-flex align-items-center justify-content-between p-0">
          <nuxt-link to="/userDashboard">
            <img src="../assets/images/srlogo.png" class="img-fluid logo" style="width:158px;" />
          </nuxt-link>

          <label class="switchhead switchheadMob" style="display: none">
            <input
              class="switch-input"
              type="checkbox"
              data-toggle="toggle"
              id="togBtn"
              @input="ToggleChange"
            />
            <div class="togic round ml-2">
              <span class="on">COMPANY</span>
              <span class="off">MY</span>
            </div>
          </label>

          <div class="MenuBr">
            <h6>Menu</h6>
            <button
              class="btn btn-default navBtn navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
            >
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="col-12 col-sm-9 p-0">
          <ul v-if="$auth.loggedIn" class="top_count m-0 p-0">
            <li>
              <div class="top_image">
                <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
              </div>

              <h3>
                <small>SUSTAINABLY RUN MEETINGS</small>
              </h3>

              <ul class="numberBx">
                <li v-for="(count,i) in meetingCount" :key="count+i">{{count}}</li>
              </ul>
            </li>
            <li>
              <div class="top_image">
                <img src="../assets/images/plant-trees.svg" class="img-fluid" />
              </div>
              <h3>
                <small>TREES PLANTED</small>
              </h3>
              <ul class="numberBx">
                <li v-for="(count,i) in treeCount" :key="count+i">{{count}}</li>
                <!-- <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>-->
              </ul>
            </li>
            <li>
              <label class="switchhead d-block" style="display: none">
                <input
                  class="switch-input"
                  type="checkbox"
                  data-toggle="toggle"
                  id="togBtn"
                  @input="ToggleChange"
                />
                <div class="togic round ml-2">
                  <span class="on">COMPANY</span>
                  <span class="off">MY</span>
                </div>
              </label>
            </li>

            <li>
              <div class="top_image lg">
                <img src="../assets/images/account-details.svg" class="img-fluid" />
              </div>
              <h3>
                <v-btn @click="Logout()">LOGOUT</v-btn>
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header -->

    <section class="frameMob">
      <!-- Sidebar -->

      <div class="conSidebar res_nav collapse navbar-collapse" id="collapsibleNavbar">
        <div style="height:100%;">
          <ul class="navigation_bar p-0" v-if="$auth.loggedIn">
            <!-- <li class="lgCls">
              <img src="../assets/images/mbl_logo.png" class="img-fluid" />
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close <span>
              &times;</span></a>
            </li>-->

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <n-link to="/userDashboard" no-prefetch>
                <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
              </n-link>
            </li>

            <li data-toggle="collapse" data-target=".navbar-collapse.show">
              <n-link to="/userPassword">
                <img src="../assets/images/invite-users.svg" class="img-fluid" />Change Password
              </n-link>
            </li>

            <li @click="Logout()" data-toggle="collapse" data-target=".navbar-collapse.show">
              <a>
                <img src="../assets/images/account-details.svg" class="img-fluid" />Log Out
              </a>
            </li>
            <li>
              <div class="dropdown mbInrDrp">
                <button
                  class="btn btn-secondary"
                  type="button"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >Help</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="/userFeedback">Request a Feature</a>
                  <a class="dropdown-item" href="/userBugs">Submit a Bug</a>
                  <a class="dropdown-item" href="#">Docs/FAQ</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Sidebar -->
    </section>
    <Notifications></Notifications>
    <!-- -------Content Section----------------- -->
    <section class="frame">
      <!-- Sidebar -->

      <div class="conSidebar">
        <ul class="navigation_bar">
          <li>
            <nuxt-link to="/userDashboard">
              <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
            </nuxt-link>
          </li>

          <li>
            <nuxt-link to="/userPassword" class="active">
              <img src="../assets/images/account-details.svg" class="img-fluid" />Change Password
            </nuxt-link>
          </li>
          <!-- <li @click="Logout()">
                <img
                  src="../assets/images/account-details.svg"
                  class="img-fluid"
                />Log Out
          </li>-->
        </ul>

        <footer style="border:none;">
          <div class="sdbr_ftr">
            <p>Download/Install Sustainably Run Meetings Plugin</p>
            <button class="btn btn_card s_m_downloadbutton" @click.stop="dialog = true">Download</button>
            <v-layout row justify-center>
              <v-dialog v-model="dialog" max-width="430">
                <v-card class="p-3 p-md-4 dwnldModal">
                  <v-card-title class="headline justify-centre pl-0">
                    <h4>Sustainably Run Meetings Plugin</h4>
                  </v-card-title>

                  <v-row align="center">
                    <v-col cols="12">
                      <v-subheader class="justify-centre pl-0">Choose Meeting Platform</v-subheader>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" class="py-0">
                      <v-select
                        v-model="select"
                        :items="items"
                        @change="selectPlugin"
                        item-text="state"
                        label="Select"
                        persistent-hint
                        return-object
                        single-line
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-card-actions class="popbtn">
                    <v-spacer></v-spacer>

                    <v-btn
                      color="green darken-1"
                      class="btn btn_card t_Btn"
                      @click="close()"
                    >{{ downloadText }}</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-layout>
          </div>
        </footer>
        <ul class="navigation_bar helpBar">
          <li>
            <div class="btn-group w-100">
              <a
                type
                href
                class="w-100"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >Help</a>
              <div class="dropdown-menu">
                <ul class="navigation_bar p-0 inrDrp">
                  <li>
                    <nuxt-link to="/userFeedback">Request a Feature</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/userBugs">Submit a Bug</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="#">Docs/FAQ</nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-------------------------------- Sidebar end ------------------------------------------->

      <!-- Content Side -->
      <div class="contSec">
        <ul class="top_count m-0 p-0">
          <li>
            <div class="top_image">
              <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
            </div>
            <div class="d-flex align-center flex-column">
              <ul class="numberBx">
                <li v-for="(count,i) in meetingCount" :key="count+i">{{count}}</li>
              </ul>
              <div class="md_blk_count">
                <h3>
                  <small>SUSTAINABLY RUN MEETINGS</small>
                </h3>
              </div>
            </div>
          </li>
          <li>
            <div class="top_image">
              <img src="../assets/images/plant-trees.svg" class="img-fluid" />
            </div>
            <div class="d-flex align-center flex-column">
              <ul class="numberBx">
                <li v-for="(count,i) in treeCount" :key="count+i">{{count}}</li>
              </ul>
              <div class="md_blk_count">
                <h3>
                  <small>TREES PLANTED</small>
                </h3>
              </div>
            </div>
          </li>
        </ul>

        <div class="cntSd">
          <div class="row justify-content-center">
            <!-- ------------Password Section-------------------- -->
            <div class="col-12 col-sm-12 col-md-6">
              <div class="card whtBx pwdSection">
                <h2>Change Password</h2>
                <v-row>
                  <v-col cols="12" sm="12" md="12" lg="12">
                    <v-form v-model="validPwd" ref="form">
                      <!-- <v-card ref="form"> -->
                      <!-- <v-card-text> -->
                      <v-text-field
                        v-model="passwordInfo.oldPassword"
                        class="input-wrap"
                        placeholder="Old Password"
                        color="green"
                        :type="showOldPassword ? 'text' : 'password'"
                        :append-icon="
                          showOldPassword ? 'mdi-eye' : 'mdi-eye-off'
                        "
                        @click:append="showOldPassword = !showOldPassword"
                        :rules="[
                          required('old password'),
                          pwdMinLength(7),
                          pwdMaxLength(20)
                        ]"
                      />

                      <v-text-field
                        v-model="passwordInfo.newPassword"
                        class="input-wrap"
                        placeholder="New Password"
                        color="green"
                        :type="showPassword ? 'text' : 'password'"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPassword = !showPassword"
                        :rules="[
                          required('new password'),
                          pwdMinLength(7),
                          pwdMaxLength(20)
                        ]"
                      />

                      <v-text-field
                        v-model="passwordInfo.newPassword1"
                        class="input-wrap"
                        placeholder="Confirm Password"
                        color="green"
                        :type="showConfirmPassword ? 'text' : 'password'"
                        :append-icon="
                          showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                        "
                        @click:append="
                          showConfirmPassword = !showConfirmPassword
                        "
                        :rules="[
                          required('confirm password'),
                          pwdMinLength(7),
                          pwdMaxLength(20),
                          pwdConfirm(passwordInfo.newPassword)
                        ]"
                      />

                      <div class="bxBtn">
                        <v-btn
                          @click="updatePassword(passwordInfo)"
                          :disabled="!validPwd"
                          class="btn_card t_Btn d-none d-sm-none d-md-block"
                        >Save</v-btn>
                        <v-btn
                          @click="updatePassword(passwordInfo)"
                          :disabled="!validPwd"
                          class="btn_card t_Btn d-block d-sm-block d-md-none"
                        >Submit</v-btn>
                      </div>
                    </v-form>
                  </v-col>
                </v-row>
              </div>
            </div>

            <!-- ---------- password section end------------------- -->
          </div>
        </div>
      </div>

      <!-- Content Side -->
    </section>
    <Footer></Footer>
  </div>
</template>
<script>
import Footer from "~/components/Footer.vue";
import Header from "../components/userHeader";
import Notifications from "~/components/Notifications";
import { mapState } from "vuex";
import { mapMutations } from "vuex";
import validations from "@/utils/validations";

export default {
  middleware: "auth-guard",
  components: {
    Header,
    Footer,
    Notifications
  },

  data() {
    return {
      validPwd: false,
      isUser: true,
      passwordInfo: {
        confirmPassword: "",
        newPassword: ""
      },

      ...validations,

      showPassword: false,
      showConfirmPassword: false,
      showOldPassword: false,

      valid: false,
      downloadText: "Download",
      dialog: false,
      select: { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
      items: [
        { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
        { state: "Sustainably Run Meetings for Microsoft Web Plugin" },
        { state: "Sustainably Run Meetings Google Calendar Plugin" }
      ],
      treeCount: [],
      meetingCount: [],
      urlOption: ""
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
  },

  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      const CountInfo = await this.$axios.post(
        "USER_URL/meetings/countUser-reskin"
      );
      this.getCount(CountInfo);
    }
  },

  methods: {
    //update account details
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings for Microsoft Web Plugin"
      ) {
        window.open(process.env.OUTLOOK_WEB_PLUGIN_URL, "_blank");
        // window.location.href = "USER_URL/download/outlook-web-plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Google Calendar Plugin"
      ) {
        window.open(process.env.GMAIL_PLUGIN_URL, "_blank");
      }
      // console.log(this.select.state);
    },
    selectPlugin() {
      console.log(this.select);
      switch (this.select.state) {
        case "Sustainably Run Meetings Desktop Outlook Plugin":
          this.downloadText = "Download";
          break;
        case "Sustainably Run Meetings for Microsoft Web Plugin":
        case "Sustainably Run Meetings Google Calendar Plugin":
          this.downloadText = "Install";
          break;
      }
    },
    async ToggleChange() {
      // var result = document.getElementsByClassName("switch-input")[0].checked
      //   ? "yes"
      //   : "no";
      this.isUser = !this.isUser;
      var result = this.isUser;

      // console.log("test boolena :", result);

      if (result === true) {
        this.urlOption = "?user=yes";

        //get count
        const CountInfo = await this.$axios.post(
          "USER_URL/meetings/countUser-reskin"
        );
        this.getCount(CountInfo);
      } else if (result === false) {
        this.urlOption = "";

        //get count
        const CountInfo = await this.$axios.post(
          "USER_URL/meetings/count-reskin"
        );
        this.getCount(CountInfo);
      }
    },

    //update password
    async updatePassword(passwordInfo) {
      this.validPwd = false;
      (this.showPassword = false),
        (this.showConfirmPassword = false),
        (this.showOldPassword = false);

      const data = {
        oldPsd: passwordInfo.oldPassword,
        newPsd: passwordInfo.newPassword
      };
      await this.$axios
        .post("AUTH_URL/v1/changePasswordReskin", data)
        .then(response => {
          if (response.status === 201) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "You have successfully changed password",
              timeout: 4000
            });
          } else if (response.status === 202) {
            this.$store.dispatch("snackbar/setSnackbar", {
              text: "Incorrect Old Password",
              color: "red",
              timeout: 4000
            });
          }

          /* this.$store.dispatch("snackbar/setSnackbar", {
            text: `You have successfully changed password`,
            timeout: 2000
          });
           this.$router.push("/userDashboard"); */
        })
        .catch(e => {
          this.$store.dispatch("snackbar/setSnackbar", {
            text: "something went wrong try again",
            color: "red"
          });
        });
      this.$refs.form.reset();
    },
    Logout() {
      this.$auth.logout();
      this.$router.push("/");
    },

    // --------------- GEt Count in header-----------------------
    getCount(response) {
      let no_of_meetings = 0,
        no_of_trees = 0;
      if (
        response === undefined ||
        response.data === undefined ||
        response.data.meetingCount === undefined
      ) {
        no_of_meetings = 0;
      } else {
        no_of_meetings = response.data.meetingCount;
      }
      var meetingArray = ("" + no_of_meetings).split("");

      let len;
      if (meetingArray.length > 4) {
        len = 6 - meetingArray.length;
      } else {
        len = 4 - meetingArray.length;
      }
      if (len > 0) {
        for (var i = 0; i < len; i++) {
          meetingArray.unshift("0");
        }
      }
      this.meetingCount = meetingArray;

      // commit("SET_MEETINGS_COUNT", meeting_arr);

      if (
        response === undefined ||
        response.data === undefined ||
        response.data.treeCount === undefined ||
        response.data.treeCount[0].treeCount === undefined ||
        response.data.treeCount[0].treeCount === null
      ) {
        no_of_trees = 0;
      } else {
        no_of_trees = parseInt(response.data.treeCount[0].treeCount);
      }
      if (response?.data?.initialCount) {
        console.log("ip free trees", response.data.initialCount);
        no_of_trees +=
          parseInt(response.data.initialCount.message?.treeNumber) || 0;
      }
      console.log("no of trees", no_of_trees);
      var treeArray = ("" + no_of_trees).split("");
      if (treeArray.length > 4) {
        len = 6 - treeArray.length;
      } else {
        len = 4 - treeArray.length;
      }
      if (len > 0) {
        for (var i = 0; i < len; i++) {
          treeArray.unshift("0");
        }
      }
      this.treeCount = treeArray;
    }
  }
};
</script>
