<template>
  <v-app>
    <div>
      <header>
        <div class="row justify-content-between" style="flex: 0 0 auto">
          <div class="col-12 col-sm-3 nFlx d-flex align-items-center justify-content-between p-0">
            <nuxt-link to="/userDashboard">
              <img src="../assets/images/srlogo.png" class="img-fluid logo" style="width: 158px" />
            </nuxt-link>

            <label class="switchhead switchheadMob" style="display: none">
              <input
                class="switch-input"
                type="checkbox"
                data-toggle="toggle"
                id="togBtn"
                @input="ToggleChange"
              />
              <div class="togic round ml-2">
                <span class="on">COMPANY</span>
                <span class="off">MY</span>
              </div>
            </label>

            <div class="MenuBr">
              <h6>Menu</h6>
              <button
                class="btn btn-default navBtn navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#collapsibleNavbar"
              >
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
          <div class="col-12 col-sm-9 p-0">
            <ul v-if="$auth.loggedIn" class="top_count m-0 p-0">
              <li>
                <div class="top_image">
                  <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
                </div>

                <h3>
                  <small>SUSTAINABLY RUN MEETINGS</small>
                </h3>

                <ul class="numberBx">
                  <li v-for="(count,i) in meetingCount" :key="count+i">{{count}}</li>
                </ul>
              </li>
              <li>
                <div class="top_image">
                  <img src="../assets/images/plant-trees.svg" class="img-fluid" />
                </div>
                <h3>
                  <small>TREES PLANTED</small>
                </h3>
                <ul class="numberBx">
                  <li v-for="(count,i) in treeCount" :key="count+i">{{count}}</li>
                </ul>
              </li>
              <li>
                <label class="switchhead d-block" style="display: none">
                  <input
                    class="switch-input"
                    type="checkbox"
                    data-toggle="toggle"
                    id="togBtn"
                    @input="ToggleChange"
                  />
                  <div class="togic round ml-2">
                    <span class="on">COMPANY</span>
                    <span class="off">MY</span>
                  </div>
                </label>
              </li>
              <li>
                <div class="top_image lg">
                  <img src="../assets/images/account-details.svg" class="img-fluid" />
                </div>
                <h3>
                  <v-btn @click="Logout()">LOGOUT</v-btn>
                </h3>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- Header -->

      <section class="frameMob">
        <!-- Sidebar -->

        <div class="conSidebar res_nav collapse navbar-collapse" id="collapsibleNavbar">
          <div style="height: 100%">
            <ul class="navigation_bar p-0" v-if="$auth.loggedIn">
              <li data-toggle="collapse" data-target=".navbar-collapse.show">
                <n-link to="/userDashboard" no-prefetch>
                  <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
                </n-link>
              </li>

              <li data-toggle="collapse" data-target=".navbar-collapse.show">
                <n-link to="/userPassword">
                  <img src="../assets/images/invite-users.svg" class="img-fluid" />Change Password
                </n-link>
              </li>

              <li @click="Logout()" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a>
                  <img src="../assets/images/account-details.svg" class="img-fluid" />Log Out
                </a>
              </li>
              <li>
                <div class="dropdown mbInrDrp">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >Help</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/userFeedback">Request a Feature</a>
                    <a class="dropdown-item" href="/userBugs">Submit a Bug</a>
                    <a class="dropdown-item" href="#">Docs/FAQ</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Sidebar -->
      </section>
      <!-- <Header></Header> -->
      <!-- <Header :meetingcount="meetingcount" :treecount="treecount"></Header> -->
      <Notifications></Notifications>
      <section class="frame">
        <!-- Sidebar -->

        <div class="conSidebar">
          <ul class="navigation_bar">
            <li>
              <nuxt-link to="/userDashboard" class="active">
                <img src="../assets/images/dashboard.svg" class="img-fluid" />Dashboard
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/userPassword">
                <img src="../assets/images/account-details.svg" class="img-fluid" />Change Password
              </nuxt-link>
            </li>
          </ul>

          <footer style="border: none">
            <div class="sdbr_ftr">
              <p>Download/Install Sustainably Run Meetings Plugin</p>
              <button class="btn btn_card s_m_downloadbutton" @click.stop="dialog = true">Download</button>
              <v-layout row justify-center>
                <v-dialog v-model="dialog" max-width="430">
                  <v-card class="p-3 p-md-4 dwnldModal">
                    <v-card-title class="headline justify-centre pl-0">
                      <h4>Sustainably Run Meetings Plugin</h4>
                    </v-card-title>

                    <v-row align="center">
                      <v-col cols="12">
                        <v-subheader class="justify-centre pl-0">Choose Meeting Platform</v-subheader>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12" class="py-0">
                        <v-select
                          v-model="select"
                          @change="selectPlugin"
                          :items="items"
                          item-text="state"
                          label="Select"
                          persistent-hint
                          return-object
                          single-line
                        ></v-select>
                      </v-col>
                    </v-row>

                    <v-card-actions class="popbtn">
                      <v-spacer></v-spacer>

                      <v-btn
                        color="green darken-1"
                        class="btn btn_card t_Btn"
                        @click="close()"
                      >{{ downloadText }}</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-layout>
            </div>
          </footer>

          <ul class="navigation_bar helpBar">
            <li>
              <div class="btn-group w-100">
                <a
                  type
                  href
                  class="w-100"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                >Help</a>
                <div class="dropdown-menu">
                  <ul class="navigation_bar p-0 inrDrp">
                    <li>
                      <nuxt-link to="/userFeedback">Request a Feature</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link to="/userBugs">Submit a Bug</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link to="#">Docs/FAQ</nuxt-link>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- Content Side -->
        <div class="contSec">
          <ul class="top_count m-0 p-0">
            <li>
              <div class="top_image">
                <img src="../assets/images/calendar-icon.svg" class="img-fluid" />
              </div>
              <div class="d-flex align-center flex-column">
                <ul class="numberBx">
                  <li v-for="(count,i) in meetingCount" :key="count+i">{{count}}</li>
                </ul>

                <div class="md_blk_count">
                  <h3>
                    <small>SUSTAINABLY RUN MEETINGS</small>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="top_image">
                <img src="../assets/images/plant-trees.svg" class="img-fluid" />
              </div>
              <div class="d-flex align-center flex-column">
                <ul class="numberBx">
                  <li v-for="(count,i) in treeCount" :key="count+i">{{count}}</li>
                </ul>

                <div class="md_blk_count">
                  <h3>
                    <small>TREES PLANTED</small>
                  </h3>
                </div>
              </div>
            </li>
          </ul>

          <div class="cntSd">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12">
                <div class="card">
                  <ul class="filterWrap">
                    <li class="time-scale">
                      <span class="timeSclWeb">Time Scale :</span>
                      <span class="timeSclMob">Timescale :</span>
                      <v-combobox
                        class="blackB ts_drp tmScl"
                        v-model="selectedTimeScale"
                        :items="TimeScale"
                        item-text="label"
                        item-value="value"
                        menu-props="auto"
                        @input="setSelected"
                        type="button"
                      ></v-combobox>
                    </li>
                    <li>
                      <label class="showWeb">Show :</label>
                      <label class="showMob">Show :</label>
                      <div class="d-flex dsh_btnSec">
                        <button
                          v-bind:class="{
                            'i-am-active': button_active_meeting,
                          }"
                          class="btn btn_card grBtn vltBtn purplebtn"
                          @click="hideMeeting"
                        >
                          <span>Meetings</span>
                        </button>
                        <button
                          v-bind:class="{ 'i-am-active': button_active_tree }"
                          class="btn btn_card grn grBtn greenbtn"
                          @click="hideTree"
                        >
                          <span>Trees Planted</span>
                        </button>
                      </div>
                    </li>
                  </ul>

                  <!-- Graph Content -->
                  <div class="chartOuter">
                    <canvas id="myChart" width="auto" height="auto"></canvas>
                  </div>
                  <!-- Graph Content -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Side -->
      </section>
      <Footer></Footer>
    </div>
    <div id="loading">
      <img id="loading-image" src="../assets/images/loader.gif" alt="Loading..." />
    </div>
  </v-app>
</template>

<script>
import Header from "../components/userHeader";
import Footer from "~/components/Footer.vue";
import Notifications from "~/components/Notifications";
import moment from "moment";
export default {
  middleware: "auth-guard",
  components: {
    Footer,
    Header,
    Notifications
  },

  // initialise variables
  data() {
    return {
      button_active_tree: true,
      button_active_meeting: true,

      TimeScale: [
        { label: "Monthly", value: "monthly" },
        { label: "Yearly", value: "yearly" },
        { label: "Weekly", value: "weekly" },
        { label: "Daily", value: "daily" }
      ],
      selectedTimeScale: {
        label: "Monthly",
        value: "monthly"
      },
      dialog: false,
      labels: [],
      treeData: [],
      meetingData: [],

      urlOption: "",
      isUser: false,

      dialog: false,
      downloadText: "Download",
      select: { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
      items: [
        { state: "Sustainably Run Meetings Desktop Outlook Plugin" },
        { state: "Sustainably Run Meetings for Microsoft Web Plugin" },
        { state: "Sustainably Run Meetings Google Calendar Plugin" }
      ],

      treeCount: [],
      meetingCount: [],

      isMeeting: false,
      isTree: false
    };
  },

  //fetch stored values from user.js page
  async fetch({ store }) {
    await store.dispatch("user/getCount");
  },

  // on page loading function
  async mounted() {
    if (this.$auth.loggedIn == false) {
      this.$router.push("/");
    } else {
      var result = this.isUser;
      this.urlOption = "?user=yes";
      const CountInfo = await this.$axios.post(
        "USER_URL/meetings/countUser-reskin"
      );
      this.getCount(CountInfo);
      await this.generateChart("monthly");
    }
    $("#loading").hide();
  },

  methods: {
    Logout: function() {
      this.$auth.logout();
      this.$router.push("/");
    },
    // plugin close function
    close() {
      this.dialog = false;
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Desktop Outlook Plugin"
      ) {
        window.location.href = "USER_URL/download/plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings for Microsoft Web Plugin"
      ) {
        window.open(process.env.OUTLOOK_WEB_PLUGIN_URL, "_blank");
        // window.location.href = "USER_URL/download/outlook-web-plugin";
      }
      if (
        this.select.state &&
        this.select.state == "Sustainably Run Meetings Google Calendar Plugin"
      ) {
        window.open(process.env.GMAIL_PLUGIN_URL, "_blank");
      }
    },

    selectPlugin() {
      console.log(this.select);
      switch (this.select.state) {
        case "Sustainably Run Meetings Desktop Outlook Plugin":
          this.downloadText = "Download";
          break;
        case "Sustainably Run Meetings for Microsoft Web Plugin":
        case "Sustainably Run Meetings Google Calendar Plugin":
          this.downloadText = "Install";
          break;
      }
    },
    // select graph based on toggle button condition
    async ToggleChange() {
      this.isUser = !this.isUser;
      if (this.isUser === true) {
        this.urlOption = "";
        const CountInfo = await this.$axios.post(
          "USER_URL/meetings/count-reskin"
        );
        this.getCount(CountInfo);
      } else if (this.isUser === false) {
        this.urlOption = "?user=yes";
        const CountInfo = await this.$axios.post(
          "USER_URL/meetings/countUser-reskin"
        );
        this.getCount(CountInfo);
      }

      await this.generateChart(this.selectedTimeScale.value);
    },

    //select TimeScale
    async setSelected(info) {
      this.selectedTimeScale.value = info.value;
      await this.generateChart(this.selectedTimeScale.value);
    },
    async hideMeeting() {
      this.isMeeting = !this.isMeeting;

      if (this.isMeeting === true) {
        this.button_active_meeting = false;
      } else {
        this.button_active_meeting = true;
      }
      await this.generateChart(this.selectedTimeScale.value);
    },
    async hideTree() {
      this.isTree = !this.isTree;

      if (this.isTree === true) {
        this.button_active_tree = false;
      } else {
        this.button_active_tree = true;
      }
      await this.generateChart(this.selectedTimeScale.value);
    },
    async generateChart(timeScale) {
      let meetingArray = [],
        treeArray = [];

      if (this.isMeeting == false) {
        const meeting = {
          scale: timeScale,
          type: "meetings"
        };
        //api call from meeting
        let meetingResponse = await this.$axios.post(
          "USER_URL/chartdata/ip" + `${this.urlOption}`,
          meeting
        );
        if (timeScale === "weekly") {
          this.generateWeekGraph("meeting", meetingResponse.data.data[0]);
        } else if (timeScale === "yearly") {
          this.generateYearGraph("meeting", meetingResponse.data.data[0]);
        } else if (timeScale === "monthly") {
          this.generateMonthGraph("meeting", meetingResponse.data.data[0]);
        } else if (timeScale === "daily") {
          this.generateDayGraph("meeting", meetingResponse.data.data[0]);
        }
        meetingArray = this.meetingData;
      }
      if (this.isTree == false) {
        const tree = {
          scale: timeScale,
          type: "treePLanted"
        };
        //api call from tree
        let treeResponse = await this.$axios.post(
          "USER_URL/chartdata/ip" + `${this.urlOption}`,
          tree
        );
        if (timeScale === "weekly") {
          this.generateWeekGraph("tree", treeResponse.data.data[0]);
        } else if (timeScale === "yearly") {
          this.generateYearGraph("tree", treeResponse.data.data[0]);
        } else if (timeScale === "monthly") {
          this.generateMonthGraph("tree", treeResponse.data.data[0]);
        } else if (timeScale === "daily") {
          this.generateDayGraph("tree", treeResponse.data.data[0]);
        }
        treeArray = this.treeData;
      }

      if (this.myChart) {
        this.myChart.destroy();
      }
      var ctx = document.getElementById("myChart").getContext("2d");
      this.myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: this.labels,
          datasets: [
            {
              data: treeArray,
              fill: false,
              borderWidth: 2,
              borderColor: "#3b7c20",
              pointBackgroundColor: "#3b7c20"
            },
            {
              data: meetingArray,
              fill: false,
              borderWidth: 2,
              borderColor: "#926792",
              pointBackgroundColor: "#926792"
            }
          ]
        },

        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  maxTicksLimit: 20,
                  fontSize: 12,
                  fontStyle: "500",

                  suggestedMax: 30,
                  fontColor: "#000000",
                  userCallback: function(label, index, labels) {
                    if (Math.floor(label) === label) {
                      return label;
                    }
                  }
                },
                gridLines: {
                  zeroLineColor: "#000000",
                  drawBorder: true
                }
              }
            ],
            xAxes: [
              {
                gridLines: {
                  zeroLineColor: "#000000",
                  color: "#FFFFFF",
                  display: true,
                  drawBorder: true
                },

                ticks: {
                  // maxTicksLimit: 20,
                  beginAtZero: true,
                  suggestedMax: 10,
                  fontColor: "#000000",
                  fontSize: 12,
                  fontStyle: "500"
                }
              }
            ]
          },
          legend: {
            display: false //This will do the task
          }
        }
      });
    },
    generateYearGraph(type, data) {
      let graphData = [];
      let graphLabels = [];

      let y = moment().year();
      for (let i = y - 4; i <= y; i++) {
        graphLabels.push(i);
      }
      graphLabels.map(label => {
        let flag = true;
        data.map(x => {
          if (x.frequency === label) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      }
    },
    // ----------Year grapgh code end-----------

    //---------week grapgh code start-------------
    generateWeekGraph(type, data) {
      let graphData = [];
      let graphLabels = [];

      for (let x = 0; x < 12; x++) {
        graphLabels.push(
          moment()
            .subtract(x, "weeks")
            .week()
        );
      }
      graphLabels.reverse();
      graphLabels.map(label => {
        let flag = true;
        data.map(x => {
          if (x.frequency + 1 === label) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      }
    },
    // ------------ week graph code end-----------------------
    // ------------ Month graph code start-----------------------
    generateMonthGraph(type, data) {
      let graphLabels = [];
      let graphData = [];
      let month = [];
      for (let i = -12; i <= 0; i++) {
        month.push(moment().add(i, "months"));
      }
      month.map(element => {
        let flag = true;
        data.map(x => {
          if (moment(element).isSame(x.frequency, "month")) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
        graphLabels.push(moment(element).format("MMM YYYY"));
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      }
    },
    // ------------ Month graph code end-----------------------
    generateDayGraph(type, data) {
      let graphLabels = [];
      let graphData = [];
      let month1 = [];
      for (let i = -34; i <= 0; i++) {
        month1.push(moment().add(i, "day"));
      }
      month1.map(element => {
        let flag = true;
        data.map(x => {
          if (moment(element).isSame(x.frequency, "day")) {
            graphData.push(x.item);
            flag = false;
          }
        });
        if (flag) {
          graphData.push(0);
        }
        graphLabels.push(moment(element).format("DD MMM YYYY"));
      });
      this.labels = graphLabels;
      if (type == "tree") {
        this.treeData = graphData;
      } else if (type == "meeting") {
        this.meetingData = graphData;
      }
    },

    // --------------- GEt Count in header-----------------------
    getCount(response) {
      let no_of_trees = 0,
        no_of_meetings = 0;
      if (
        response === undefined ||
        response.data === undefined ||
        response.data.meetingCount === undefined
      ) {
        no_of_meetings = 0;
      } else {
        no_of_meetings = response.data.meetingCount;
      }
      var meetingArray = ("" + no_of_meetings).split("");

      let len;
      if (meetingArray.length > 4) {
        len = 6 - meetingArray.length;
      } else {
        len = 4 - meetingArray.length;
      }
      if (len > 0) {
        for (var i = 0; i < len; i++) {
          meetingArray.unshift("0");
        }
      }
      this.meetingCount = meetingArray;

      if (
        response === undefined ||
        response.data === undefined ||
        response.data.treeCount === undefined ||
        response.data.treeCount[0].treeCount === undefined ||
        response.data.treeCount[0].treeCount === null
      ) {
        no_of_trees = 0;
      } else {
        no_of_trees = parseInt(response.data.treeCount[0].treeCount);
      }
      if (response?.data?.initialCount) {
        console.log("ip free trees", response.data.initialCount);
        no_of_trees +=
          parseInt(response.data.initialCount.message?.treeNumber) || 0;
      }
      console.log("no of trees", no_of_trees);
      var treeArray = ("" + no_of_trees).split("");
      if (treeArray.length > 4) {
        len = 6 - treeArray.length;
      } else {
        len = 4 - treeArray.length;
      }
      if (len > 0) {
        for (var i = 0; i < len; i++) {
          treeArray.unshift("0");
        }
      }
      this.treeCount = treeArray;
    }
  }
};
</script>

<style>
.purplebtn {
  background: #eaeaea !important;
  color: #000;
}
.purplebtn.i-am-active {
  background: #926792 !important;
  color: #fff !important;
  transform: translateY(-3px);
  box-shadow: -1px 1px 4px #00344f !important;
}
.purplebtn.i-am-active span {
  transform: scale(1.3);
  display: block;
}

.greenbtn {
  background: #eaeaea !important;
  color: #000;
}
.greenbtn.i-am-active {
  background: #439635 !important;
  color: #fff !important;
  transform: translateY(-3px);
  box-shadow: -1px 1px 4px #00344f !important;
}
.greenbtn.i-am-active span {
  transform: scale(1.3);
  display: block;
}

.chartOuter {
  width: 100%;
  height: calc(100vh - 300px);
}
</style>
