<template>
  <div class="contentOnly">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="intro_content p-0">
          <h1 class="cmnHd">{{ content.csr_title }}</h1>
          <p class="cmn" style="text-align:justify;" v-html="content.csr_content"></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContentOnly",
  props: ["content"],
};
</script>

<style scoped>
@import "~/assets/css/certificateStyle.css";
</style>