<template>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="intro_wrapper" v-for="content in contents" :key="content.index">
      <template v-if="content.display_type==='mediaOnly'">
        <MediaOnly :content="content" />
      </template>
      <template v-else-if="content.display_type==='contentOnly'">
        <ContentOnly :content="content" />
      </template>
      <template v-else>
        <MediaContent :content="content" />
      </template>
      <hr />
    </div>
  </div>
</template>

<script>
import ContentOnly from "./contentOnly";
import MediaOnly from "./mediaOnly";
import MediaContent from "./mediaContent";
export default {
  name: "CsrContents",
  props: ["contents"],
  components: {
    ContentOnly,
    MediaOnly,
    MediaContent,
  },
};
</script>

<style scoped>
@import "~/assets/css/certificateStyle.css";
</style>