<template>
  <div class="mediaContent">
    <div v-if="content.position === 'left'" class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 class="cmnHd d-block d-sm-block d-md-none">
          {{ content.csr_title }}
        </h1>
        <div
          class="carousel-container position-relative row"
          style="padding: 0 15px"
        >
          <div class="row w-100 mx-0">
            <div class="col-md-12 col-lg-12 px-0">
              <div
                :id="[`myCarousel${content.index}`]"
                class="carousel slide a_carousel"
                data-ride="carousel"
                data-interval="false"
              >
                <div class="carousel-inner">
                  <div
                    class="carousel-item active carousel_hgt"
                    data-slide-number="0"
                  >
                    <img
                      v-if="content.media[0].type === 'image'"
                      :src="content.media[0].src"
                      class="d-block w-100"
                      alt="..."
                      data-remote="https://source.unsplash.com/Pn6iimgM-wo/"
                      data-type="image"
                      data-toggle="lightbox"
                      data-gallery="example-gallery"
                    />
                    <iframe
                      v-else
                      :src="content.media[0].src"
                      class="d-block w-100"
                    ></iframe>
                  </div>

                  <div
                    v-for="csr in content.media.slice(1)"
                    :key="csr.index"
                    class="carousel-item carousel_hgt"
                    :data-slide-number="csr.index"
                  >
                    <img
                      v-if="csr.type === 'image'"
                      :src="csr.src"
                      class="d-block w-100"
                      alt="..."
                      data-remote="https://source.unsplash.com/Pn6iimgM-wo/"
                      data-type="image"
                      data-toggle="lightbox"
                      data-gallery="example-gallery"
                    />
                    <iframe
                      v-else
                      :src="csr.src"
                      class="d-block w-100"
                    ></iframe>
                  </div>
                </div>
                <a
                  v-if="content.media.length > 1"
                  class="carousel-control-prev"
                  :href="[`#myCarousel${content.index}`]"
                  role="button"
                  data-slide="prev"
                  @click="stopVideo()"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  v-if="content.media.length > 1"
                  class="carousel-control-next"
                  :href="[`#myCarousel${content.index}`]"
                  role="button"
                  data-slide="next"
                  @click="stopVideo()"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!-- Carousel Navigation -->
            <div
              v-if="content.media.length > 1"
              class="col-md-12 col-lg-12 mt-2 px-0"
            >
              <div
                id="carousel-thumbs"
                class="carousel slide"
                data-ride="carousel"
                data-interval="false"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row w-100 mx-0">
                      <!-- <div id="carousel-selector-0"
                                                                     class="thumb vdoFst col-3 col-sm-2 selected p-0"
                                                                     data-target="#myCarousel" data-slide-to="0">
                                                                    <img src="images/nxtVdo.png" class="img-fluid" alt="...">
                      </div>-->
                      <div
                        v-for="csr in content.media"
                        :key="csr.index"
                        id="carousel-selector-1"
                        class="thumb col-3 col-sm-2 p-0 carousel_navHt"
                        :data-target="[`#myCarousel${content.index}`]"
                        :data-slide-to="csr.index"
                      >
                        <img
                          v-if="csr.type === 'image'"
                          :src="csr.src"
                          class="img-fluid"
                          alt="..."
                        />
                        <iframe
                          v-else
                          :src="csr.src"
                          class="d-block w-100"
                        ></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <a
                            class="carousel-control-next"
                            href="#carousel-thumbs"
                            role="button"
                            data-slide="next"
                          >
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                </a>-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="intro_content cnt_right">
          <h1 class="cmnHd d-none d-sm-none d-md-block">
            {{ content.csr_title }}
          </h1>
          <p
            class="cmn"
            style="text-align: justify"
            v-html="content.csr_content"
          ></p>
        </div>
      </div>
    </div>

    <div v-if="content.position === 'right'" class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 position-change">
        <div class="intro_content">
          <h1 class="cmnHd d-none d-sm-none d-md-block">
            {{ content.csr_title }}
          </h1>
          <p
            class="cmn"
            style="text-align: justify"
            v-html="content.csr_content"
          ></p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 class="cmnHd d-block d-sm-block d-md-none">
          {{ content.csr_title }}
        </h1>
        <div
          class="carousel-container position-relative row"
          style="padding: 0 15px"
        >
          <div class="row w-100 mx-0">
            <div class="col-md-12 col-lg-12 px-0">
              <div
                :id="[`myCarousel${content.index}`]"
                class="carousel slide a_carousel"
                data-interval="false"
              >
                <div class="carousel-inner">
                  <div
                    class="carousel-item active carousel_hgt"
                    data-slide-number="0"
                  >
                    <img
                      v-if="content.media[0].type === 'image'"
                      :src="content.media[0].src"
                      class="d-block w-100"
                      alt="..."
                      data-remote="https://source.unsplash.com/Pn6iimgM-wo/"
                      data-type="image"
                      data-toggle="lightbox"
                      data-gallery="example-gallery"
                    />
                    <iframe
                      v-else
                      :src="content.media[0].src"
                      class="d-block w-100"
                    ></iframe>
                  </div>

                  <div
                    v-for="csr in content.media.slice(1)"
                    :key="csr.index"
                    class="carousel-item carousel_hgt"
                    :data-slide-number="csr.index"
                  >
                    <img
                      v-if="csr.type === 'image'"
                      :src="csr.src"
                      class="d-block w-100"
                      alt="..."
                      data-remote="https://source.unsplash.com/Pn6iimgM-wo/"
                      data-type="image"
                      data-toggle="lightbox"
                      data-gallery="example-gallery"
                    />
                    <iframe
                      v-else
                      :src="csr.src"
                      class="d-block w-100"
                    ></iframe>
                  </div>
                </div>
                <a
                  v-if="content.media.length > 1"
                  class="carousel-control-prev"
                  :href="[`#myCarousel${content.index}`]"
                  role="button"
                  data-slide="prev"
                  @click="stopVideo()"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  v-if="content.media.length > 1"
                  class="carousel-control-next"
                  :href="[`#myCarousel${content.index}`]"
                  role="button"
                  data-slide="next"
                  @click="stopVideo()"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!-- Carousel Navigation -->
            <div
              v-if="content.media.length > 1"
              class="col-md-12 col-lg-12 mt-2 px-0"
            >
              <div
                id="carousel-thumbs"
                class="carousel slide"
                data-interval="false"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row w-100 mx-0">
                      <!-- <div id="carousel-selector-0"
                                                                     class="thumb vdoFst col-3 col-sm-2 selected p-0"
                                                                     data-target="#myCarousel" data-slide-to="0">
                                                                    <img src="images/nxtVdo.png" class="img-fluid" alt="...">
                      </div>-->
                      <div
                        v-for="csr in content.media"
                        :key="csr.index"
                        id="carousel-selector-1"
                        class="thumb col-3 col-sm-2 p-0 carousel_navHt"
                        :data-target="[`#myCarousel${content.index}`]"
                        :data-slide-to="csr.index"
                      >
                        <img
                          v-if="csr.type === 'image'"
                          :src="csr.src"
                          class="img-fluid"
                          alt="..."
                        />
                        <iframe
                          v-else
                          :src="csr.src"
                          class="d-block w-100"
                        ></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <a
                            class="carousel-control-next"
                            href="#carousel-thumbs"
                            role="button"
                            data-slide="next"
                          >
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                </a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MediaContent",
  props: ["content"],
  methods: {
    stopVideo() {
      var iframes = document.querySelectorAll("iframe");
      // console.log(" iframe  value ... :", iframes);
      Array.prototype.forEach.call(iframes, (iframe) => {
        iframe.contentWindow.postMessage(
          JSON.stringify({ event: "command", func: "pauseVideo" }),
          "*"
        );
      });
    },
  },
};
</script>

<style scoped>
@import "~/assets/css/certificateStyle.css";
</style>
