<template>
  <v-app style="background-color: #fff">
    <!-- Header -->
    <ComHeader></ComHeader>

    <section class="cert_frame">
      <div class="d-flex justify-content-center w-100">
        <div class="bnnr">
          <div class="main_sec">
            <h2>{{ message }}</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <Footer></Footer>
  </v-app>
</template>
<script>
import ComHeader from "~/components/ComHeader";
import Footer from "~/components/Footer";
export default {
  components: {
    ComHeader,
    Footer,
  },
  data() {
    return {
      token: "",
      message: "Verifying... Please Wait..",
    };
  },
  async beforeMount() {
    if (this.$auth.loggedIn == true) {
      localStorage.removeItem("UserDetails");
      // this.$auth.logout();
    }
    // console.log("params in url before mount", this.$route.params.token);
    const tocken = this.$route.params.token;
    await this.$axios
      .get(
        `AUTH_URL/v1/email/verify/${tocken}`,
        {},
        {
          withCredentials: true,
          crossDomain: true,
        }
      )
      .then((response) => {
        //console.log("verifed email response", response.data);
        this.message = response.data.message;
        setTimeout(function () {
          window.location.href = "/";
        }, 3500);
      })
      .catch((error) => {
        console.log("error", error);
        this.message = "Invalid link/ Link Expired";
        setTimeout(function () {
          window.location.href = "/";
        }, 3000);
      });
  },
};
</script>
